.node-red/flows_VitiXplore_20201208.json
[
    {
        "id": "5fed8ae7.8bb5a4",
        "type": "tab",
        "label": "UiBuilder-Vue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d447360.3ff9fc",
        "type": "tab",
        "label": "query score save",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1856e54.6882d1b",
        "type": "tab",
        "label": "PAIRS Queries tests",
        "disabled": false,
        "info": "Query PAIRS over REST/HTTP"
    },
    {
        "id": "fac93a33.099aa8",
        "type": "subflow",
        "name": "PAIRS Point Query",
        "info": "This subflow requires an input JSON that describes the parameters of the layers, point and temporal span\n\nThe request payload is in the form:\n{\n    \"layers\": [\n        \"16100\",\n        \"49440\",\n        \"49252\",\n        \"49257\",\n        \"49304\",\n        \"49313\",\n        \"50453\",\n        \"49310\",\n        \"49311\",\n        \"49250\",\n        \"49296\"\n    ],\n    \"refPoint\": {\n        \"lat\": \"49.080609\",\n        \"lng\": \"3.961231\"\n    },\n    \"startDay\": \"2018-06-30\",\n    \"endDay\": \"2018-10-31\"\n}",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 180,
                "wires": [
                    {
                        "id": "38f35b82.d1a314"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 300,
                "wires": [
                    {
                        "id": "9c19a3c6.e0c29",
                        "port": 0
                    }
                ]
            },
            {
                "x": 740,
                "y": 360,
                "wires": []
            },
            {
                "x": 740,
                "y": 420,
                "wires": [
                    {
                        "id": "c5bbd50a.eed5e8",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#C0C0C0",
        "outputLabels": [
            "response",
            "debug",
            "error"
        ],
        "icon": "node-red/white-globe.svg"
    },
    {
        "id": "6df36e9b.8f203",
        "type": "subflow",
        "name": "PAIRS Query Job",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 20,
                "wires": [
                    {
                        "id": "f0291164.cf42"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 400,
                "wires": [
                    {
                        "id": "997a38a1.fb2ec8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 460,
                "wires": [
                    {
                        "id": "b3f5dcd.085522",
                        "port": 1
                    }
                ]
            },
            {
                "x": 760,
                "y": 160,
                "wires": [
                    {
                        "id": "bdaf8767.c47d98",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 340,
                "wires": [
                    {
                        "id": "dacc29d6.b8d258",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 100,
                "wires": [
                    {
                        "id": "6df36e9b.8f203",
                        "port": 0
                    },
                    {
                        "id": "8d344825.1fd0e8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "polingDelayMs",
                "type": "num",
                "value": "3000"
            }
        ],
        "color": "#C0C0C0",
        "outputLabels": [
            "querySuccess",
            "queryFailure",
            "queryId",
            "queryProgress",
            "debugMsg"
        ]
    },
    {
        "id": "22be0357.6ef6fc",
        "type": "subflow",
        "name": "PAIRS Request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "276440b3.5fca6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 240,
                "wires": [
                    {
                        "id": "90e7e0f8.4b61c",
                        "port": 0
                    },
                    {
                        "id": "cee0e50c.c1c638",
                        "port": 1
                    }
                ]
            },
            {
                "x": 900,
                "y": 140,
                "wires": [
                    {
                        "id": "6b610517.1197cc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 960,
                "y": 320,
                "wires": [
                    {
                        "id": "9b5f91c3.41e42",
                        "port": 1
                    },
                    {
                        "id": "65cf2145.d7572",
                        "port": 2
                    },
                    {
                        "id": "65cf2145.d7572",
                        "port": 3
                    },
                    {
                        "id": "65cf2145.d7572",
                        "port": 4
                    }
                ]
            },
            {
                "x": 960,
                "y": 380,
                "wires": [
                    {
                        "id": "65cf2145.d7572",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "method",
                "type": "str",
                "value": ""
            },
            {
                "name": "url",
                "type": "str",
                "value": "https://pairs.res.ibm.com/v2/"
            },
            {
                "name": "appendPayloadToURL",
                "type": "bool",
                "value": "true"
            },
            {
                "name": "urlSuffix",
                "type": "str",
                "value": ""
            },
            {
                "name": "autoRetry",
                "type": "bool",
                "value": "false"
            },
            {
                "name": "convertToJSON",
                "type": "bool",
                "value": "true"
            }
        ],
        "color": "#3FADB5",
        "outputLabels": [
            "result",
            "debug",
            "error",
            "too many requests"
        ],
        "icon": "node-red/white-globe.svg"
    },
    {
        "id": "e68fbd7c.0431a",
        "type": "subflow",
        "name": "PAIRS Min-Mean-Max",
        "info": "This subflow requires an input JSON that describes the parameters of the layers, point and temporal span\n\nThe request payload is in the form:\n{\n    \"layers\": [\n        \"16100\",\n        \"49440\",\n        \"49252\",\n        \"49257\",\n        \"49304\",\n        \"49313\",\n        \"50453\",\n        \"49310\",\n        \"49311\",\n        \"49250\",\n        \"49296\"\n    ],\n    \"refPoint\": {\n        \"lat\": \"49.080609\",\n        \"lng\": \"3.961231\"\n    },\n    \"startDay\": \"2018-06-30\",\n    \"endDay\": \"2018-10-31\"\n}",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 240,
                "wires": [
                    {
                        "id": "3c01f6c1.eb661a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 200,
                "wires": [
                    {
                        "id": "3c865690.f7436a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 240,
                "wires": [
                    {
                        "id": "3c865690.f7436a",
                        "port": 1
                    }
                ]
            },
            {
                "x": 540,
                "y": 280,
                "wires": [
                    {
                        "id": "3c865690.f7436a",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#E9967A",
        "outputLabels": [
            "response",
            "debug",
            "error"
        ]
    },
    {
        "id": "45272af4.690614",
        "type": "subflow",
        "name": "PAIRS Scoring Query Job",
        "info": "Makes the scoring request to PAIRS",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 140,
                "wires": [
                    {
                        "id": "664e6cdb.72c354"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 480,
                "wires": [
                    {
                        "id": "6552faee.7f79b4",
                        "port": "4"
                    }
                ]
            },
            {
                "x": 880,
                "y": 540,
                "wires": [
                    {
                        "id": "b81ba735.6c0288",
                        "port": 2
                    },
                    {
                        "id": "e4b5f6b5.ac7a98",
                        "port": 2
                    },
                    {
                        "id": "6552faee.7f79b4",
                        "port": "5"
                    },
                    {
                        "id": "6552faee.7f79b4",
                        "port": "6"
                    }
                ]
            },
            {
                "x": 880,
                "y": 260,
                "wires": [
                    {
                        "id": "d51c34e7.201c88",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 420,
                "wires": [
                    {
                        "id": "6552faee.7f79b4",
                        "port": 0
                    },
                    {
                        "id": "6552faee.7f79b4",
                        "port": 1
                    },
                    {
                        "id": "6552faee.7f79b4",
                        "port": 2
                    },
                    {
                        "id": "6552faee.7f79b4",
                        "port": 3
                    }
                ]
            },
            {
                "x": 880,
                "y": 340,
                "wires": [
                    {
                        "id": "e4b5f6b5.ac7a98",
                        "port": 0
                    },
                    {
                        "id": "45272af4.690614",
                        "port": 0
                    },
                    {
                        "id": "b81ba735.6c0288",
                        "port": 1
                    },
                    {
                        "id": "e4b5f6b5.ac7a98",
                        "port": 1
                    },
                    {
                        "id": "babf9321.715a8",
                        "port": 0
                    },
                    {
                        "id": "5c397cc3.a01284",
                        "port": 0
                    },
                    {
                        "id": "5489d117.7fba7",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 180,
                "wires": []
            }
        ],
        "env": [
            {
                "name": "polingDelayMs",
                "type": "num",
                "value": "3000"
            }
        ],
        "color": "#0088EE",
        "outputLabels": [
            "querySuccess",
            "queryFailure",
            "queryId",
            "queryProgress",
            "debugMsg",
            "queryJSON"
        ]
    },
    {
        "id": "b14a35fc.a33548",
        "type": "subflow",
        "name": "PAIRS Layers Details",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "acda743b.735d48"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 120,
                "wires": [
                    {
                        "id": "14fdbe57.397492",
                        "port": 0
                    }
                ]
            },
            {
                "x": 920,
                "y": 220,
                "wires": [
                    {
                        "id": "7279cf64.23dc1",
                        "port": 1
                    },
                    {
                        "id": "aa73b87b.5f31b8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 920,
                "y": 280,
                "wires": [
                    {
                        "id": "7279cf64.23dc1",
                        "port": 2
                    },
                    {
                        "id": "acda743b.735d48",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "layersKey",
                "type": "str",
                "value": "layers"
            }
        ],
        "color": "#FFCC66",
        "inputLabels": [
            "layers"
        ],
        "outputLabels": [
            "layersDetails",
            "msg",
            "error"
        ],
        "icon": "node-red/debug.svg"
    },
    {
        "id": "3aa70edc.b22322",
        "type": "subflow",
        "name": "Query colorTable - Subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "cfce9bd3.401138"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 400,
                "wires": [
                    {
                        "id": "1c3a2a7d.41e506",
                        "port": 0
                    }
                ]
            },
            {
                "x": 940,
                "y": 100,
                "wires": [
                    {
                        "id": "cfce9bd3.401138",
                        "port": 1
                    },
                    {
                        "id": "3523cf98.89d7d",
                        "port": 0
                    },
                    {
                        "id": "5547f1e.c0a021",
                        "port": 1
                    }
                ]
            },
            {
                "x": 940,
                "y": 160,
                "wires": [
                    {
                        "id": "cfce9bd3.401138",
                        "port": 2
                    },
                    {
                        "id": "5547f1e.c0a021",
                        "port": 2
                    },
                    {
                        "id": "5547f1e.c0a021",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [],
        "color": "#E2D96E",
        "outputLabels": [
            "result",
            "debug",
            "error"
        ]
    },
    {
        "id": "a15ea8b9.f75a28",
        "type": "subflow",
        "name": "PAIRS Scoring Query Job",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 20,
                "wires": [
                    {
                        "id": "aa8f0cf6.29a0d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 380,
                "wires": [
                    {
                        "id": "653791b0.25ba5",
                        "port": "4"
                    }
                ]
            },
            {
                "x": 880,
                "y": 440,
                "wires": [
                    {
                        "id": "653791b0.25ba5",
                        "port": "5"
                    },
                    {
                        "id": "653791b0.25ba5",
                        "port": "6"
                    }
                ]
            },
            {
                "x": 880,
                "y": 140,
                "wires": [
                    {
                        "id": "44611078.c536c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 320,
                "wires": [
                    {
                        "id": "653791b0.25ba5",
                        "port": 0
                    },
                    {
                        "id": "653791b0.25ba5",
                        "port": 1
                    },
                    {
                        "id": "653791b0.25ba5",
                        "port": 2
                    },
                    {
                        "id": "653791b0.25ba5",
                        "port": 3
                    }
                ]
            },
            {
                "x": 880,
                "y": 240,
                "wires": [
                    {
                        "id": "a15ea8b9.f75a28",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 60,
                "wires": [
                    {
                        "id": "5d87971e.94ea08",
                        "port": 0
                    },
                    {
                        "id": "137fcb7e.509335",
                        "port": 0
                    },
                    {
                        "id": "f82ca1ae.424aa",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "polingDelayMs",
                "type": "num",
                "value": "3000"
            }
        ],
        "color": "#C0C0C0",
        "outputLabels": [
            "querySuccess",
            "queryFailure",
            "queryId",
            "queryProgress",
            "debugMsg",
            "queryJSON"
        ]
    },
    {
        "id": "dbc32d84.e0c05",
        "type": "subflow",
        "name": "PAIRS AOIs Polygons",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "2abd8130.e8909e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 60,
                "wires": [
                    {
                        "id": "b8d6bf31.67559",
                        "port": 0
                    }
                ]
            },
            {
                "x": 960,
                "y": 140,
                "wires": [
                    {
                        "id": "c933e5ae.d57a68",
                        "port": 1
                    }
                ]
            },
            {
                "x": 960,
                "y": 220,
                "wires": [
                    {
                        "id": "388f1fa3.2e7c4",
                        "port": "1"
                    },
                    {
                        "id": "4d31b795.f8ab48",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "maxRetries",
                "type": "num",
                "value": "10"
            }
        ],
        "color": "#DDAA99",
        "inputLabels": [
            "payload"
        ],
        "outputLabels": [
            "result",
            "debug",
            "error"
        ]
    },
    {
        "id": "37b9e0f6.a85f2",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7847f5a7.c7b48c",
        "type": "ui_tab",
        "z": 0,
        "name": "Simple PAIRS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4bc43045.d5d3b",
        "type": "ui_tab",
        "z": 0,
        "name": "Viti View",
        "icon": "fa-glass",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e88f5e6.03c78c",
        "type": "ui_tab",
        "z": 0,
        "name": "Entfeuchter",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "6a6ca1a6.b8e9b",
        "type": "ui_tab",
        "z": 0,
        "name": "Test Bootstrap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "706fca83.cc29e4",
        "type": "ui_tab",
        "z": 0,
        "name": "Simple PAIRS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77936f58.75b1e",
        "type": "ui_tab",
        "z": 0,
        "name": "Viti View",
        "icon": "fa-glass",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2af51d3.acb7a",
        "type": "ui_tab",
        "z": 0,
        "name": "Entfeuchter",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "bacdc44a.3817e8",
        "type": "ui_tab",
        "z": 0,
        "name": "Test Bootstrap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fa3d925.d65af8",
        "type": "ui_tab",
        "z": 0,
        "name": "Simple PAIRS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ead0958.941b96",
        "type": "ui_tab",
        "z": 0,
        "name": "Viti View",
        "icon": "fa-glass",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b626bacc.d5b718",
        "type": "ui_tab",
        "z": 0,
        "name": "Entfeuchter",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "fe08ed6d.c2841",
        "type": "ui_tab",
        "z": 0,
        "name": "Test Bootstrap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6a841abe.5ae404",
        "type": "ui_tab",
        "z": 0,
        "name": "Simple PAIRS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3df39316.5282bc",
        "type": "ui_tab",
        "z": 0,
        "name": "Viti View",
        "icon": "fa-glass",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99cc199c.5fa5c8",
        "type": "ui_tab",
        "z": 0,
        "name": "Entfeuchter",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "29bbc9b4.3fa516",
        "type": "ui_tab",
        "z": 0,
        "name": "Test Bootstrap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "babd6fb4.efce5",
        "type": "ui_tab",
        "z": 0,
        "name": "Simple PAIRS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8d6f3870.6264d8",
        "type": "ui_tab",
        "z": 0,
        "name": "Viti View",
        "icon": "fa-glass",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ec7a6417.e663b8",
        "type": "ui_tab",
        "z": 0,
        "name": "Entfeuchter",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "4443bd86.4770e4",
        "type": "ui_tab",
        "z": 0,
        "name": "Test Bootstrap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2566f80.462b4",
        "type": "ui_group",
        "z": 0,
        "name": "Simple PAIRS",
        "tab": "7847f5a7.c7b48c",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "a67d045c.bb6038",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "4bc43045.d5d3b",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "4566001.f5bbd",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "bacb64a8.5fc238",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "d7f5a3c9.150a5",
        "type": "ui_group",
        "z": 0,
        "name": "Entfeuchter Chart",
        "tab": "6e88f5e6.03c78c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2ca8b8c.9af0b8",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "6a6ca1a6.b8e9b",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "61420303.59071c",
        "type": "ui_group",
        "z": 0,
        "name": "Simple PAIRS",
        "tab": "706fca83.cc29e4",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "2fad93a7.d54fec",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "77936f58.75b1e",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "82a4e999.141798",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "9dfbf7d8.6582a8",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "3c9ba877.9180d8",
        "type": "ui_group",
        "z": 0,
        "name": "Entfeuchter Chart",
        "tab": "a2af51d3.acb7a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e5c6c1fb.62ea3",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "bacdc44a.3817e8",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d3038d41.b467",
        "type": "ui_group",
        "z": 0,
        "name": "Simple PAIRS",
        "tab": "6fa3d925.d65af8",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "ee17d09c.5ac0b",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "2ead0958.941b96",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "8922bb68.e4cd48",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "17eeae6f.037662",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "fece357f.82bcc8",
        "type": "ui_group",
        "z": 0,
        "name": "Entfeuchter Chart",
        "tab": "b626bacc.d5b718",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "52fc2436.51b34c",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "fe08ed6d.c2841",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "dee4eff9.a9c9",
        "type": "ui_group",
        "z": 0,
        "name": "Simple PAIRS",
        "tab": "6a841abe.5ae404",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "b231b249.18798",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "3df39316.5282bc",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "ec8c2300.c605c",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "e9d95dab.d966b",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "69c3187d.ffb1a8",
        "type": "ui_group",
        "z": 0,
        "name": "Entfeuchter Chart",
        "tab": "99cc199c.5fa5c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "420affe5.b8e4f",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "29bbc9b4.3fa516",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d081afdb.7b153",
        "type": "ui_group",
        "z": 0,
        "name": "Simple PAIRS",
        "tab": "babd6fb4.efce5",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "9b16ec6a.5908a",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "8d6f3870.6264d8",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "7b72899.38e6578",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "60cdfa92.2a2024",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6afc40ba.f11d1",
        "type": "ui_group",
        "z": 0,
        "name": "Entfeuchter Chart",
        "tab": "ec7a6417.e663b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eef6288d.b053f8",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "4443bd86.4770e4",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d9f50cf7.e27e6",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2a1bc189.10202e",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5db89700.d97188",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "81eb560b.cb3438",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9841fac.a5dd308",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "aaff1445.753488",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "54fc0fef.b9af1",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a88186ad.5d4298",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "254be5b3.46d9da",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "31c95578.d517ba",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "dfd39396.c27e9",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "71072f3e.ca36a",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "9a228e6a.52a8d",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "a47c069f.0f28e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "6b611cab.13b594",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "53922f39.cb13",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "17534c60.2973f4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "f995197a.af1bd8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "4566001.f5bbd",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "4e644bce.3606b4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "a67d045c.bb6038",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "836ae620.055548",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "a67d045c.bb6038",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "6f249f44.e583c",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "a67d045c.bb6038",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "5c6bb160.ef105",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "a67d045c.bb6038",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "6785ceaa.2e6ca",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "a67d045c.bb6038",
        "order": 27,
        "width": 10,
        "height": 1
    },
    {
        "id": "4f1cb7c4.dc19f8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9d6d906d.3b96f",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "1bdb4fad.ab132",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "26a014e5.a8edbc",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "e60b89b6.fb8d08",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "5f4e0940.6c99f8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "93f2ea55.da79e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "d6e15e34.e4d4e",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "dabbe73f.7627d8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "97cd2d37.97571",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e8c00f4b.8507a",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8914ddec.aa6b7",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "9d4641f9.8800e",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba8dfb5e.044c88",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "b0120330.03428",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "d193e10.006cf2",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "e8a444ab.75a9c8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "995e34fa.2d1b38",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "82a4e999.141798",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "dc085b06.2ad9b8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2fad93a7.d54fec",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "85ea6f78.c3e83",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2fad93a7.d54fec",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "10caa693.40b1c9",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2fad93a7.d54fec",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "3ad05f60.a6e7e",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2fad93a7.d54fec",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "787a76a5.48ba58",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "2fad93a7.d54fec",
        "order": 27,
        "width": 10,
        "height": 1
    },
    {
        "id": "4c63c857.60bc68",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "733061b4.6b0e8",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "23aa63ce.b33a1c",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "ae22ef84.28c4f",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "c2f9be9f.1feeb",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "c7d2c756.4b6d58",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "45912c82.2f1ea4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "3e96017a.6cc12e",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "f1743114.f4ce9",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "76fc3372.c5cd6c",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5eabadb2.e92c64",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "606bc891.181908",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "e96cbbaf.701728",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "e02982d2.7d412",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "755940f8.c3a0f",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "16320b07.6ed505",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "6ee3161b.a1f588",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "97bc77df.42f0e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "8922bb68.e4cd48",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "3bd3c72f.12dc68",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ee17d09c.5ac0b",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "5653407f.a2dcb",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ee17d09c.5ac0b",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "f5c87730.9bc4e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ee17d09c.5ac0b",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "fe0996bb.27d668",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ee17d09c.5ac0b",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "8aa6f503.437ba8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ee17d09c.5ac0b",
        "order": 27,
        "width": 10,
        "height": 1
    },
    {
        "id": "7d5d6c48.444764",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "48b04330.d2a6cc",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7ce5c8c.66e81",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "e52a0a9f.8db448",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "3901ec18.9244a4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "efddba.87ba7248",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "51b8b6d1.5b7e58",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "5bd8ae15.c402d",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "56c906b9.fb6da8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "17f0b436.aa434c",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "136ac0a5.933a9f",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "28cf9059.82fd7",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "27f68239.7fa7ae",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "b7675171.0521b",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "7c0b71d9.b9ca7",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "7b750560.b70bbc",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "8b6e3b18.9529c8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "b756d88e.e3e6d8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "ec8c2300.c605c",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "6cd27c0f.5a2ca4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "b231b249.18798",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "3e86b421.7dbabc",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "b231b249.18798",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "76ac6a4a.7a6a14",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "b231b249.18798",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "10c5c4b2.cdb7db",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "b231b249.18798",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "1a0c22f9.b1723d",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "b231b249.18798",
        "order": 27,
        "width": 10,
        "height": 1
    },
    {
        "id": "d340869f.eed7e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7f6d1bbc.b842f4",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "f328444f.cbd7b8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "f18605f.d24c9f8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "eab3a62d.1d4498",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "bf269dd.a7c816",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "146787eb.3809e8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "439ccab8.ceb9b4",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "d29b8c50.712a7",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "bed9c3d2.86711",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "ceba7868.2f6488",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1818ba4.228e98",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "108b6f00.50c9a1",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "465a85ef.5a15dc",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "74461845.bb6a38",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "fed38999.9f46b8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "fc751aed.c52768",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "13b0b423.189bbc",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "3bb82da9.c030d2",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "7b72899.38e6578",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "9efca068.f3c36",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9b16ec6a.5908a",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "61cb1024.2176b",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9b16ec6a.5908a",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "7b009f08.f3a0e",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9b16ec6a.5908a",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "cde735ae.8b88b8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9b16ec6a.5908a",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "56a8c9c1.47c778",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": "9b16ec6a.5908a",
        "order": 27,
        "width": 10,
        "height": 1
    },
    {
        "id": "19913a0d.121dd6",
        "type": "inject",
        "z": "6df36e9b.8f203",
        "name": "Large query-Don't use!",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[{\"type\":\"raster\",\"id\":\"51\"}],\"spatial\":{\"type\":\"square\",\"coordinates\":[\"35.6523\",\"-87.62\",\"51.6523\",\"-71.62\"]},\"temporal\":{\"intervals\":[{\"snapshot\":\"2018-05-31T00:00:00Z\"}]}}",
        "payloadType": "json",
        "x": 160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c71a2497.674718",
        "type": "change",
        "z": "6df36e9b.8f203",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c5517a27.0c2fe8"
            ]
        ]
    },
    {
        "id": "3ddc29ae.74e026",
        "type": "json",
        "z": "6df36e9b.8f203",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "c71a2497.674718",
                "bdaf8767.c47d98"
            ]
        ]
    },
    {
        "id": "29e9b64f.d413da",
        "type": "json",
        "z": "6df36e9b.8f203",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "dacc29d6.b8d258"
            ]
        ]
    },
    {
        "id": "186c481f.e7cf48",
        "type": "delay",
        "z": "6df36e9b.8f203",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dacc29d6.b8d258",
        "type": "switch",
        "z": "6df36e9b.8f203",
        "name": "Test not ready",
        "property": "payload.ready",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "c71a2497.674718"
            ],
            [
                "b3f5dcd.085522"
            ]
        ],
        "outputLabels": [
            "not ready",
            "ready"
        ]
    },
    {
        "id": "bcb9c3fa.d9096",
        "type": "inject",
        "z": "6df36e9b.8f203",
        "name": "Viti Layers UDF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"fichierRef 02_09_2020 Hackaton01\",\"layers\":[{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Mean\",\"alias\":\"49250_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Max\",\"alias\":\"49250_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Min\",\"alias\":\"49250_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Mean\",\"alias\":\"49257_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Max\",\"alias\":\"49257_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Min\",\"alias\":\"49257_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Mean\",\"alias\":\"49304_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Max\",\"alias\":\"49304_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Min\",\"alias\":\"49304_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Mean\",\"alias\":\"49311_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Max\",\"alias\":\"49311_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Min\",\"alias\":\"49311_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Mean\",\"alias\":\"49423_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Max\",\"alias\":\"49423_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Min\",\"alias\":\"49423_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Mean\",\"alias\":\"49432_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Max\",\"alias\":\"49432_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Min\",\"alias\":\"49432_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Mean\",\"alias\":\"49433_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Max\",\"alias\":\"49433_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Min\",\"alias\":\"49433_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Mean\",\"alias\":\"49441_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Max\",\"alias\":\"49441_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Min\",\"alias\":\"49441_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Mean\",\"alias\":\"49454_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Max\",\"alias\":\"49454_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Min\",\"alias\":\"49454_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Mean\",\"alias\":\"49459_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Max\",\"alias\":\"49459_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Min\",\"alias\":\"49459_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Mean\",\"alias\":\"50509_Mean\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Max\",\"alias\":\"50509_Max\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Min\",\"alias\":\"50509_Min\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"alias\":\"result_01_01\",\"expression\":\"( (( $49250_Mean >= 2.321849897949975 && $49250_Mean <= 2.368755956494419) ? 1 : 0 ) + (( $49250_Max >= 77.41799697875976 && $49250_Max <= 78.98199691772462) ? 1 : 0 ) + (( $49250_Min >= 0.0 && $49250_Min <= 0.0) ? 1 : 0 ) + (( $49257_Mean >= 284.1551711524563 && $49257_Mean <= 289.8956796605868) ? 1 : 0 ) + (( $49257_Max >= 310.66198791503905 && $49257_Max <= 316.93798767089845) ? 1 : 0 ) + (( $49257_Min >= 265.4190060424804 && $49257_Min <= 270.7810061645507) ? 1 : 0 ) + (( $49304_Mean >= 279.1707334716049 && $49304_Mean <= 284.81054626901107) ? 1 : 0 ) + (( $49304_Max >= 290.86198791503904 && $49304_Max <= 296.73798767089846) ? 1 : 0 ) + (( $49304_Min >= 264.825 && $49304_Min <= 270.175) ? 1 : 0 ) + (( $49311_Mean >= 0.99 && $49311_Mean <= 1.01) ? 1 : 0 ) + (( $49311_Max >= 7.92 && $49311_Max <= 8.08) ? 1 : 0 ) + (( $49311_Min >= 0.0 && $49311_Min <= 0.0) ? 1 : 0 ) + (( $49423_Mean >= 284.5703098782602 && $49423_Mean <= 290.319205027316) ? 1 : 0 ) + (( $49423_Max >= 312.1891644287109 && $49423_Max <= 318.4960162353516) ? 1 : 0 ) + (( $49423_Min >= 266.8143054199219 && $49423_Min <= 272.2044934082031) ? 1 : 0 ) + (( $49432_Mean >= 1.4711724457070526e-05 && $49432_Mean <= 1.500893101175882e-05) ? 1 : 0 ) + (( $49432_Max >= 0.0012394013861194253 && $49432_Max <= 0.0012644397979602218) ? 1 : 0 ) + (( $49432_Min >= 0.0 && $49432_Min <= 0.0) ? 1 : 0 ) + (( $49433_Mean >= 5.619700130714136e-05 && $49433_Mean <= 5.7332294262841185e-05) ? 1 : 0 ) + (( $49433_Max >= 0.004692061319947243 && $49433_Max <= 0.004786850437521936) ? 1 : 0 ) + (( $49433_Min >= 0.0 && $49433_Min <= 0.0) ? 1 : 0 ) + (( $49441_Mean >= 763428.8643517453 && $49441_Mean <= 778851.6696921847) ? 1 : 0 ) + (( $49441_Max >= 3230569.7325 && $49441_Max <= 3295833.7675) ? 1 : 0 ) + (( $49441_Min >= 0.0 && $49441_Min <= 0.0) ? 1 : 0 ) + (( $49454_Mean >= 0.6154233965255467 && $49454_Mean <= 0.6278561924149517) ? 1 : 0 ) + (( $49454_Max >= 0.99 && $49454_Max <= 1.01) ? 1 : 0 ) + (( $49454_Min >= 0.0 && $49454_Min <= 0.0) ? 1 : 0 ) + (( $49459_Mean >= 0.00010613992575907212 && $49459_Mean <= 0.00010828416668349784) ? 1 : 0 ) + (( $49459_Max >= 0.004916948159225286 && $49459_Max <= 0.005016280445270241) ? 1 : 0 ) + (( $49459_Min >= 0.0 && $49459_Min <= 0.0) ? 1 : 0 ) + (( $50509_Mean >= 7.1379 && $50509_Mean <= 7.2821) ? 1 : 0 ) + (( $50509_Max >= 7.1379 && $50509_Max <= 7.2821) ? 1 : 0 ) + (( $50509_Min >= 7.1379 && $50509_Min <= 7.2821) ? 1 : 0 ) / 33 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":\"38662\"},\"temporal\":{\"intervals\":[{\"start\":\"2019-05-01T00:00:00Z\",\"end\":\"2019-12-31T23:59:59Z\"}]}}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9c19a3c6.e0c29",
        "type": "json",
        "z": "fac93a33.099aa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "38f35b82.d1a314",
        "type": "template",
        "z": "fac93a33.099aa8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"layers\": [\n    {{#payload.layers}}\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Min\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Max\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"point\",\n        \"coordinates\": [\n            \"{{payload.pos.lat}}\",\n            \"{{payload.pos.lng}}\"\n        ]\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "cd6450aa.c06f6"
            ]
        ]
    },
    {
        "id": "a0d1aece.92c32",
        "type": "json",
        "z": "fac93a33.099aa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6450aa.c06f6",
        "type": "function",
        "z": "fac93a33.099aa8",
        "name": "FixJSON",
        "func": "msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "a0d1aece.92c32"
            ]
        ]
    },
    {
        "id": "c5517a27.0c2fe8",
        "type": "change",
        "z": "6df36e9b.8f203",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "polingDelayMs",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "186c481f.e7cf48"
            ]
        ]
    },
    {
        "id": "b3f5dcd.085522",
        "type": "switch",
        "z": "6df36e9b.8f203",
        "name": "Test success",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Succeeded",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "997a38a1.fb2ec8"
            ],
            []
        ],
        "outputLabels": [
            "Succeeded",
            "Failed"
        ]
    },
    {
        "id": "f0291164.cf42",
        "type": "template",
        "z": "6df36e9b.8f203",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"NodeRED_Ref {{payload.pos.lat}}-{{payload.pos.lng}}\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \"alias\": \"{{.}}_Mean\",\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": \"38662\"\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 180,
        "y": 20,
        "wires": [
            [
                "6f4b9477.d10bfc"
            ]
        ]
    },
    {
        "id": "6f4b9477.d10bfc",
        "type": "function",
        "z": "6df36e9b.8f203",
        "name": "FixJSON",
        "func": "msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 20,
        "wires": [
            [
                "8d344825.1fd0e8"
            ]
        ]
    },
    {
        "id": "8d344825.1fd0e8",
        "type": "json",
        "z": "6df36e9b.8f203",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "bdaf8767.c47d98",
        "type": "change",
        "z": "6df36e9b.8f203",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "997a38a1.fb2ec8",
        "type": "json",
        "z": "6df36e9b.8f203",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "35ebbce9.630e44",
        "type": "comment",
        "z": "fac93a33.099aa8",
        "name": "Generate Min-Mean-Max query for mutiple layers",
        "info": "Generate",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5bbd50a.eed5e8",
        "type": "switch",
        "z": "fac93a33.099aa8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "9c19a3c6.e0c29"
            ],
            []
        ],
        "outputLabels": [
            "ok",
            "error"
        ]
    },
    {
        "id": "6b610517.1197cc",
        "type": "http request",
        "z": "22be0357.6ef6fc",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "65cf2145.d7572"
            ]
        ]
    },
    {
        "id": "d51c34e7.201c88",
        "type": "change",
        "z": "45272af4.690614",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "b81ba735.6c0288"
            ]
        ]
    },
    {
        "id": "e4b5f6b5.ac7a98",
        "type": "subflow:22be0357.6ef6fc",
        "z": "45272af4.690614",
        "name": "POST query",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/query",
                "type": "str"
            }
        ],
        "x": 130,
        "y": 300,
        "wires": [
            [
                "d51c34e7.201c88"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "c63c4fef.64ee5",
        "type": "change",
        "z": "22be0357.6ef6fc",
        "name": "Payload as data",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "method",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "url",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "a5d11332.53ac8"
            ]
        ]
    },
    {
        "id": "b81ba735.6c0288",
        "type": "subflow:22be0357.6ef6fc",
        "z": "45272af4.690614",
        "name": "GET queryjobs",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "6552faee.7f79b4"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "276440b3.5fca6",
        "type": "switch",
        "z": "22be0357.6ef6fc",
        "name": "",
        "property": "method",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "POST",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c63c4fef.64ee5"
            ],
            [
                "c4faa10f.99ded"
            ]
        ]
    },
    {
        "id": "9e97f404.322068",
        "type": "change",
        "z": "22be0357.6ef6fc",
        "name": "Payload appended to URL",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "method",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$join([$env(\"url\"),$string(payload),$env(\"urlSuffix\")])\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "a5d11332.53ac8"
            ]
        ]
    },
    {
        "id": "9d0b864a.53d0b8",
        "type": "delay",
        "z": "45272af4.690614",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "b81ba735.6c0288"
            ]
        ]
    },
    {
        "id": "d78059a8.60d3b8",
        "type": "subflow:22be0357.6ef6fc",
        "z": "1856e54.6882d1b",
        "name": "GET queryjobs/download/",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/download/",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ],
            []
        ]
    },
    {
        "id": "b49291fc.7e444",
        "type": "change",
        "z": "1856e54.6882d1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "d78059a8.60d3b8"
            ]
        ]
    },
    {
        "id": "3de156be.a97d3a",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "lastQuery",
        "payloadType": "flow",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d78059a8.60d3b8"
            ]
        ]
    },
    {
        "id": "3c865690.f7436a",
        "type": "subflow:22be0357.6ef6fc",
        "z": "e68fbd7c.0431a",
        "name": "POST query",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/query",
                "type": "str"
            },
            {
                "name": "appendPayloadToURL",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 410,
        "y": 240,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "7fd3ba94.6651b4",
        "type": "debug",
        "z": "1856e54.6882d1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "c4faa10f.99ded",
        "type": "switch",
        "z": "22be0357.6ef6fc",
        "name": "",
        "property": "appendPayloadToURL",
        "propertyType": "env",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "c63c4fef.64ee5"
            ],
            [
                "9e97f404.322068"
            ]
        ]
    },
    {
        "id": "69f422.32d27be",
        "type": "subflow:e68fbd7c.0431a",
        "z": "1856e54.6882d1b",
        "name": "",
        "env": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ]
        ]
    },
    {
        "id": "8b5cacc2.3cf7c",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test Layer 49058",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"49058\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "69f422.32d27be"
            ]
        ]
    },
    {
        "id": "5f58df45.dd49c",
        "type": "subflow:22be0357.6ef6fc",
        "z": "1856e54.6882d1b",
        "name": "GET queryjobs/{payload}/layers",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/",
                "type": "str"
            },
            {
                "name": "urlSuffix",
                "value": "/layers",
                "type": "str"
            }
        ],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ],
            []
        ]
    },
    {
        "id": "fce50e6d.e1d67",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "lastQuery",
        "payloadType": "flow",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "5f58df45.dd49c"
            ]
        ]
    },
    {
        "id": "4a41dfd4.ae7c5",
        "type": "change",
        "z": "45272af4.690614",
        "name": "setDelay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "polingDelayMs",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "9d0b864a.53d0b8"
            ]
        ]
    },
    {
        "id": "f782f8ad.570d28",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test 11 layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"49440\",\"49252\",\"49257\",\"49304\",\"49313\",\"50453\",\"49310\",\"49311\",\"49250\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "69f422.32d27be"
            ]
        ]
    },
    {
        "id": "cb6efb86.f88a88",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test 2 layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"49440\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "69f422.32d27be"
            ]
        ]
    },
    {
        "id": "b19d6d1b.31437",
        "type": "debug",
        "z": "1856e54.6882d1b",
        "name": "debug msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "261f38ba.b307a8",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test Point Query",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Max\"}],\"spatial\":{\"type\":\"point\",\"coordinates\":[\"49.080609\",\"3.961231\"]},\"temporal\":{\"intervals\":[{\"start\":\"2018-06-30T00:00:00Z\",\"end\":\"2018-10-31T00:00:00Z\"}]}}",
        "payloadType": "json",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "dd598095.d9e47"
            ]
        ]
    },
    {
        "id": "dd598095.d9e47",
        "type": "subflow:22be0357.6ef6fc",
        "z": "1856e54.6882d1b",
        "name": "POST query",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/query",
                "type": "str"
            },
            {
                "name": "appendPayloadToURL",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ],
            []
        ]
    },
    {
        "id": "e2435632.28e3b8",
        "type": "comment",
        "z": "e68fbd7c.0431a",
        "name": "Generate Min-Mean-Max query for mutiple layers",
        "info": "Generate",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "e58eee43.fdd1f",
        "type": "debug",
        "z": "1856e54.6882d1b",
        "name": "error msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "7279cf64.23dc1",
        "type": "subflow:22be0357.6ef6fc",
        "z": "b14a35fc.a33548",
        "name": "",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/datalayers/",
                "type": "str"
            }
        ],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "14fdbe57.397492"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "aa73b87b.5f31b8",
        "type": "split",
        "z": "b14a35fc.a33548",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "7279cf64.23dc1"
            ]
        ]
    },
    {
        "id": "2d219b6.ad32e64",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test 2 layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"49440\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "2c573e79.93cb62"
            ]
        ]
    },
    {
        "id": "3d08812c.15e0de",
        "type": "change",
        "z": "b14a35fc.a33548",
        "name": "set layers",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.layers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "aa73b87b.5f31b8"
            ]
        ]
    },
    {
        "id": "14fdbe57.397492",
        "type": "join",
        "z": "b14a35fc.a33548",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9488717b.662d8",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test 11 layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"49440\",\"49252\",\"49257\",\"49304\",\"49313\",\"50453\",\"49310\",\"49311\",\"49250\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2c573e79.93cb62"
            ]
        ]
    },
    {
        "id": "8d2a2e1b.32182",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Test Layer 16100,49058,49296",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"49058\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
        "payloadType": "json",
        "x": 170,
        "y": 20,
        "wires": [
            [
                "2c573e79.93cb62"
            ]
        ]
    },
    {
        "id": "2c573e79.93cb62",
        "type": "subflow:b14a35fc.a33548",
        "z": "1856e54.6882d1b",
        "name": "",
        "env": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ]
        ]
    },
    {
        "id": "acda743b.735d48",
        "type": "switch",
        "z": "b14a35fc.a33548",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "layersKey",
                "vt": "env"
            },
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "3d08812c.15e0de"
            ],
            [
                "aa73b87b.5f31b8"
            ],
            []
        ]
    },
    {
        "id": "47d3c58f.75cb7c",
        "type": "comment",
        "z": "b14a35fc.a33548",
        "name": "This subflow gets full layers details",
        "info": "Input can be either a array of layerIDs, or a member which is itself an array or layerIDs",
        "x": 230,
        "y": 380,
        "wires": []
    },
    {
        "id": "90e7e0f8.4b61c",
        "type": "json",
        "z": "22be0357.6ef6fc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a83e9bae.8c9a68",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "debug msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "80a88b8f.298e78",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "uibuilder ready",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "e57dd0c9.ea93f",
        "type": "switch",
        "z": "5fed8ae7.8bb5a4",
        "name": "switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "initLayers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadLayers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadAOIs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scoringQuery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scoringLayers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listQueryJobs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deleteQueryJob",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mapClick",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mapMove",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mapMoveend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mapZoomend",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 12,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "a5bfb3db.d933d"
            ],
            [
                "6a3160f6.b8e73"
            ],
            [
                "bbcfcde3.fb03c"
            ],
            [
                "34297c82.3e0c04"
            ],
            [
                "627c085a.b13dd8"
            ],
            [
                "be1041fc.81f6c"
            ],
            [
                "2ae93902.04ff96"
            ],
            [
                "3e5705db.ca5e9a"
            ],
            [],
            [],
            [],
            [
                "8f1f4081.886b1"
            ]
        ]
    },
    {
        "id": "36aee627.0b693a",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "trace UI Command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "3e5705db.ca5e9a",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "setRefPointMarker",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setRefPointMarker",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 840,
        "wires": [
            [
                "2704965f.c8c6fa"
            ]
        ]
    },
    {
        "id": "3624727e.85076e",
        "type": "link in",
        "z": "5fed8ae7.8bb5a4",
        "name": "toFront",
        "links": [
            "2704965f.c8c6fa"
        ],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "efc32871.ff0a38",
                "36aee627.0b693a"
            ]
        ]
    },
    {
        "id": "2704965f.c8c6fa",
        "type": "link out",
        "z": "5fed8ae7.8bb5a4",
        "name": "PAIRS ok",
        "links": [
            "3624727e.85076e"
        ],
        "x": 1015,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a3160f6.b8e73",
        "type": "subflow:e68fbd7c.0431a",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "env": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "2704965f.c8c6fa",
                "559eecc0.9adae4"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ]
        ]
    },
    {
        "id": "6a2b5197.2396f",
        "type": "subflow:b14a35fc.a33548",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "env": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "2704965f.c8c6fa"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ]
        ],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "a5bfb3db.d933d",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "set Layers",
        "rules": [
            {
                "t": "set",
                "p": "payload.layers",
                "pt": "msg",
                "to": "layers",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "6a2b5197.2396f"
            ]
        ]
    },
    {
        "id": "8f1f4081.886b1",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "Set pairsError",
        "rules": [
            {
                "t": "set",
                "p": "pairsError",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "2704965f.c8c6fa",
                "ec54685c.664f98"
            ]
        ]
    },
    {
        "id": "7adeb8a1.81de58",
        "type": "switch",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "property": "uibuilderCtrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ready for content",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "80a88b8f.298e78",
                "30ca398a.e6ac66"
            ],
            []
        ]
    },
    {
        "id": "30ca398a.e6ac66",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "uibuilderCtrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "from",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cacheControl",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "init",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "80a88b8f.298e78",
                "2704965f.c8c6fa"
            ]
        ]
    },
    {
        "id": "bbcfcde3.fb03c",
        "type": "subflow:22be0357.6ef6fc",
        "z": "5fed8ae7.8bb5a4",
        "name": "Get AOIs",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/ws/queryaois/repository/search?name=",
                "type": "str"
            },
            {
                "name": "urlSuffix",
                "value": "%5C%5F",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "2704965f.c8c6fa",
                "283deb8e.f2d984"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ],
            []
        ]
    },
    {
        "id": "4bf6ab82.9a3dd4",
        "type": "subflow:22be0357.6ef6fc",
        "z": "1856e54.6882d1b",
        "name": "Get AOIs",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/ws/queryaois/repository/search?name=",
                "type": "str"
            },
            {
                "name": "urlSuffix",
                "value": "%5C%5F",
                "type": "str"
            }
        ],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "e58eee43.fdd1f"
            ],
            []
        ]
    },
    {
        "id": "3fd1a3a0.91aa3c",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FRA",
        "payloadType": "str",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "4bf6ab82.9a3dd4"
            ]
        ]
    },
    {
        "id": "dc7c2150.d9aa8",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "county",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "4bf6ab82.9a3dd4"
            ]
        ]
    },
    {
        "id": "e1519206.1770c",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "uibuilder msg data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "a5d11332.53ac8",
        "type": "change",
        "z": "22be0357.6ef6fc",
        "name": "AuthHeaders",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t  \"Authorization\":\t    \"Basic \" & $base64encode(\t       $globalContext(\"PAIRS\").user &\t':' & $globalContext(\"PAIRS\").apikey),\t\"Content-Type\" : \"application/json\",\t\"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "6b610517.1197cc"
            ]
        ]
    },
    {
        "id": "8d218993.b53408",
        "type": "inject",
        "z": "22be0357.6ef6fc",
        "name": "Init PAIRS Cred",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"user\":$env(\"PAIRS_USER\"),\t   \"apikey\": $env(\"PAIRS_APIKEY\")\t}",
        "payloadType": "jsonata",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "f9b1d5a2.8904d8"
            ]
        ]
    },
    {
        "id": "f9b1d5a2.8904d8",
        "type": "change",
        "z": "22be0357.6ef6fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PAIRS",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "34297c82.3e0c04",
        "type": "subflow:45272af4.690614",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "env": [],
        "x": 510,
        "y": 560,
        "wires": [
            [
                "2704965f.c8c6fa"
            ],
            [
                "8f1f4081.886b1"
            ],
            [],
            [
                "2704965f.c8c6fa"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "f086ba1f.eb71a8"
            ]
        ]
    },
    {
        "id": "69895948.b9a3f8",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Viti Layers UDF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"fichierRef 02_09_2020 Hackaton01\",\"layers\":[{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Mean\",\"alias\":\"49250_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Max\",\"alias\":\"49250_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Min\",\"alias\":\"49250_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Mean\",\"alias\":\"49257_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Max\",\"alias\":\"49257_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Min\",\"alias\":\"49257_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Mean\",\"alias\":\"49304_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Max\",\"alias\":\"49304_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Min\",\"alias\":\"49304_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Mean\",\"alias\":\"49311_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Max\",\"alias\":\"49311_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Min\",\"alias\":\"49311_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Mean\",\"alias\":\"49423_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Max\",\"alias\":\"49423_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Min\",\"alias\":\"49423_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Mean\",\"alias\":\"49432_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Max\",\"alias\":\"49432_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Min\",\"alias\":\"49432_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Mean\",\"alias\":\"49433_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Max\",\"alias\":\"49433_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Min\",\"alias\":\"49433_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Mean\",\"alias\":\"49441_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Max\",\"alias\":\"49441_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Min\",\"alias\":\"49441_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Mean\",\"alias\":\"49454_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Max\",\"alias\":\"49454_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Min\",\"alias\":\"49454_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Mean\",\"alias\":\"49459_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Max\",\"alias\":\"49459_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Min\",\"alias\":\"49459_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Mean\",\"alias\":\"50509_Mean\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Max\",\"alias\":\"50509_Max\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Min\",\"alias\":\"50509_Min\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"alias\":\"result_01_01\",\"expression\":\"( (( $49250_Mean >= 2.321849897949975 && $49250_Mean <= 2.368755956494419) ? 1 : 0 ) + (( $49250_Max >= 77.41799697875976 && $49250_Max <= 78.98199691772462) ? 1 : 0 ) + (( $49250_Min >= 0.0 && $49250_Min <= 0.0) ? 1 : 0 ) + (( $49257_Mean >= 284.1551711524563 && $49257_Mean <= 289.8956796605868) ? 1 : 0 ) + (( $49257_Max >= 310.66198791503905 && $49257_Max <= 316.93798767089845) ? 1 : 0 ) + (( $49257_Min >= 265.4190060424804 && $49257_Min <= 270.7810061645507) ? 1 : 0 ) + (( $49304_Mean >= 279.1707334716049 && $49304_Mean <= 284.81054626901107) ? 1 : 0 ) + (( $49304_Max >= 290.86198791503904 && $49304_Max <= 296.73798767089846) ? 1 : 0 ) + (( $49304_Min >= 264.825 && $49304_Min <= 270.175) ? 1 : 0 ) + (( $49311_Mean >= 0.99 && $49311_Mean <= 1.01) ? 1 : 0 ) + (( $49311_Max >= 7.92 && $49311_Max <= 8.08) ? 1 : 0 ) + (( $49311_Min >= 0.0 && $49311_Min <= 0.0) ? 1 : 0 ) + (( $49423_Mean >= 284.5703098782602 && $49423_Mean <= 290.319205027316) ? 1 : 0 ) + (( $49423_Max >= 312.1891644287109 && $49423_Max <= 318.4960162353516) ? 1 : 0 ) + (( $49423_Min >= 266.8143054199219 && $49423_Min <= 272.2044934082031) ? 1 : 0 ) + (( $49432_Mean >= 1.4711724457070526e-05 && $49432_Mean <= 1.500893101175882e-05) ? 1 : 0 ) + (( $49432_Max >= 0.0012394013861194253 && $49432_Max <= 0.0012644397979602218) ? 1 : 0 ) + (( $49432_Min >= 0.0 && $49432_Min <= 0.0) ? 1 : 0 ) + (( $49433_Mean >= 5.619700130714136e-05 && $49433_Mean <= 5.7332294262841185e-05) ? 1 : 0 ) + (( $49433_Max >= 0.004692061319947243 && $49433_Max <= 0.004786850437521936) ? 1 : 0 ) + (( $49433_Min >= 0.0 && $49433_Min <= 0.0) ? 1 : 0 ) + (( $49441_Mean >= 763428.8643517453 && $49441_Mean <= 778851.6696921847) ? 1 : 0 ) + (( $49441_Max >= 3230569.7325 && $49441_Max <= 3295833.7675) ? 1 : 0 ) + (( $49441_Min >= 0.0 && $49441_Min <= 0.0) ? 1 : 0 ) + (( $49454_Mean >= 0.6154233965255467 && $49454_Mean <= 0.6278561924149517) ? 1 : 0 ) + (( $49454_Max >= 0.99 && $49454_Max <= 1.01) ? 1 : 0 ) + (( $49454_Min >= 0.0 && $49454_Min <= 0.0) ? 1 : 0 ) + (( $49459_Mean >= 0.00010613992575907212 && $49459_Mean <= 0.00010828416668349784) ? 1 : 0 ) + (( $49459_Max >= 0.004916948159225286 && $49459_Max <= 0.005016280445270241) ? 1 : 0 ) + (( $49459_Min >= 0.0 && $49459_Min <= 0.0) ? 1 : 0 ) + (( $50509_Mean >= 7.1379 && $50509_Mean <= 7.2821) ? 1 : 0 ) + (( $50509_Max >= 7.1379 && $50509_Max <= 7.2821) ? 1 : 0 ) + (( $50509_Min >= 7.1379 && $50509_Min <= 7.2821) ? 1 : 0 ) / 33 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":\"38662\"},\"temporal\":{\"intervals\":[{\"start\":\"2019-05-01T00:00:00Z\",\"end\":\"2019-12-31T23:59:59Z\"}]}}",
        "payloadType": "json",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "607d8f0.89a3b7"
            ]
        ]
    },
    {
        "id": "18496c8c.ba85a3",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Large query-Don't use!",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[{\"type\":\"raster\",\"id\":\"51\"}],\"spatial\":{\"type\":\"square\",\"coordinates\":[\"35.6523\",\"-87.62\",\"51.6523\",\"-71.62\"]},\"temporal\":{\"intervals\":[{\"snapshot\":\"2018-05-31T00:00:00Z\"}]}}",
        "payloadType": "json",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "607d8f0.89a3b7"
            ]
        ]
    },
    {
        "id": "607d8f0.89a3b7",
        "type": "subflow:45272af4.690614",
        "z": "1856e54.6882d1b",
        "name": "",
        "env": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "4097e2be.721c0c",
                "7fd3ba94.6651b4"
            ],
            [
                "e58eee43.fdd1f"
            ],
            [
                "b0612bee.320498"
            ],
            [
                "7fd3ba94.6651b4"
            ],
            [
                "b19d6d1b.31437"
            ],
            [
                "417b784d.bafed8"
            ]
        ]
    },
    {
        "id": "4097e2be.721c0c",
        "type": "switch",
        "z": "1856e54.6882d1b",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Succeeded",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 520,
        "wires": [
            [],
            []
        ],
        "outputLabels": [
            "Succeeded",
            "Failed"
        ]
    },
    {
        "id": "b0612bee.320498",
        "type": "change",
        "z": "1856e54.6882d1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lastQuery",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a3c1bea6.ca5d8",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "UDF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pos\":{\"lat\":47.45,\"lng\":3.5},\"aoi\":38593,\"startDay\":\"2020-09-05\",\"endDay\":\"2020-10-06\",\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49257\",\"49310\",\"49311\",\"49313\",\"49432\",\"49433\",\"49441\",\"49454\"],\"UDF\":\"(( $16100 >= 14.2 && $16100 <= 19.77) ? 1 : 0 ) + (( $16200 >= 58.79 && $16200 <= 74.87) ? 1 : 0 ) + (( $16700 >= 0.15 && $16700 <= 0.9) ? 1 : 0 ) + (( $49250 >= 2.1 && $49250 <= 8.28) ? 1 : 0 ) + (( $49257 >= 14.58 && $49257 <= 20.26) ? 1 : 0 ) + (( $49310 >= 13.5 && $49310 <= 19.78) ? 1 : 0 ) + (( $49311 >= 0.72 && $49311 <= 1.92) ? 1 : 0 ) + (( $49313 >= 2.38 && $49313 <= 4.08) ? 1 : 0 ) + (( $49432 >= 0.01 && $49432 <= 0.14) ? 1 : 0 ) + (( $49433 >= 0.04 && $49433 <= 0.38) ? 1 : 0 ) + (( $49441 >= 0.59 && $49441 <= 1.13) ? 1 : 0 ) + (( $49454 >= 0.39 && $49454 <= 0.59) ? 1 : 0 ) + \"}",
        "payloadType": "json",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "607d8f0.89a3b7"
            ]
        ]
    },
    {
        "id": "6552faee.7f79b4",
        "type": "switch",
        "z": "45272af4.690614",
        "name": "Test Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Initializing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Queued",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Running",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Writing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Succeeded",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Failed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "7383d76a.ae5d08"
            ],
            [
                "7383d76a.ae5d08",
                "288e21d8.0ec36e"
            ],
            [
                "7383d76a.ae5d08",
                "8e96b9c0.ef1d68"
            ],
            [
                "7383d76a.ae5d08"
            ],
            [],
            [
                "8d584588.626178"
            ],
            [
                "23ff7bd5.465224"
            ]
        ]
    },
    {
        "id": "7383d76a.ae5d08",
        "type": "change",
        "z": "45272af4.690614",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "4a41dfd4.ae7c5"
            ]
        ]
    },
    {
        "id": "78a136dd.677f18",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "Working Query",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"fichierRef 02_09_2020 Hackaton01\",\"layers\":[{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Mean\",\"alias\":\"49250_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Max\",\"alias\":\"49250_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Min\",\"alias\":\"49250_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Mean\",\"alias\":\"49257_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Max\",\"alias\":\"49257_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Min\",\"alias\":\"49257_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Mean\",\"alias\":\"49304_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Max\",\"alias\":\"49304_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Min\",\"alias\":\"49304_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Mean\",\"alias\":\"49311_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Max\",\"alias\":\"49311_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Min\",\"alias\":\"49311_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49423\",\"aggregation\":\"Mean\",\"alias\":\"49423_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49423\",\"aggregation\":\"Max\",\"alias\":\"49423_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49423\",\"aggregation\":\"Min\",\"alias\":\"49423_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49432\",\"aggregation\":\"Mean\",\"alias\":\"49432_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49432\",\"aggregation\":\"Max\",\"alias\":\"49432_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49432\",\"aggregation\":\"Min\",\"alias\":\"49432_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49433\",\"aggregation\":\"Mean\",\"alias\":\"49433_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49433\",\"aggregation\":\"Max\",\"alias\":\"49433_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49433\",\"aggregation\":\"Min\",\"alias\":\"49433_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49441\",\"aggregation\":\"Mean\",\"alias\":\"49441_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49441\",\"aggregation\":\"Max\",\"alias\":\"49441_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49441\",\"aggregation\":\"Min\",\"alias\":\"49441_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49454\",\"aggregation\":\"Mean\",\"alias\":\"49454_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49454\",\"aggregation\":\"Max\",\"alias\":\"49454_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49454\",\"aggregation\":\"Min\",\"alias\":\"49454_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49459\",\"aggregation\":\"Mean\",\"alias\":\"49459_Mean\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49459\",\"aggregation\":\"Max\",\"alias\":\"49459_Max\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"49459\",\"aggregation\":\"Min\",\"alias\":\"49459_Min\",\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"50509\",\"alias\":\"50509_Mean\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}],\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"50509\",\"alias\":\"50509_Max\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}],\"output\":\"false\"},{\"type\":\"raster\",\"id\":\"50509\",\"alias\":\"50509_Min\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}],\"output\":\"false\"},{\"alias\":\"result_01_01\",\"expression\":\"( (( $49250_Mean >= 2.321849897949975 && $49250_Mean <= 2.368755956494419) ? 1 : 0 ) + (( $49250_Max >= 77.41799697875976 && $49250_Max <= 78.98199691772462) ? 1 : 0 ) + (( $49250_Min >= 0.0 && $49250_Min <= 0.0) ? 1 : 0 ) + (( $49257_Mean >= 284.1551711524563 && $49257_Mean <= 289.8956796605868) ? 1 : 0 ) + (( $49257_Max >= 310.66198791503905 && $49257_Max <= 316.93798767089845) ? 1 : 0 ) + (( $49257_Min >= 265.4190060424804 && $49257_Min <= 270.7810061645507) ? 1 : 0 ) + (( $49304_Mean >= 279.1707334716049 && $49304_Mean <= 284.81054626901107) ? 1 : 0 ) + (( $49304_Max >= 290.86198791503904 && $49304_Max <= 296.73798767089846) ? 1 : 0 ) + (( $49304_Min >= 264.825 && $49304_Min <= 270.175) ? 1 : 0 ) + (( $49311_Mean >= 0.99 && $49311_Mean <= 1.01) ? 1 : 0 ) + (( $49311_Max >= 7.92 && $49311_Max <= 8.08) ? 1 : 0 ) + (( $49311_Min >= 0.0 && $49311_Min <= 0.0) ? 1 : 0 ) + (( $49423_Mean >= 284.5703098782602 && $49423_Mean <= 290.319205027316) ? 1 : 0 ) + (( $49423_Max >= 312.1891644287109 && $49423_Max <= 318.4960162353516) ? 1 : 0 ) + (( $49423_Min >= 266.8143054199219 && $49423_Min <= 272.2044934082031) ? 1 : 0 ) + (( $49432_Mean >= 1.4711724457070526e-05 && $49432_Mean <= 1.500893101175882e-05) ? 1 : 0 ) + (( $49432_Max >= 0.0012394013861194253 && $49432_Max <= 0.0012644397979602218) ? 1 : 0 ) + (( $49432_Min >= 0.0 && $49432_Min <= 0.0) ? 1 : 0 ) + (( $49433_Mean >= 5.619700130714136e-05 && $49433_Mean <= 5.7332294262841185e-05) ? 1 : 0 ) + (( $49433_Max >= 0.004692061319947243 && $49433_Max <= 0.004786850437521936) ? 1 : 0 ) + (( $49433_Min >= 0.0 && $49433_Min <= 0.0) ? 1 : 0 ) + (( $49441_Mean >= 763428.8643517453 && $49441_Mean <= 778851.6696921847) ? 1 : 0 ) + (( $49441_Max >= 3230569.7325 && $49441_Max <= 3295833.7675) ? 1 : 0 ) + (( $49441_Min >= 0.0 && $49441_Min <= 0.0) ? 1 : 0 ) + (( $49454_Mean >= 0.6154233965255467 && $49454_Mean <= 0.6278561924149517) ? 1 : 0 ) + (( $49454_Max >= 0.99 && $49454_Max <= 1.01) ? 1 : 0 ) + (( $49454_Min >= 0.0 && $49454_Min <= 0.0) ? 1 : 0 ) + (( $49459_Mean >= 0.00010613992575907212 && $49459_Mean <= 0.00010828416668349784) ? 1 : 0 ) + (( $49459_Max >= 0.004916948159225286 && $49459_Max <= 0.005016280445270241) ? 1 : 0 ) + (( $49459_Min >= 0.0 && $49459_Min <= 0.0) ? 1 : 0 ) + (( $50509_Mean >= 7.1379 && $50509_Mean <= 7.2821) ? 1 : 0 ) + (( $50509_Max >= 7.1379 && $50509_Max <= 7.2821) ? 1 : 0 ) + (( $50509_Min >= 7.1379 && $50509_Min <= 7.2821) ? 1 : 0 ) / 33 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":38662},\"temporal\":{\"intervals\":[{\"start\":\"2019-05-01T00:00:00Z\",\"end\":\"2019-12-31T23:59:59Z\"}]}}",
        "payloadType": "json",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "607d8f0.89a3b7"
            ]
        ]
    },
    {
        "id": "664e6cdb.72c354",
        "type": "switch",
        "z": "45272af4.690614",
        "name": "Check query type",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "name",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "d51c34e7.201c88"
            ],
            [
                "e4b5f6b5.ac7a98"
            ],
            [
                "5b5c0afb.53b1b4"
            ]
        ]
    },
    {
        "id": "417b784d.bafed8",
        "type": "debug",
        "z": "1856e54.6882d1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "be1041fc.81f6c",
        "type": "subflow:22be0357.6ef6fc",
        "z": "5fed8ae7.8bb5a4",
        "name": "List QueryJobs",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/list?flag=0&page=1&size=2147483647",
                "type": "str"
            },
            {
                "name": "appendPayloadToURL",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "2704965f.c8c6fa"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ],
            []
        ]
    },
    {
        "id": "f086ba1f.eb71a8",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "quryJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "1ecaba12.38e9e6",
        "type": "inject",
        "z": "1856e54.6882d1b",
        "name": "VitiXplore query",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"VitXplore_38593_[47.45;3.5]_[2020-09-06/2020-10-06]\",\"layers\":[{\"alias\":\"Mean_16100\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"16100\"},{\"alias\":\"Mean_16200\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"16200\"},{\"alias\":\"Mean_16700\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"16700\"},{\"alias\":\"Mean_49250\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49250\"},{\"alias\":\"Mean_49257\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49257\"},{\"alias\":\"Mean_49310\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49310\"},{\"alias\":\"Mean_49311\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49311\"},{\"alias\":\"Mean_49313\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49313\"},{\"alias\":\"Mean_49432\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49432\"},{\"alias\":\"Mean_49433\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49433\"},{\"alias\":\"Mean_49441\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49441\"},{\"alias\":\"Mean_49454\",\"type\":\"raster\",\"aggregation\":\"Mean\",\"output\":\"false\",\"id\":\"49454\"},{\"alias\":\"scoring\",\"expression\":\"(( $Mean_16100 >= 14.22 && $Mean_16100 <= 19.79) ? 1 : 0 ) + (( $Mean_16200 >= 58.76 && $Mean_16200 <= 74.84) ? 1 : 0 ) + (( $Mean_16700 >= 0.16 && $Mean_16700 <= 0.9) ? 1 : 0 ) + (( $Mean_49250 >= 2.17 && $Mean_49250 <= 8.35) ? 1 : 0 ) + (( $Mean_49257 >= 14.57 && $Mean_49257 <= 20.25) ? 1 : 0 ) + (( $Mean_49310 >= 13.48 && $Mean_49310 <= 19.76) ? 1 : 0 ) + (( $Mean_49311 >= 0.71 && $Mean_49311 <= 1.91) ? 1 : 0 ) + (( $Mean_49313 >= 2.4 && $Mean_49313 <= 4.1) ? 1 : 0 ) + (( $Mean_49432 >= 0.01 && $Mean_49432 <= 0.14) ? 1 : 0 ) + (( $Mean_49433 >= 0.04 && $Mean_49433 <= 0.38) ? 1 : 0 ) + (( $Mean_49441 >= 0.59 && $Mean_49441 <= 1.13) ? 1 : 0 ) + (( $Mean_49454 >= 0.39 && $Mean_49454 <= 0.59) ? 1 : 0 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":38593},\"temporal\":{\"intervals\":[{\"start\":\"2020-09-06T00:00:00Z\",\"end\":\"2020-10-06T00:00:00Z\"}]}}",
        "payloadType": "json",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "607d8f0.89a3b7"
            ]
        ]
    },
    {
        "id": "2ae93902.04ff96",
        "type": "subflow:22be0357.6ef6fc",
        "z": "5fed8ae7.8bb5a4",
        "name": "Del Query Job",
        "env": [
            {
                "name": "method",
                "value": "DELETE",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/",
                "type": "str"
            }
        ],
        "x": 480,
        "y": 780,
        "wires": [
            [
                "2704965f.c8c6fa"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ],
            []
        ]
    },
    {
        "id": "ec54685c.664f98",
        "type": "link out",
        "z": "5fed8ae7.8bb5a4",
        "name": "PAIRS Error",
        "links": [
            "75f5d767.1bd4d8"
        ],
        "x": 1015,
        "y": 460,
        "wires": []
    },
    {
        "id": "75f5d767.1bd4d8",
        "type": "link in",
        "z": "5fed8ae7.8bb5a4",
        "name": "errorUI",
        "links": [
            "ec54685c.664f98"
        ],
        "x": 75,
        "y": 220,
        "wires": [
            [
                "efc32871.ff0a38",
                "50194394.21477c"
            ]
        ]
    },
    {
        "id": "50194394.21477c",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "trace UI Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "efc32871.ff0a38",
        "type": "uibuilder",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "topic": "",
        "url": "uibuilder",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "e57dd0c9.ea93f",
                "e1519206.1770c"
            ],
            [
                "7adeb8a1.81de58"
            ]
        ]
    },
    {
        "id": "627c085a.b13dd8",
        "type": "subflow:3aa70edc.b22322",
        "z": "5fed8ae7.8bb5a4",
        "name": "Query color map",
        "env": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "2704965f.c8c6fa"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ]
        ]
    },
    {
        "id": "dc4aae9a.dbb9f",
        "type": "function",
        "z": "3aa70edc.b22322",
        "name": "Format URL & save data",
        "func": "DEFAULT_COLORTABLEID=4\n\n// Default the colorTableId\nmsg.colorTableId= msg.payload.colorTableId ? msg.payload.colorTableId: DEFAULT_COLORTABLEID\n\nmsg.payload = `sld?type=raster&min=${msg.payload.min}&max=${msg.payload.max}&colorTableId=${msg.colorTableId}&no_data=-1`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "5547f1e.c0a021"
            ]
        ]
    },
    {
        "id": "e23f2ca9.c543b",
        "type": "xml",
        "z": "3aa70edc.b22322",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "44dd28e1.7f76b8"
            ]
        ],
        "info": "Convert XML result to an object"
    },
    {
        "id": "44dd28e1.7f76b8",
        "type": "change",
        "z": "3aa70edc.b22322",
        "name": "get colorMap",
        "rules": [
            {
                "t": "set",
                "p": "payload.colorTableId",
                "pt": "msg",
                "to": "colorTableId",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.sld:StyledLayerDescriptor.sld:NamedLayer[0].sld:UserStyle[0].sld:FeatureTypeStyle[0].sld:Rule[0].sld:RasterSymbolizer[0].sld:ColorMap[0].sld:ColorMapEntry",
                "pt": "msg",
                "to": "payload.colorMap",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "1c3a2a7d.41e506"
            ]
        ],
        "info": "Get the array of color from the object result"
    },
    {
        "id": "7231e4fa.613cfc",
        "type": "split",
        "z": "3aa70edc.b22322",
        "name": "Get ColorMapId for each layer",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload.layer",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "dc4aae9a.dbb9f"
            ]
        ],
        "info": "Split result to make an action per layer"
    },
    {
        "id": "3523cf98.89d7d",
        "type": "change",
        "z": "3aa70edc.b22322",
        "name": "save layers",
        "rules": [
            {
                "t": "set",
                "p": "layers",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 20,
        "wires": [
            [
                "7231e4fa.613cfc"
            ]
        ]
    },
    {
        "id": "1c3a2a7d.41e506",
        "type": "join",
        "z": "3aa70edc.b22322",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1d1ae444.99db7c",
        "type": "batch",
        "z": "3aa70edc.b22322",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "10",
        "allowEmptySequence": false,
        "topics": [],
        "x": 130,
        "y": 320,
        "wires": [
            [
                "e23f2ca9.c543b"
            ]
        ],
        "info": "Creates a batch to be able to use the join flow"
    },
    {
        "id": "cfce9bd3.401138",
        "type": "subflow:22be0357.6ef6fc",
        "z": "3aa70edc.b22322",
        "name": "Query Job Layers",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/",
                "type": "str"
            },
            {
                "name": "urlSuffix",
                "value": "/layers",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 40,
        "wires": [
            [
                "3523cf98.89d7d"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "44611078.c536c",
        "type": "change",
        "z": "a15ea8b9.f75a28",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d05133e4.26615",
        "type": "delay",
        "z": "a15ea8b9.f75a28",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b8684da8.b7a4e",
        "type": "change",
        "z": "a15ea8b9.f75a28",
        "name": "setDelay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "polingDelayMs",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "d05133e4.26615"
            ]
        ]
    },
    {
        "id": "5d87971e.94ea08",
        "type": "template",
        "z": "a15ea8b9.f75a28",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"VitXplore_{{payload.aoi.name}}_[{{payload.pos.lat}};{{payload.pos.lng}}]_[{{payload.startDay}}/{{payload.endDay}}]\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \n            \"alias\": \"Mean_{{id}}\",\n            \"type\": \"raster\",\n            \"aggregation\": \"Mean\",\n            {{#low}}\n            {{#up}}\n            \"output\":\"false\",\n            {{/up}}\n            {{/low}}\n            \"id\": \"{{id}}\",\n            \"type\": \"raster\"\n        },\n    {{/payload.layers}}\n        {\n            \"alias\": \"scoring\",\n            \"expression\": \"{{payload.udf}}\",\n        }\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": {{payload.aoi.id}}\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 280,
        "y": 20,
        "wires": [
            [
                "137fcb7e.509335"
            ]
        ]
    },
    {
        "id": "137fcb7e.509335",
        "type": "function",
        "z": "a15ea8b9.f75a28",
        "name": "FixJSON",
        "func": "msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 20,
        "wires": [
            [
                "d3e7b53a.6bb488"
            ]
        ]
    },
    {
        "id": "d3e7b53a.6bb488",
        "type": "json",
        "z": "a15ea8b9.f75a28",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "f82ca1ae.424aa"
            ]
        ]
    },
    {
        "id": "653791b0.25ba5",
        "type": "switch",
        "z": "a15ea8b9.f75a28",
        "name": "Test Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Initializing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Queued",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Running",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Writing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Succeeded",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Failed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "54bbd87d.19b778"
            ],
            [
                "54bbd87d.19b778"
            ],
            [
                "54bbd87d.19b778"
            ],
            [
                "54bbd87d.19b778"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "54bbd87d.19b778",
        "type": "change",
        "z": "a15ea8b9.f75a28",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "b8684da8.b7a4e"
            ]
        ]
    },
    {
        "id": "aa8f0cf6.29a0d",
        "type": "switch",
        "z": "a15ea8b9.f75a28",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "name",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "44611078.c536c"
            ],
            [],
            [
                "5d87971e.94ea08"
            ]
        ]
    },
    {
        "id": "f82ca1ae.424aa",
        "type": "function",
        "z": "a15ea8b9.f75a28",
        "name": "FixHTMLEntities",
        "func": "msg.payload.layers=msg.payload.layers.map(function(layer) {\n    if('expression' in layer) {\n        layer.expression=layer.expression.replace(/&gt;/g,'>')\n        layer.expression=layer.expression.replace(/&lt;/g,'<')\n        layer.expression=layer.expression.replace(/&#x3D;/g,'=')\n        layer.expression=layer.expression.replace(/&amp;/g,'&')\n    }\n    return layer\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a48b6e69.2a126",
        "type": "template",
        "z": "a15ea8b9.f75a28",
        "name": "temlpate gives FailedConversion somehow....",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"VitXplore_{{payload.aoi.name}}_[{{payload.pos.lat}};{{payload.pos.lng}}]_[{{payload.startDay}}/{{payload.endDay}}]\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \n            \"alias\": \"Mean_{{id}}\",\n            \"type\": \"raster\",\n            \"aggregation\": \"Mean\",\n            {{#low}}\n            {{#up}}\n            \"output\":\"false\",\n            {{/up}}\n            {{/low}}\n            \"id\": \"{{id}}\",\n            \"type\": \"raster\"\n        },\n    {{/payload.layers}}\n        {\n            \"alias\": \"{{payload.aoi.name}} vs [{{payload.pos.lat}};{{payload.pos.lng}}] [{{payload.startDay}}/{{payload.endDay}}]\",\n            \"id\": \"0\",\n            \"expression\": \"{{payload.udf}}\",\n        }\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": {{payload.aoi.id}}\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 850,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "b6a05ef.a204fa",
        "type": "debug",
        "z": "a15ea8b9.f75a28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "5b5c0afb.53b1b4",
        "type": "switch",
        "z": "45272af4.690614",
        "name": "Check aoi",
        "property": "payload.aoi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "5c397cc3.a01284"
            ],
            [
                "babf9321.715a8"
            ]
        ]
    },
    {
        "id": "a25a5118.5e051",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "Set RefData Layers",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49432\",\"49433\",\"49441\",\"49454\",\"50450\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.zoom",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.duration",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6aa75b73.a33b54",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "RefData 13 layers",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49432\",\"49433\",\"49441\",\"49454\",\"50450\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.zoom",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.duration",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c0d37d4c.fe0a2",
        "type": "inject",
        "z": "5fed8ae7.8bb5a4",
        "name": "init 19 Layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"16200\",\"16700\",\"49296\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49304\",\"50463\",\"49252\",\"50450\",\"50509\",\"50511\",\"50497\",\"50496\",\"50453\",\"50456\"]}",
        "payloadType": "json",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "e3100a9.ca94df8"
            ]
        ],
        "info": "Crer un bug pour la fonction\n\n**Layers :** \n\n16100 : Ground temperature\n16200 : Ground relative humidity\n16700 : Average precipitation\n\n49250 : Precip past 24 h\n49252 : Relative humidity surface\n49257 : Temperature above ground\n49296 : Global elevation\n49304 : Dew point\n49310 : Temperature feels like\n49313 : Wind speed\n49441 : solar radiation\n\n50453 : Standard deviation of orography\n50450 : Soil type \n50456 : Slope of sub grid scale orography \n50463 : Wind Direction\n50496 : pH\n50497 : Soil organic carbon\n50509 : Nitrogen\n50511 : Soil classification most probable class\n\n\n**Non utiliss :**\n49311 : UV index \n49432 : Minimum precipitation rate\n49433 : Maximum precipitation rate\n\n50447 : High vegetation cover\n50498 : Organic carbon density\n50449 : Type of high vegetation\n"
    },
    {
        "id": "e3100a9.ca94df8",
        "type": "change",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "layers",
                "pt": "flow",
                "to": "payload.layers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "559eecc0.9adae4",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "result requete",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c01f6c1.eb661a",
        "type": "function",
        "z": "e68fbd7c.0431a",
        "name": "Generate query JSON",
        "func": "var payload = {\n    \"layers\": [],\n    \"spatial\": { \"type\": \"point\", \"coordinates\": [ msg.payload.pos.lat, msg.payload.pos.lng]},\n    \"temporal\": { \"intervals\": [{ \"start\": msg.payload.startDay + \"T00:00:00Z\", \"end\": msg.payload.endDay + \"T00:00:00Z\" }] }\n};\n\n\nvar depths = [\"0to5cm\",\"5to15cm\",\"15to30cm\",\"30to60cm\",\"60to100cm\", \"100to200cm\"]\n    \nfor (const layerId in msg.payload.layers) {\n    if ((msg.payload.layers[layerId].measurement_interval == \"0 years 0 mons 0 days 0 hours 0 mins 0.0 secs\") || msg.payload.layers[layerId].measurement_interval == \"0 years 0 mons 0 days 0 hours 0 mins 0.00 secs\") {\n        if (msg.payload.layers[layerId].dimensions_description) {\n            for (var j = 0; j < depths.length; j++) {\n                payload.layers.push({ \"type\": \"raster\", \"id\": layerId, \"aggregation\": \"None\", \"temporal\" : {\"intervals\" : [{\"snapshot\" : \"2020-09-01T00:00:01Z\"}]}, \"dimensions\" : [{\"name\" : \"quantile\", \"value\" : \"mean\"}, {\"name\" : \"depth\", \"value\" : depths[j] }] })\n            }\n        } else {\n            payload.layers.push({ \"type\": \"raster\", \"id\": layerId, \"aggregation\": \"None\", \"temporal\" : {\"intervals\" : [{\"snapshot\" : \"2020-09-01T00:00:01Z\"}]} })\n        }\n    } else {\n        payload.layers.push({ \"type\": \"raster\", \"id\": layerId, \"aggregation\": \"Mean\"})\n        payload.layers.push({ \"type\": \"raster\", \"id\": layerId, \"aggregation\": \"Max\"})\n        payload.layers.push({ \"type\": \"raster\", \"id\": layerId, \"aggregation\": \"Min\"})\n    }\n}\n\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "3c865690.f7436a"
            ]
        ]
    },
    {
        "id": "5c397cc3.a01284",
        "type": "function",
        "z": "45272af4.690614",
        "name": "Query Name - Rect",
        "func": "/* generate for rectangle selection query */\nconst pos=msg.payload.pos\n\nmsg.payload[\"name\"]=`VitXplore_Rect[${pos.rSouth};${pos.rWest};${pos.rNorth};${pos.rEast}]_[${msg.payload.startDay}/${msg.payload.endDay}]`\nmsg.payload[\"spatial\"]={ \"type\": \"square\", \"coordinates\": [ pos.rSouth, pos.rWest, pos.rNorth, pos.rEast]}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "5489d117.7fba7"
            ]
        ]
    },
    {
        "id": "8d584588.626178",
        "type": "debug",
        "z": "45272af4.690614",
        "name": "sucedeed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 620,
        "wires": []
    },
    {
        "id": "23ff7bd5.465224",
        "type": "debug",
        "z": "45272af4.690614",
        "name": "failed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "babf9321.715a8",
        "type": "function",
        "z": "45272af4.690614",
        "name": "Query name - AOI",
        "func": "/* generate for rectangle selection query */\nconst pos=msg.payload.pos\n\nmsg.payload[\"name\"]=`VitXplore_${msg.payload.aoi.name}_[${pos.lat};${pos.lng}]_[${msg.payload.startDay}/${msg.payload.endDay}]`\nmsg.payload[\"spatial\"]= { \"type\": \"poly\", \"aoi\": msg.payload.aoi.id}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "5489d117.7fba7"
            ]
        ]
    },
    {
        "id": "ccb94771.a9ec38",
        "type": "change",
        "z": "2d447360.3ff9fc",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "febe78b1.95ad68"
            ]
        ]
    },
    {
        "id": "6acd5916.f56e88",
        "type": "subflow:22be0357.6ef6fc",
        "z": "2d447360.3ff9fc",
        "name": "POST query",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/query",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 360,
        "wires": [
            [
                "ccb94771.a9ec38"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "febe78b1.95ad68",
        "type": "subflow:22be0357.6ef6fc",
        "z": "2d447360.3ff9fc",
        "name": "GET queryjobs",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/v2/queryjobs/",
                "type": "str"
            }
        ],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "2c19ed19.48d352"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "f3aea4cf.c7f028",
        "type": "delay",
        "z": "2d447360.3ff9fc",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 440,
        "wires": [
            [
                "febe78b1.95ad68"
            ]
        ]
    },
    {
        "id": "3db98662.14ffca",
        "type": "change",
        "z": "2d447360.3ff9fc",
        "name": "setDelay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "polingDelayMs",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "f3aea4cf.c7f028"
            ]
        ]
    },
    {
        "id": "db75cc2a.e99d3",
        "type": "template",
        "z": "2d447360.3ff9fc",
        "name": "LayersArray",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"VitXplore_{{payload.aoi.name}}_[{{payload.pos.lat}};{{payload.pos.lng}}]_[{{payload.startDay}}/{{payload.endDay}}]\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \n            \"alias\": \"Mean_{{id}}\",\n            \"type\": \"raster\",\n            \"aggregation\": \"Mean\",\n            {{#lower}}\n            {{#upper}}\n            \"output\":\"false\",\n            {{/upper}}\n            {{/lower}}\n            \"id\": \"{{id}}\",\n            \"type\": \"raster\"\n        },\n    {{/payload.layers}}\n        {\n            \"alias\": \"Overall Scoring\",\n            \"expression\": \"{{payload.udf}}\",\n        }\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": {{payload.aoi.id}}\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "568c5361.2a489c"
            ]
        ]
    },
    {
        "id": "568c5361.2a489c",
        "type": "function",
        "z": "2d447360.3ff9fc",
        "name": "FixJSON",
        "func": "msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "f6af98f6.b5d308"
            ]
        ]
    },
    {
        "id": "f6af98f6.b5d308",
        "type": "json",
        "z": "2d447360.3ff9fc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "9f1fc72.6d0d438"
            ]
        ]
    },
    {
        "id": "2c19ed19.48d352",
        "type": "switch",
        "z": "2d447360.3ff9fc",
        "name": "Test Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Initializing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Queued",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Running",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Writing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Succeeded",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Failed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "75dd3d5f.606e84"
            ],
            [
                "75dd3d5f.606e84"
            ],
            [
                "75dd3d5f.606e84"
            ],
            [
                "75dd3d5f.606e84"
            ],
            [],
            [
                "6f0a2dc0.d25ce4"
            ],
            [
                "7f19e5a6.09aefc"
            ]
        ]
    },
    {
        "id": "75dd3d5f.606e84",
        "type": "change",
        "z": "2d447360.3ff9fc",
        "name": "Extract query ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "3db98662.14ffca"
            ]
        ]
    },
    {
        "id": "4497a63b.621d58",
        "type": "switch",
        "z": "2d447360.3ff9fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "name",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ccb94771.a9ec38"
            ],
            [
                "6acd5916.f56e88"
            ],
            [
                "fff12784.8cca78"
            ]
        ]
    },
    {
        "id": "9f1fc72.6d0d438",
        "type": "function",
        "z": "2d447360.3ff9fc",
        "name": "FixHTMLEntities",
        "func": "msg.payload.layers=msg.payload.layers.map(function(layer) {\n    if('expression' in layer) {\n        layer.expression=layer.expression.replace(/&gt;/g,'>')\n        layer.expression=layer.expression.replace(/&lt;/g,'<')\n        layer.expression=layer.expression.replace(/&#x3D;/g,'=')\n        layer.expression=layer.expression.replace(/&amp;/g,'&')\n    }\n    return layer\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "6acd5916.f56e88"
            ]
        ]
    },
    {
        "id": "344698f3.0d8178",
        "type": "template",
        "z": "2d447360.3ff9fc",
        "name": "LayersArrayAll - aoi",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"VitXplore_{{payload.aoi.name}}_[{{payload.pos.lat}};{{payload.pos.lng}}]_[{{payload.startDay}}/{{payload.endDay}}]\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \n            \"alias\": \"Mean_{{id}}\",\n            \"type\": \"raster\",\n            \"aggregation\": \"Mean\",\n            \"id\": \"{{id}}\",\n            \"type\": \"raster\"\n        },\n    {{/payload.layers}}\n        {\n            \"alias\": \"Overall Scoring\",\n            \"expression\": \"{{payload.udf}}\",\n        }\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": {{payload.aoi.id}}\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "568c5361.2a489c"
            ]
        ]
    },
    {
        "id": "fff12784.8cca78",
        "type": "switch",
        "z": "2d447360.3ff9fc",
        "name": "",
        "property": "payload.aoi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [],
            [
                "344698f3.0d8178"
            ]
        ]
    },
    {
        "id": "4dfd230d.47f60c",
        "type": "template",
        "z": "2d447360.3ff9fc",
        "name": "LayersArrayAll - rectangle",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{  \"name\": \"VitXplore_{{payload.aoi.name}}_[{{payload.pos.lat}};{{payload.pos.lng}}]_[{{payload.startDay}}/{{payload.endDay}}]\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \n            \"alias\": \"Mean_{{id}}\",\n            \"type\": \"raster\",\n            \"aggregation\": \"Mean\",\n            \"id\": \"{{id}}\",\n            \"type\": \"raster\"\n        },\n    {{/payload.layers}}\n        {\n            \"alias\": \"Overall Scoring\",\n            \"expression\": \"{{payload.udf}}\",\n        }\n   ],\n    \"spatial\": {\n        \"type\": \"square\",\n        \"coordinates\": [{{payload.pos.rSouth}}, {{payload.pos.rWest}}, {{payload.pos.rNorth}}, {{payload.pos.rEast}}]\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}",
        "output": "str",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "568c5361.2a489c"
            ]
        ]
    },
    {
        "id": "6f0a2dc0.d25ce4",
        "type": "debug",
        "z": "2d447360.3ff9fc",
        "name": "sucedeed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "7f19e5a6.09aefc",
        "type": "debug",
        "z": "2d447360.3ff9fc",
        "name": "failed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "288e21d8.0ec36e",
        "type": "debug",
        "z": "45272af4.690614",
        "name": "queud",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "8e96b9c0.ef1d68",
        "type": "debug",
        "z": "45272af4.690614",
        "name": "running",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "2552fcf3.20eca4",
        "type": "inject",
        "z": "5fed8ae7.8bb5a4",
        "name": "init 12 Layers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"layers\":[\"16100\",\"16200\",\"16700\",\"49296\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49304\",\"49252\",\"49441\"]}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e3100a9.ca94df8"
            ]
        ],
        "info": "Crer un bug pour la fonction\n\n**Layers :** \n\n16100 : Ground temperature\n16200 : Ground relative humidity\n16700 : Average precipitation\n\n49250 : Precip past 24 h\n49252 : Relative humidity surface\n49257 : Temperature above ground\n49296 : Global elevation\n49304 : Dew point\n49310 : Temperature feels like\n49313 : Wind speed\n49441 : solar radiation\n\n50453 : Standard deviation of orography\n50450 : Soil type \n50456 : Slope of sub grid scale orography \n50463 : Wind Direction\n50496 : pH\n50497 : Soil organic carbon\n50509 : Nitrogen\n50511 : Soil classification most probable class\n\n\n**Non utiliss :**\n49311 : UV index \n49432 : Minimum precipitation rate\n49433 : Maximum precipitation rate\n\n50447 : High vegetation cover\n50498 : Organic carbon density\n50449 : Type of high vegetation\n"
    },
    {
        "id": "5489d117.7fba7",
        "type": "function",
        "z": "45272af4.690614",
        "name": "Setup Query Layers",
        "func": "/* Setup payload query parameters */\npayload={\"name\":msg.payload.name, \n         \"spatial\":msg.payload.spatial,\n         \"layers\":[{\"alias\": \"Overall Scoring\", \"expression\": msg.payload.udf }],\n         \"temporal\":{ \"intervals\": [{ \"start\": `${msg.payload.startDay}T00:00:00Z`, \"end\": `${msg.payload.endDay}T00:00:00Z` }]}\n        }\n\nconst DEPTHS = [\"0to5cm\",\"5to15cm\",\"15to30cm\",\"30to60cm\",\"60to100cm\", \"100to200cm\"]\n\nfor (const i in msg.payload.layers) {\n    var layerId = msg.payload.layers[i].id\n    var layer=msg.payload.layerInfo[layerId]\n\n    if ((layer.measurement_interval == \"0 years 0 mons 0 days 0 hours 0 mins 0.00 secs\") ||\n        (layer.measurement_interval == \"0 years 0 mons 0 days 0 hours 0 mins 0.0 secs\")) {\n        /* handle non-temporal layers */\n        \n        if (layer.dimensions_description) {\n            /* Handle layers that have a depth */\n            for (var j = 0; j < DEPTHS.length; j++) {\n                payload.layers.push({ \"type\": \"raster\",\n                                      \"id\":layerId,\n                                      \"alias\": `${DEPTHS[j]}_${layerId}`,\n                                      \"aggregation\": \"Mean\",\n                                      \"temporal\" : {\"intervals\" : [{\"snapshot\" : \"2020-09-01T00:00:01Z\"}]},\n                                      \"dimensions\" : [{\"name\" : \"quantile\", \"value\" : \"mean\"}, {\"name\" : \"depth\", \"value\" : DEPTHS[j] }] })\n            }\n        } else {\n            /* Other non-depth non-temporal layers */\n            payload.layers.push({ \"type\": \"raster\",\n                                  \"id\": layerId,\n                                  \"alias\": `Mean_${layerId}`,\n                                  \"aggregation\": \"Mean\",\n                                  \"temporal\" : {\"intervals\" : [{\"snapshot\" : \"2020-09-01T00:00:01Z\"}]} })\n        }\n    } else {\n        /* handle regular temporal layers, compute mean value */\n        payload.layers.push({ \"type\": \"raster\",\n                              \"id\": layerId,\n                              \"alias\": `Mean_${layerId}`,\n                              \"aggregation\": \"Mean\"})\n    }\n}\n\nmsg.payload=payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "e4b5f6b5.ac7a98"
            ]
        ]
    },
    {
        "id": "1ffe2c5c.6ea3d4",
        "type": "delay",
        "z": "22be0357.6ef6fc",
        "name": "Limit 15 msg/sec",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "15",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "6b610517.1197cc"
            ]
        ]
    },
    {
        "id": "65cf2145.d7572",
        "type": "switch",
        "z": "22be0357.6ef6fc",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            },
            {
                "t": "eq",
                "v": "429",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "404",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "400",
                "vt": "num",
                "v2": "499",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "cee0e50c.c1c638"
            ],
            [
                "9b5f91c3.41e42"
            ],
            [],
            [],
            []
        ],
        "outputLabels": [
            "ok",
            "Too Many Requests",
            "NotFound",
            "error4XX",
            "error"
        ]
    },
    {
        "id": "9b5f91c3.41e42",
        "type": "switch",
        "z": "22be0357.6ef6fc",
        "name": "",
        "property": "autoRetry",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "1ffe2c5c.6ea3d4"
            ],
            []
        ]
    },
    {
        "id": "cee0e50c.c1c638",
        "type": "switch",
        "z": "22be0357.6ef6fc",
        "name": "convertToJSON",
        "property": "convertToJSON",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "90e7e0f8.4b61c"
            ],
            []
        ]
    },
    {
        "id": "5547f1e.c0a021",
        "type": "subflow:22be0357.6ef6fc",
        "z": "3aa70edc.b22322",
        "name": "Get ColorMap",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/map/",
                "type": "str"
            },
            {
                "name": "autoRetry",
                "value": "true",
                "type": "bool"
            },
            {
                "name": "convertToJSON",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "e23f2ca9.c543b"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "c933e5ae.d57a68",
        "type": "subflow:22be0357.6ef6fc",
        "z": "dbc32d84.e0c05",
        "name": "",
        "env": [
            {
                "name": "method",
                "value": "GET",
                "type": "str"
            },
            {
                "name": "url",
                "value": "https://pairs.res.ibm.com/ws/queryaois/geojson/",
                "type": "str"
            },
            {
                "name": "autoRetry",
                "value": "true",
                "type": "bool"
            }
        ],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "97bdcd02.c38e2"
            ],
            [],
            [
                "4d31b795.f8ab48"
            ],
            []
        ]
    },
    {
        "id": "712ce8fb.d00968",
        "type": "split",
        "z": "dbc32d84.e0c05",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "23b5b29a.a5bc1e"
            ]
        ]
    },
    {
        "id": "b8d6bf31.67559",
        "type": "join",
        "z": "dbc32d84.e0c05",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "388f1fa3.2e7c4",
        "type": "switch",
        "z": "dbc32d84.e0c05",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "712ce8fb.d00968"
            ],
            []
        ]
    },
    {
        "id": "df0abcbe.c7ad5",
        "type": "comment",
        "z": "dbc32d84.e0c05",
        "name": "This subflow gets AOIs polygons",
        "info": "Input can be either a array of AOIs, or a member which is itself an array or layerIDs",
        "x": 220,
        "y": 380,
        "wires": []
    },
    {
        "id": "283deb8e.f2d984",
        "type": "subflow:dbc32d84.e0c05",
        "z": "5fed8ae7.8bb5a4",
        "name": "",
        "env": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "2704965f.c8c6fa",
                "4775d7e0.8127b8"
            ],
            [
                "a83e9bae.8c9a68"
            ],
            [
                "8f1f4081.886b1"
            ]
        ]
    },
    {
        "id": "4775d7e0.8127b8",
        "type": "debug",
        "z": "5fed8ae7.8bb5a4",
        "name": "dbg AOIs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 560,
        "wires": []
    },
    {
        "id": "23b5b29a.a5bc1e",
        "type": "change",
        "z": "dbc32d84.e0c05",
        "name": "getId",
        "rules": [
            {
                "t": "set",
                "p": "layer",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "21134248.e9090e"
            ]
        ]
    },
    {
        "id": "97bdcd02.c38e2",
        "type": "change",
        "z": "dbc32d84.e0c05",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "layer.poly",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "layer",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "layer",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 60,
        "wires": [
            [
                "b8d6bf31.67559"
            ]
        ]
    },
    {
        "id": "2abd8130.e8909e",
        "type": "change",
        "z": "dbc32d84.e0c05",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "loadPolygons",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "retries",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 40,
        "wires": [
            [
                "388f1fa3.2e7c4"
            ]
        ]
    },
    {
        "id": "21134248.e9090e",
        "type": "delay",
        "z": "dbc32d84.e0c05",
        "name": "Rate Limit 15",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "15",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "c933e5ae.d57a68"
            ]
        ]
    },
    {
        "id": "4d31b795.f8ab48",
        "type": "switch",
        "z": "dbc32d84.e0c05",
        "name": "",
        "property": "retries",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxRetries",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "97bdcd02.c38e2"
            ],
            [
                "b25b816d.6cd97"
            ]
        ]
    },
    {
        "id": "b25b816d.6cd97",
        "type": "change",
        "z": "dbc32d84.e0c05",
        "name": "inc Retries",
        "rules": [
            {
                "t": "set",
                "p": "retries",
                "pt": "msg",
                "to": "retries+1",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "layer.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "21134248.e9090e"
            ]
        ]
    }
]