.node-red/backups/flows_mbp-de-lucile.boiscolombes.fr.ibm.com.json
[{"id":"1dd8c15a.d9bc8f","type":"tab","label":"Common JS Code","disabled":false,"info":"Here we have the common header code"},{"id":"103af39c.1b0a4c","type":"tab","label":"UiBuilder-Vue","disabled":false,"info":""},{"id":"832f95f6.c00828","type":"tab","label":"PAIRS Viti Map","disabled":false,"info":"PAIRS Map with Viti layers"},{"id":"409ff81e.13efb8","type":"tab","label":"PAIRS Explorer","disabled":false,"info":""},{"id":"291be7d6.2ebbf8","type":"tab","label":"PAIRS Queries tests","disabled":false,"info":"Query PAIRS over REST/HTTP"},{"id":"8b4ffbc6.0c5188","type":"tab","label":"Simple PAIRS","disabled":false,"info":""},{"id":"d640f5f.5320708","type":"tab","label":"Map widget OSM","disabled":false,"info":"Example of MapWidget with OpenStreetMap background"},{"id":"5a0247b8.f9de18","type":"tab","label":"Web WorldMap node test","disabled":false,"info":""},{"id":"c4d10927.aa03b8","type":"tab","label":"Test BootStrap","disabled":false,"info":""},{"id":"ec30a594.93ed18","type":"subflow","name":"PAIRS Request","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"85caadb7.cc73a"}]}],"out":[{"x":1060,"y":40,"wires":[{"id":"9be577b6.bcb668","port":0}]},{"x":1060,"y":120,"wires":[{"id":"d7cfb5f2.97a838","port":0},{"id":"1b395d51.b93393","port":0},{"id":"42a2044d.8dd50c","port":0}]},{"x":1060,"y":200,"wires":[{"id":"7a8c27e5.277bd8","port":1}]}],"env":[{"name":"method","type":"str","value":""},{"name":"url","type":"str","value":"https://pairs.res.ibm.com/v2/"},{"name":"appendPayloadToURL","type":"bool","value":"true"},{"name":"urlSuffix","type":"str","value":""}],"color":"#0088EE","outputLabels":["result","debug","error"],"icon":"font-awesome/fa-question-circle"},{"id":"84155f54.5a59a","type":"subflow","name":"PAIRS Min-Mean-Max","info":"This subflow requires an input JSON that describes the parameters of the layers, point and temporal span\n\nThe request payload is in the form:\n{\n    \"layers\": [\n        \"16100\",\n        \"49440\",\n        \"49252\",\n        \"49257\",\n        \"49304\",\n        \"49313\",\n        \"50453\",\n        \"49310\",\n        \"49311\",\n        \"49250\",\n        \"49296\"\n    ],\n    \"refPoint\": {\n        \"lat\": \"49.080609\",\n        \"lng\": \"3.961231\"\n    },\n    \"startDay\": \"2018-06-30\",\n    \"endDay\": \"2018-10-31\"\n}","category":"","in":[{"x":40,"y":180,"wires":[{"id":"198aba15.ae1e46"}]}],"out":[{"x":740,"y":300,"wires":[{"id":"f6be8260.7b96c","port":0}]},{"x":740,"y":360,"wires":[{"id":"f6be8260.7b96c","port":1}]},{"x":740,"y":420,"wires":[{"id":"f6be8260.7b96c","port":2}]}],"env":[],"color":"#0088EE","outputLabels":["response","debug","error"],"icon":"node-red/white-globe.svg"},{"id":"3757872d.7d8e08","type":"subflow","name":"PAIRS Query Job","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"f911f3bd.759c"}]}],"out":[{"x":780,"y":400,"wires":[{"id":"b68da122.e39cb","port":0}]},{"x":780,"y":460,"wires":[{"id":"9bf37821.5543f8","port":1}]},{"x":760,"y":160,"wires":[{"id":"cf22848a.302fc8","port":0}]},{"x":780,"y":340,"wires":[{"id":"e923ad99.474f","port":0}]},{"x":760,"y":100,"wires":[{"id":"e6cd53db.975ec","port":0},{"id":"3757872d.7d8e08","port":0},{"id":"4d5ababa.2d1174","port":0},{"id":"68fa02b4.88fe4c","port":1}]}],"env":[{"name":"polingDelayMs","type":"num","value":"3000"}],"color":"#0088EE","outputLabels":["querySuccess","queryFailure","queryId","queryProgress","debugMsg"]},{"id":"5d3b30e4.b071e","type":"subflow","name":"PAIRS Layers Details","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"4015755a.0e622c"}]}],"out":[{"x":1000,"y":40,"wires":[{"id":"ed957446.f226d8","port":0}]},{"x":940,"y":300,"wires":[{"id":"733c6497.c3c32c","port":1},{"id":"f44f598a.bbbb88","port":0}]},{"x":940,"y":380,"wires":[{"id":"733c6497.c3c32c","port":2},{"id":"4015755a.0e622c","port":2}]}],"env":[{"name":"layersKey","type":"str","value":"layers"}],"color":"#0088EE","inputLabels":["layers"],"outputLabels":["layersDetails","msg","error"],"icon":"node-red/debug.svg"},{"id":"36b6cb51.94de54","type":"subflow","name":"PAIRS Min-Mean-Max (2)","info":"This subflow requires an input JSON that describes the parameters of the layers, point and temporal span\n\nThe request payload is in the form:\n{\n    \"layers\": [\n        \"16100\",\n        \"49440\",\n        \"49252\",\n        \"49257\",\n        \"49304\",\n        \"49313\",\n        \"50453\",\n        \"49310\",\n        \"49311\",\n        \"49250\",\n        \"49296\"\n    ],\n    \"refPoint\": {\n        \"lat\": \"49.080609\",\n        \"lng\": \"3.961231\"\n    },\n    \"startDay\": \"2018-06-30\",\n    \"endDay\": \"2018-10-31\"\n}","category":"","in":[{"x":40,"y":180,"wires":[{"id":"91ab3f1a.3f961"}]}],"out":[{"x":740,"y":300,"wires":[{"id":"748a209e.c118","port":0}]},{"x":740,"y":360,"wires":[{"id":"748a209e.c118","port":1}]},{"x":740,"y":420,"wires":[{"id":"748a209e.c118","port":2}]}],"env":[],"color":"#0088EE","outputLabels":["response","debug","error"],"icon":"node-red/white-globe.svg"},{"id":"e963d84f.1fbc58","type":"subflow","name":"PAIRS Query Job (2)","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"e881949c.55fbc8"}]}],"out":[{"x":780,"y":400,"wires":[{"id":"f8beb84.ff08848","port":0}]},{"x":780,"y":460,"wires":[{"id":"91c52a81.297668","port":1}]},{"x":760,"y":160,"wires":[{"id":"6dc26c2e.a125b4","port":0}]},{"x":780,"y":340,"wires":[{"id":"12d2c999.fae8d6","port":0}]},{"x":760,"y":100,"wires":[{"id":"683fbff0.c7248","port":0},{"id":"e963d84f.1fbc58","port":0},{"id":"348fb6b6.4c4dea","port":0},{"id":"3137f57f.1a6f0a","port":1}]}],"env":[{"name":"polingDelayMs","type":"num","value":"3000"}],"color":"#0088EE","outputLabels":["querySuccess","queryFailure","queryId","queryProgress","debugMsg"]},{"id":"ae09cdac.fc71","type":"subflow","name":"PAIRS Layers Details (2)","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"a3892370.8efce"}]}],"out":[{"x":1000,"y":40,"wires":[{"id":"1c5f08e1.d6ea67","port":0}]},{"x":940,"y":300,"wires":[{"id":"7ce15861.d1a078","port":1},{"id":"655d3f5e.f7041","port":0}]},{"x":940,"y":380,"wires":[{"id":"7ce15861.d1a078","port":2},{"id":"a3892370.8efce","port":2}]}],"env":[{"name":"layersKey","type":"str","value":"layers"}],"color":"#0088EE","inputLabels":["layers"],"outputLabels":["layersDetails","msg","error"],"icon":"node-red/debug.svg"},{"id":"77f4973e.4a2548","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6626ed63.5d6b84","type":"ui_group","z":0,"name":"Simple PAIRS","tab":"306bc034.277f","order":1,"disp":true,"width":"16","collapse":false},{"id":"7b3b1d7b.e15c24","type":"ui_group","z":0,"name":"Default","tab":"3a07f9cd.338c36","order":1,"disp":false,"width":24,"collapse":false},{"id":"f4aefdd3.7157b","type":"ui_group","z":0,"name":"Default","tab":"c59abc7e.1c691","order":2,"disp":false,"width":"18","collapse":false},{"id":"7b5b67ea.2225f8","type":"ui_spacer","z":0,"name":"spacer","group":"a0b3d8ed.461d08","order":10,"width":1,"height":1},{"id":"30300580.5b813a","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":1,"width":2,"height":1},{"id":"77f05479.be364c","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":2,"width":6,"height":1},{"id":"e9134d5d.bd6bf","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":3,"width":6,"height":1},{"id":"eb59c8eb.89e338","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":4,"width":4,"height":1},{"id":"61d8f6c7.c30bd8","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":5,"width":6,"height":1},{"id":"bac15460.c59cc8","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":6,"width":6,"height":1},{"id":"1cb93990.2533d6","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":3,"width":6,"height":1},{"id":"5b2f548.8fe42ac","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":4,"width":1,"height":1},{"id":"6ca930eb.d9381","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":7,"width":1,"height":1},{"id":"20c62294.9ae12e","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":8,"width":6,"height":1},{"id":"2b11c2cf.d2db4e","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":13,"width":2,"height":1},{"id":"e71457d9.a05068","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":15,"width":2,"height":1},{"id":"d950362a.d239c8","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":17,"width":6,"height":1},{"id":"76323691.765ea8","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":18,"width":6,"height":1},{"id":"29bc590e.925fd6","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":23,"width":6,"height":1},{"id":"d2d7991a.e0daf8","type":"ui_spacer","z":0,"name":"spacer","group":"f4aefdd3.7157b","order":25,"width":3,"height":1},{"id":"306bc034.277f","type":"ui_tab","z":0,"name":"Simple PAIRS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"3a07f9cd.338c36","type":"ui_tab","z":0,"name":"Viti View","icon":"fa-glass","order":1,"disabled":false,"hidden":false},{"id":"bec40d69.919f4","type":"ui_group","z":"","name":"Entfeuchter Chart","tab":"94bcb621.6944d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"94bcb621.6944d8","type":"ui_tab","z":"","name":"Entfeuchter","icon":"dashboard","order":4},{"id":"c87e9dc4.43e88","type":"ui_tab","z":"","name":"Test Bootstrap","icon":"dashboard","disabled":false,"hidden":false},{"id":"92fc8ac.d26a678","type":"ui_group","z":"","name":"Default","tab":"c87e9dc4.43e88","order":1,"disp":false,"width":"16","collapse":false},{"id":"4dc50319.daa8ac","type":"ui_spacer","name":"spacer","group":"7b3b1d7b.e15c24","order":21,"width":10,"height":1},{"id":"e1c5c74a.7c9768","type":"ui_spacer","name":"spacer","group":"7b3b1d7b.e15c24","order":23,"width":12,"height":1},{"id":"a58fa813.78e548","type":"ui_spacer","name":"spacer","group":"7b3b1d7b.e15c24","order":24,"width":12,"height":1},{"id":"bc2839f1.08c108","type":"ui_spacer","name":"spacer","group":"7b3b1d7b.e15c24","order":25,"width":12,"height":1},{"id":"842f933b.8becb","type":"ui_spacer","name":"spacer","group":"7b3b1d7b.e15c24","order":27,"width":10,"height":1},{"id":"d454c975.795258","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b4c806.2c37c8","type":"ui_group","z":"d640f5f.5320708","name":"Default","tab":"d93e7454.cad108","order":1,"disp":false,"width":"12","collapse":false},{"id":"7c8ed341.60e9ac","type":"ui_group","z":0,"name":"Simple PAIRS","tab":"8e732bd4.5711d8","order":1,"disp":true,"width":"16","collapse":false},{"id":"1c11e0d1.3b713f","type":"ui_group","z":0,"name":"Default","tab":"7b914a2.e1082b4","order":1,"disp":false,"width":24,"collapse":false},{"id":"6ae9f415.83059c","type":"ui_group","z":0,"name":"Default","tab":"bebfaef1.a5fe7","order":2,"disp":false,"width":"18","collapse":false},{"id":"89f2cffe.8bcde","type":"ui_spacer","z":0,"name":"spacer","group":"8b4c806.2c37c8","order":10,"width":1,"height":1},{"id":"522d5563.1a10ec","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":1,"width":2,"height":1},{"id":"62f97b72.ea1ea4","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":2,"width":6,"height":1},{"id":"7f3f12a0.570adc","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":3,"width":6,"height":1},{"id":"e46029f3.683d98","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":4,"width":4,"height":1},{"id":"31ffe756.0f2368","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":5,"width":6,"height":1},{"id":"80bc9eaa.c5b8f","type":"ui_spacer","z":0,"name":"spacer","group":"d29b8c50.712a7","order":6,"width":6,"height":1},{"id":"83ed8665.d960a8","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":3,"width":6,"height":1},{"id":"c12c6585.39cd18","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":4,"width":1,"height":1},{"id":"8f8fb99b.0d6698","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":7,"width":1,"height":1},{"id":"1a3f50aa.1f182f","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":8,"width":6,"height":1},{"id":"b186a248.ba7ca","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":13,"width":2,"height":1},{"id":"b091d42.566b828","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":15,"width":2,"height":1},{"id":"358ce91e.d089b6","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":17,"width":6,"height":1},{"id":"b878430e.42d7f","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":18,"width":6,"height":1},{"id":"8bde360c.c9d758","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":23,"width":6,"height":1},{"id":"4dd3a4fd.9dbc6c","type":"ui_spacer","z":0,"name":"spacer","group":"6ae9f415.83059c","order":25,"width":3,"height":1},{"id":"bebfaef1.a5fe7","type":"ui_tab","z":"409ff81e.13efb8","name":"PAIRS Explorer","icon":"fa-search","order":2,"disabled":false,"hidden":false},{"id":"d93e7454.cad108","type":"ui_tab","z":"d640f5f.5320708","name":"Map Widget","icon":"fa-map-o","order":3,"disabled":false,"hidden":false},{"id":"8e732bd4.5711d8","type":"ui_tab","z":0,"name":"Simple PAIRS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"7b914a2.e1082b4","type":"ui_tab","z":0,"name":"Viti View","icon":"fa-glass","order":1,"disabled":false,"hidden":false},{"id":"c2ea1e96.7ddfe","type":"ui_group","z":"","name":"Entfeuchter Chart","tab":"7e378577.4ba42c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7e378577.4ba42c","type":"ui_tab","z":"","name":"Entfeuchter","icon":"dashboard","order":4},{"id":"73fdd99e.cc3a38","type":"ui_tab","z":"","name":"Test Bootstrap","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c1494a4.6188cc","type":"ui_group","z":"","name":"Default","tab":"73fdd99e.cc3a38","order":1,"disp":false,"width":"16","collapse":false},{"id":"9ee5ad62.7b09c","type":"ui_spacer","name":"spacer","group":"1c11e0d1.3b713f","order":21,"width":10,"height":1},{"id":"af7b391.02de5c8","type":"ui_spacer","name":"spacer","group":"1c11e0d1.3b713f","order":23,"width":12,"height":1},{"id":"b8de0059.dfcb4","type":"ui_spacer","name":"spacer","group":"1c11e0d1.3b713f","order":24,"width":12,"height":1},{"id":"73b8a983.aece38","type":"ui_spacer","name":"spacer","group":"1c11e0d1.3b713f","order":25,"width":12,"height":1},{"id":"27bd13da.90023c","type":"ui_spacer","name":"spacer","group":"1c11e0d1.3b713f","order":27,"width":10,"height":1},{"id":"42a2044d.8dd50c","type":"http request","z":"ec30a594.93ed18","name":"","method":"use","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":100,"wires":[["7a8c27e5.277bd8"]]},{"id":"c3470acb.e7d778","type":"inject","z":"3757872d.7d8e08","name":"Large query-Don't use!","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[{\"type\":\"raster\",\"id\":\"51\"}],\"spatial\":{\"type\":\"square\",\"coordinates\":[\"35.6523\",\"-87.62\",\"51.6523\",\"-71.62\"]},\"temporal\":{\"intervals\":[{\"snapshot\":\"2018-05-31T00:00:00Z\"}]}}","payloadType":"json","x":160,"y":120,"wires":[["e6cd53db.975ec"]]},{"id":"c8354a93.d7d458","type":"change","z":"3757872d.7d8e08","name":"Extract query ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["5037e935.22e708"]]},{"id":"e6cd53db.975ec","type":"subflow:ec30a594.93ed18","z":"3757872d.7d8e08","name":"POST query","env":[{"name":"method","value":"POST","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/query","type":"str"}],"x":490,"y":80,"wires":[["36999f14.2256"],[],[]]},{"id":"d7cfb5f2.97a838","type":"change","z":"ec30a594.93ed18","name":"Payload as data","rules":[{"t":"set","p":"method","pt":"msg","to":"method","tot":"env"},{"t":"set","p":"url","pt":"msg","to":"url","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["42a2044d.8dd50c"]]},{"id":"68fa02b4.88fe4c","type":"subflow:ec30a594.93ed18","z":"3757872d.7d8e08","name":"GET queryjobs","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/queryjobs/","type":"str"}],"x":480,"y":300,"wires":[["e923ad99.474f"],[],[]]},{"id":"36999f14.2256","type":"json","z":"3757872d.7d8e08","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["c8354a93.d7d458","cf22848a.302fc8"]]},{"id":"85caadb7.cc73a","type":"switch","z":"ec30a594.93ed18","name":"","property":"method","propertyType":"env","rules":[{"t":"eq","v":"GET","vt":"str"},{"t":"eq","v":"POST","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":80,"wires":[["a574bfcb.0a156"],["d7cfb5f2.97a838"]]},{"id":"1b395d51.b93393","type":"change","z":"ec30a594.93ed18","name":"Payload appended to URL","rules":[{"t":"set","p":"method","pt":"msg","to":"method","tot":"env"},{"t":"set","p":"url","pt":"msg","to":"$join([$env(\"url\"),payload,$env(\"urlSuffix\")])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":20,"wires":[["42a2044d.8dd50c"]]},{"id":"3e82db41.a446d4","type":"delay","z":"3757872d.7d8e08","name":"","pauseType":"delayv","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":300,"wires":[["68fa02b4.88fe4c"]]},{"id":"e923ad99.474f","type":"switch","z":"3757872d.7d8e08","name":"Test not ready","property":"payload.ready","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":380,"wires":[["c8354a93.d7d458"],["9bf37821.5543f8"]],"outputLabels":["not ready","ready"]},{"id":"2a8022c.49e6cde","type":"inject","z":"3757872d.7d8e08","name":"Viti Layers UDF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"fichierRef 02_09_2020 Hackaton01\",\"layers\":[{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Mean\",\"alias\":\"49250_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Max\",\"alias\":\"49250_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Min\",\"alias\":\"49250_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Mean\",\"alias\":\"49257_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Max\",\"alias\":\"49257_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Min\",\"alias\":\"49257_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Mean\",\"alias\":\"49304_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Max\",\"alias\":\"49304_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Min\",\"alias\":\"49304_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Mean\",\"alias\":\"49311_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Max\",\"alias\":\"49311_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Min\",\"alias\":\"49311_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Mean\",\"alias\":\"49423_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Max\",\"alias\":\"49423_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Min\",\"alias\":\"49423_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Mean\",\"alias\":\"49432_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Max\",\"alias\":\"49432_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Min\",\"alias\":\"49432_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Mean\",\"alias\":\"49433_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Max\",\"alias\":\"49433_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Min\",\"alias\":\"49433_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Mean\",\"alias\":\"49441_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Max\",\"alias\":\"49441_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Min\",\"alias\":\"49441_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Mean\",\"alias\":\"49454_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Max\",\"alias\":\"49454_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Min\",\"alias\":\"49454_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Mean\",\"alias\":\"49459_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Max\",\"alias\":\"49459_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Min\",\"alias\":\"49459_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Mean\",\"alias\":\"50509_Mean\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Max\",\"alias\":\"50509_Max\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Min\",\"alias\":\"50509_Min\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"alias\":\"result_01_01\",\"expression\":\"( (( $49250_Mean >= 2.321849897949975 && $49250_Mean <= 2.368755956494419) ? 1 : 0 ) + (( $49250_Max >= 77.41799697875976 && $49250_Max <= 78.98199691772462) ? 1 : 0 ) + (( $49250_Min >= 0.0 && $49250_Min <= 0.0) ? 1 : 0 ) + (( $49257_Mean >= 284.1551711524563 && $49257_Mean <= 289.8956796605868) ? 1 : 0 ) + (( $49257_Max >= 310.66198791503905 && $49257_Max <= 316.93798767089845) ? 1 : 0 ) + (( $49257_Min >= 265.4190060424804 && $49257_Min <= 270.7810061645507) ? 1 : 0 ) + (( $49304_Mean >= 279.1707334716049 && $49304_Mean <= 284.81054626901107) ? 1 : 0 ) + (( $49304_Max >= 290.86198791503904 && $49304_Max <= 296.73798767089846) ? 1 : 0 ) + (( $49304_Min >= 264.825 && $49304_Min <= 270.175) ? 1 : 0 ) + (( $49311_Mean >= 0.99 && $49311_Mean <= 1.01) ? 1 : 0 ) + (( $49311_Max >= 7.92 && $49311_Max <= 8.08) ? 1 : 0 ) + (( $49311_Min >= 0.0 && $49311_Min <= 0.0) ? 1 : 0 ) + (( $49423_Mean >= 284.5703098782602 && $49423_Mean <= 290.319205027316) ? 1 : 0 ) + (( $49423_Max >= 312.1891644287109 && $49423_Max <= 318.4960162353516) ? 1 : 0 ) + (( $49423_Min >= 266.8143054199219 && $49423_Min <= 272.2044934082031) ? 1 : 0 ) + (( $49432_Mean >= 1.4711724457070526e-05 && $49432_Mean <= 1.500893101175882e-05) ? 1 : 0 ) + (( $49432_Max >= 0.0012394013861194253 && $49432_Max <= 0.0012644397979602218) ? 1 : 0 ) + (( $49432_Min >= 0.0 && $49432_Min <= 0.0) ? 1 : 0 ) + (( $49433_Mean >= 5.619700130714136e-05 && $49433_Mean <= 5.7332294262841185e-05) ? 1 : 0 ) + (( $49433_Max >= 0.004692061319947243 && $49433_Max <= 0.004786850437521936) ? 1 : 0 ) + (( $49433_Min >= 0.0 && $49433_Min <= 0.0) ? 1 : 0 ) + (( $49441_Mean >= 763428.8643517453 && $49441_Mean <= 778851.6696921847) ? 1 : 0 ) + (( $49441_Max >= 3230569.7325 && $49441_Max <= 3295833.7675) ? 1 : 0 ) + (( $49441_Min >= 0.0 && $49441_Min <= 0.0) ? 1 : 0 ) + (( $49454_Mean >= 0.6154233965255467 && $49454_Mean <= 0.6278561924149517) ? 1 : 0 ) + (( $49454_Max >= 0.99 && $49454_Max <= 1.01) ? 1 : 0 ) + (( $49454_Min >= 0.0 && $49454_Min <= 0.0) ? 1 : 0 ) + (( $49459_Mean >= 0.00010613992575907212 && $49459_Mean <= 0.00010828416668349784) ? 1 : 0 ) + (( $49459_Max >= 0.004916948159225286 && $49459_Max <= 0.005016280445270241) ? 1 : 0 ) + (( $49459_Min >= 0.0 && $49459_Min <= 0.0) ? 1 : 0 ) + (( $50509_Mean >= 7.1379 && $50509_Mean <= 7.2821) ? 1 : 0 ) + (( $50509_Max >= 7.1379 && $50509_Max <= 7.2821) ? 1 : 0 ) + (( $50509_Min >= 7.1379 && $50509_Min <= 7.2821) ? 1 : 0 ) / 33 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":\"38662\"},\"temporal\":{\"intervals\":[{\"start\":\"2019-05-01T00:00:00Z\",\"end\":\"2019-12-31T23:59:59Z\"}]}}","payloadType":"json","x":140,"y":80,"wires":[["e6cd53db.975ec"]]},{"id":"f6be8260.7b96c","type":"subflow:ec30a594.93ed18","z":"84155f54.5a59a","name":"POST query","env":[{"name":"method","value":"POST","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/query","type":"str"},{"name":"appendPayloadToURL","value":"false","type":"bool"}],"x":510,"y":360,"wires":[[],[],[]]},{"id":"a574bfcb.0a156","type":"switch","z":"ec30a594.93ed18","name":"","property":"appendPayloadToURL","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":40,"wires":[["1b395d51.b93393"],["d7cfb5f2.97a838"]]},{"id":"198aba15.ae1e46","type":"template","z":"84155f54.5a59a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"layers\": [\n    {{#payload.layers}}\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Min\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Max\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"point\",\n        \"coordinates\": [\n            \"{{payload.pos.lat}}\",\n            \"{{payload.pos.lng}}\"\n        ]\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}","output":"str","x":320,"y":180,"wires":[["d5764659.52f228"]]},{"id":"e068b4b9.4d7578","type":"json","z":"84155f54.5a59a","name":"","property":"payload","action":"","pretty":false,"x":310,"y":360,"wires":[["f6be8260.7b96c"]]},{"id":"d5764659.52f228","type":"function","z":"84155f54.5a59a","name":"FixJSON","func":"msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["e068b4b9.4d7578"]]},{"id":"5037e935.22e708","type":"change","z":"3757872d.7d8e08","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"polingDelayMs","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["3e82db41.a446d4"]]},{"id":"9bf37821.5543f8","type":"switch","z":"3757872d.7d8e08","name":"Test success","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Succeeded","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":380,"wires":[["b68da122.e39cb"],[]],"outputLabels":["Succeeded","Failed"]},{"id":"f911f3bd.759c","type":"template","z":"3757872d.7d8e08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{  \"name\": \"NodeRED_Ref {{payload.pos.lat}}-{{payload.pos.lng}}\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \"alias\": \"{{.}}_Mean\",\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": \"38662\"\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}","output":"str","x":180,"y":20,"wires":[["e8f677d5.949648"]]},{"id":"e8f677d5.949648","type":"function","z":"3757872d.7d8e08","name":"FixJSON","func":"msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":20,"wires":[["4d5ababa.2d1174"]]},{"id":"4d5ababa.2d1174","type":"json","z":"3757872d.7d8e08","name":"","property":"payload","action":"","pretty":false,"x":450,"y":20,"wires":[["e6cd53db.975ec"]]},{"id":"cf22848a.302fc8","type":"change","z":"3757872d.7d8e08","name":"Extract query ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[[]]},{"id":"b68da122.e39cb","type":"json","z":"3757872d.7d8e08","name":"","property":"payload","action":"","pretty":false,"x":650,"y":380,"wires":[[]]},{"id":"4573502a.0812d","type":"comment","z":"84155f54.5a59a","name":"Generate Min-Mean-Max query for mutiple layers","info":"Generate","x":250,"y":80,"wires":[]},{"id":"7a8c27e5.277bd8","type":"switch","z":"ec30a594.93ed18","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":60,"wires":[["9be577b6.bcb668"],[]],"outputLabels":["ok","error"]},{"id":"733c6497.c3c32c","type":"subflow:ec30a594.93ed18","z":"5d3b30e4.b071e","name":"","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/datalayers/","type":"str"}],"x":640,"y":60,"wires":[["ed957446.f226d8"],[],[]]},{"id":"f44f598a.bbbb88","type":"split","z":"5d3b30e4.b071e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":60,"wires":[["733c6497.c3c32c"]]},{"id":"e5c04475.8635d8","type":"change","z":"5d3b30e4.b071e","name":"set layers","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.layers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["f44f598a.bbbb88"]]},{"id":"ed957446.f226d8","type":"join","z":"5d3b30e4.b071e","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":80,"wires":[[]]},{"id":"4015755a.0e622c","type":"switch","z":"5d3b30e4.b071e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"layersKey","vt":"env"},{"t":"istype","v":"array","vt":"array"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":180,"wires":[["e5c04475.8635d8"],["f44f598a.bbbb88"],[]]},{"id":"dc6f7c.35788088","type":"comment","z":"5d3b30e4.b071e","name":"This subflow gets full layers details","info":"Input can be either a array of layerIDs, or a member which is itself an array or layerIDs","x":230,"y":380,"wires":[]},{"id":"9be577b6.bcb668","type":"json","z":"ec30a594.93ed18","name":"","property":"payload","action":"","pretty":false,"x":950,"y":40,"wires":[[]]},{"id":"19753a9b.c7e055","type":"debug","z":"409ff81e.13efb8","name":"","active":false,"console":"false","complete":"true","x":510,"y":40,"wires":[]},{"id":"1613ac52.a12134","type":"json","z":"409ff81e.13efb8","name":"","property":"payload","action":"str","pretty":false,"x":330,"y":40,"wires":[["e5246e95.13e95","19753a9b.c7e055"]]},{"id":"9a0c0b2b.3b2898","type":"inject","z":"d640f5f.5320708","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":160,"y":120,"wires":[["c67b7495.02b008"]]},{"id":"c67b7495.02b008","type":"function","z":"d640f5f.5320708","name":"Generate Mike random movements","func":"// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:\"Mike\", \n    icon:\"male\", \n    color:\"#000\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["4e9aabc6.37d164","ef35c768.9ee098"]]},{"id":"82a61dbe.1ff1f","type":"comment","z":"d640f5f.5320708","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":210,"y":60,"wires":[]},{"id":"6ba95a2c.d210c4","type":"debug","z":"d640f5f.5320708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"e5246e95.13e95","type":"switch","z":"409ff81e.13efb8","name":"","property":"msg","propertyType":"jsonata","rules":[{"t":"hask","v":"mousePos","vt":"str"},{"t":"hask","v":"dimChange","vt":"str"},{"t":"hask","v":"initMap","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":100,"wires":[["bad3192.02114e8","25b46623.7e683a"],["9bc6d42a.fb88f8"],["9ffe9867.4130a8"]]},{"id":"9bc6d42a.fb88f8","type":"change","z":"409ff81e.13efb8","name":"","rules":[{"t":"set","p":"lastDim","pt":"flow","to":"dimChange","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["9fb5fc1.cbc82","deb6664d.814bd8","aa9b6bbb.b9f258","529d70f9.b5c32"]]},{"id":"74f34414.ae90ac","type":"change","z":"409ff81e.13efb8","name":"setDim from flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"setDim\": $flowContext(\"lastDim\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":280,"wires":[["dba82b81.5d50e8","82d3703f.f0fa"]]},{"id":"559cc775.fca4c8","type":"debug","z":"409ff81e.13efb8","name":"","active":true,"console":"false","complete":"true","x":250,"y":560,"wires":[]},{"id":"54dcdaec.11b574","type":"catch","z":"409ff81e.13efb8","name":"","scope":null,"uncaught":false,"x":100,"y":560,"wires":[["559cc775.fca4c8"]]},{"id":"a996e552.045a08","type":"change","z":"409ff81e.13efb8","name":"setOpacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"setOpacity\": {\t    \"layer\":\"Nitro\",\t    \"opacity\": payload\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["82d3703f.f0fa","1b7454b7.57068b"]]},{"id":"2a5321af.086e0e","type":"debug","z":"832f95f6.c00828","name":"","active":false,"console":"false","complete":"true","x":450,"y":160,"wires":[]},{"id":"9b627c31.b48fc","type":"json","z":"832f95f6.c00828","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":160,"wires":[["18ccdb54.e2f005","2a5321af.086e0e"]]},{"id":"18ccdb54.e2f005","type":"switch","z":"832f95f6.c00828","name":"","property":"msg","propertyType":"jsonata","rules":[{"t":"hask","v":"mousePos","vt":"str"},{"t":"hask","v":"dimChange","vt":"str"},{"t":"hask","v":"initMap","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":220,"wires":[["638cb694.d9a3a8","703ad81b.b45388","7d07ea39.36f3f4"],["bbc27671.1d5f08"],["d6343803.4435b8","8a3b4d15.51526"]]},{"id":"bbc27671.1d5f08","type":"change","z":"832f95f6.c00828","name":"","rules":[{"t":"set","p":"lastDim","pt":"flow","to":"dimChange","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["5df6a902.134898","b5143f2b.aa6be","cd1a0d0c.3a231"]]},{"id":"8c251e5e.cba08","type":"change","z":"832f95f6.c00828","name":"setDim from flow","rules":[{"t":"set","p":"payload.setDim","pt":"msg","to":"lastDim","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":440,"wires":[["822e02b9.db573","abd7de9f.dc3d8"]]},{"id":"e13dddad.d41ec","type":"debug","z":"832f95f6.c00828","name":"","active":false,"console":"false","complete":"true","x":250,"y":780,"wires":[]},{"id":"ad79d381.14d3b","type":"catch","z":"832f95f6.c00828","name":"","scope":null,"uncaught":false,"x":80,"y":780,"wires":[["e13dddad.d41ec"]]},{"id":"abb753d0.3b408","type":"change","z":"832f95f6.c00828","name":"setOpacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"setOpacity\": {\t    \"layer\":\"Nitro\",\t    \"opacity\": payload\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["abd7de9f.dc3d8"]]},{"id":"7c0e34f6.0561ac","type":"change","z":"832f95f6.c00828","name":"setOpacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"setOpacity\": {\t    \"layer\":\"Popul\",\t    \"opacity\": payload\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["abd7de9f.dc3d8"]]},{"id":"d6343803.4435b8","type":"change","z":"832f95f6.c00828","name":"SetRefPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"setDim\": {\t        \"zoom\": \"14\",\t        \"pos\": $flowContext(\"refData\").pos,\t        \"type\": \"initMap\",\t        \"mapId\": msg.payload.mapId\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":80,"wires":[["822e02b9.db573","abd7de9f.dc3d8","a6fafa46.9230c8"]]},{"id":"84b2aa5d.8d3458","type":"change","z":"832f95f6.c00828","name":"En Nitro","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["28176df4.2e8552"]]},{"id":"5ad42611.4a6628","type":"change","z":"832f95f6.c00828","name":"En Popul","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["71a5796f.06d388"]]},{"id":"52a2d31a.35be0c","type":"inject","z":"832f95f6.c00828","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.4","payloadType":"num","x":90,"y":300,"wires":[["71a5796f.06d388","28176df4.2e8552"]]},{"id":"dbac8fa7.d9507","type":"change","z":"409ff81e.13efb8","name":"setOpacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"setOpacity\": {\t    \"layer\":\"Popul\",\t    \"opacity\": payload\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["82d3703f.f0fa"]]},{"id":"f7b744fd.7b0298","type":"change","z":"409ff81e.13efb8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["ee8e4b5a.2e3af8"]]},{"id":"b7fa0d38.0ba6a","type":"change","z":"409ff81e.13efb8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["9834b383.74e3"]]},{"id":"1b7454b7.57068b","type":"debug","z":"409ff81e.13efb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"9ffe9867.4130a8","type":"change","z":"409ff81e.13efb8","name":"SetRefPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"setDim\": {\t        \"zoom\": \"13\",\t        \"pos\": {\t            \"lat\": \"48.204550\",\t            \"lng\": \"16.364333\"\t        },\t        \"type\": \"initMap\",\t        \"mapId\": msg.payload.mapId\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":20,"wires":[["82d3703f.f0fa"]]},{"id":"76059be5.a82504","type":"inject","z":"e963d84f.1fbc58","name":"Large query-Don't use!","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[{\"type\":\"raster\",\"id\":\"51\"}],\"spatial\":{\"type\":\"square\",\"coordinates\":[\"35.6523\",\"-87.62\",\"51.6523\",\"-71.62\"]},\"temporal\":{\"intervals\":[{\"snapshot\":\"2018-05-31T00:00:00Z\"}]}}","payloadType":"json","x":160,"y":120,"wires":[["683fbff0.c7248"]]},{"id":"e62dde1f.c7251","type":"change","z":"e963d84f.1fbc58","name":"Extract query ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["a78464dc.a87c58"]]},{"id":"683fbff0.c7248","type":"subflow:ec30a594.93ed18","z":"e963d84f.1fbc58","name":"POST query","env":[{"name":"method","value":"POST","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/query","type":"str"}],"x":490,"y":80,"wires":[["1c44388b.7c78d7"],[],[]]},{"id":"3137f57f.1a6f0a","type":"subflow:ec30a594.93ed18","z":"e963d84f.1fbc58","name":"GET queryjobs","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/queryjobs/","type":"str"}],"x":480,"y":300,"wires":[["12d2c999.fae8d6"],[],[]]},{"id":"1c44388b.7c78d7","type":"json","z":"e963d84f.1fbc58","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["e62dde1f.c7251","6dc26c2e.a125b4"]]},{"id":"c21043df.0520e","type":"delay","z":"e963d84f.1fbc58","name":"","pauseType":"delayv","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":300,"wires":[["3137f57f.1a6f0a"]]},{"id":"12d2c999.fae8d6","type":"switch","z":"e963d84f.1fbc58","name":"Test not ready","property":"payload.ready","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":380,"wires":[["e62dde1f.c7251"],["91c52a81.297668"]],"outputLabels":["not ready","ready"]},{"id":"b82af6d2.17fee8","type":"subflow:ec30a594.93ed18","z":"291be7d6.2ebbf8","name":"GET queryjobs/download/","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/queryjobs/download/","type":"str"}],"x":390,"y":600,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"4d1bb5d.4ed0c4c","type":"switch","z":"291be7d6.2ebbf8","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Succeeded","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":20,"wires":[[],[]],"outputLabels":["Succeeded","Failed"]},{"id":"cd5dd61.50c7428","type":"change","z":"291be7d6.2ebbf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":560,"wires":[["b82af6d2.17fee8"]]},{"id":"8a274904.bc2f28","type":"inject","z":"291be7d6.2ebbf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lastQuery","payloadType":"flow","x":110,"y":620,"wires":[["b82af6d2.17fee8"]]},{"id":"a26d5449.9c9988","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":5,"width":6,"height":1,"passthru":false,"label":"Move Mike","tooltip":"","color":"","bgcolor":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":160,"y":180,"wires":[["c67b7495.02b008"]]},{"id":"f7bb5bbf.eaea98","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":4,"width":2,"height":1,"passthru":false,"label":"Hide all","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":{\"layer\":\"none\"}}","payloadType":"json","topic":"","x":170,"y":320,"wires":[["4e9aabc6.37d164"]]},{"id":"bee517d6.a780c8","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":3,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":{\"map\":{\"delete\":[\"Watercolor\",\"ship nav\",\"heatmap\",\"Terrain\",\"UK OS 1900\",\"UK OS 1919-47\"]}}}","payloadType":"json","topic":"","x":180,"y":420,"wires":[["4e9aabc6.37d164"]]},{"id":"65231059.95ce5","type":"ui_button","z":"409ff81e.13efb8","name":"","group":"6ae9f415.83059c","order":14,"width":2,"height":1,"passthru":false,"label":"Align coords","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lastDim","payloadType":"flow","topic":"","x":730,"y":280,"wires":[["74f34414.ae90ac"]]},{"id":"5bce5f00.b49c8","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":7,"width":3,"height":1,"passthru":false,"label":"NowCoast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":{\"map\":{\"overlay\":\"NowCoast\",\"url\":\"https://nowcoast.noaa.gov/arcgis/services/nowcoast/radar_meteo_imagery_nexrad_time/MapServer/WmsServer?\",\"opt\":{\"layers\":\"1\",\"format\":\"image/png\",\"transparent\":true,\"attribution\":\"NOAA/NWS\"},\"wms\":true}}}","payloadType":"json","topic":"","x":160,"y":500,"wires":[["4e9aabc6.37d164"]]},{"id":"2617d832.cef838","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":8,"width":3,"height":1,"passthru":false,"label":"PAIRS Population","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":{\"map\":{\"overlay\":\"Population\",\"url\":\"https://pairs.res.ibm.com:8080/geoserver06/pairs/wms?styles=&sld=https%3A%2F%2Fpairs.res.ibm.com%3A443%2Fmap%2Fsld%3Ftype%3Draster%26min%3D0%26max%3D655350%26colorTableId%3D92%26no_data%3D-1%26property%3Dvalue%26layer%3Dpairs%3A1588046400_35972570GlobalpopulationSEDAC-Globalpopulationdensity-01_01_2020T000000&authorization=jGn23qJeqcCVeFaRot2duWirS6bl052bxLjdSisZWVjlSadbmAWAfc30SUd9L-GxPBIZ-TulkhNL1LAl-J_Sjmf-j7TUEqpIHj4kZ1flCBHmOs6aNmw_qkT1YrtYhYLDmmJktFoRfpfW9GeCaD41Ed21bVw2XOWyBLHVn4kf43rMqI326lp7vxJGGjmZlXjtBFfUFvhoh7gYEZgnWB-mk-506RyWVqQ3rc4J0AusaRRbh6xg_D4DXbjSqqO4q9ft1SY8xNjiqAQO4Nde0QcEHdY_DU54WheQP_vmw8a_C4Q5KSNlQ4oA_X4A3XXcHiMjtLszKAi3hCa0jvj3MmLAm0xyhA1OhNgKWCkUHG53wIee7FqRKSeMfjQEHDpLVxUVWL2L99ZYxO-vt8gL2UA6y68yExwlVnVQMOe3yL-nfflwM_Jo8QPK46gC5ogbmEhr9xJFswwGG7BcUNdnXMAFADBmVoCfl6KpEW4wvXjBfYy7fWED93Tmsq1SdPMX_gIPEfkvT2ZTG_iL-4i_eCa91OffwkQlu0FON0hioVTtdgtZ-fHFfxn9A7lL0NOqV2yTRel1ZFue93HYI3ZWYSRZSdZJjt3mSX7lLDXtzD2iCSraSI3gG8wZyRO8gBu4ttA7wF3qrbneBbxWnpMwX1EHv2n9N4h9DglgfwZZob54U4I\",\"opt\":{\"layers\":\"1588046400_35972570GlobalpopulationSEDAC-Globalpopulationdensity-01_01_2020T000000\",\"format\":\"image/png\",\"transparent\":true,\"transitionEffect\":\"resize\",\"attribution\":\"PAIRS\"},\"wms\":true}}}","payloadType":"json","topic":"","x":190,"y":540,"wires":[["4e9aabc6.37d164"]]},{"id":"3dce8a80.f09816","type":"ui_button","z":"d640f5f.5320708","name":"","group":"8b4c806.2c37c8","order":9,"width":3,"height":1,"passthru":false,"label":"PAIRS Nitro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":{\"map\":{\"overlay\":\"Nitro\",\"url\":\"https://pairs.res.ibm.com:8080/geoserver1/pairs/wms?styles=&sld=https%3A%2F%2Fpairs.res.ibm.com%3A443%2Fmap%2Fsld%3Ftype%3Draster%26min%3D0%26max%3D0.0001%26colorTableId%3D4%26no_data%3D-1%26property%3Dvalue%26layer%3Dpairs%3A1588089600_03312498ESASentinel5PL2-NitrogendioxideTropospheric5042415856992000001588291200000-Mean&authorization=jGn23qJeqcCVeFaRot2duWirS6bl052bxLjdSisZWVjlSadbmAWAfc30SUd9L-GxPBIZ-TulkhNL1LAl-J_Sjmf-j7TUEqpIHj4kZ1flCBHmOs6aNmw_qkT1YrtYhYLDmmJktFoRfpfW9GeCaD41Ed21bVw2XOWyBLHVn4kf43rMqI326lp7vxJGGjmZlXjtBFfUFvhoh7gYEZgnWB-mk-506RyWVqQ3rc4J0AusaRRbh6xg_D4DXbjSqqO4q9ft1SY8xNjiqAQO4Nde0QcEHdY_DU54WheQP_vmw8a_C4Q5KSNlQ4oA_X4A3XXcHiMjtLszKAi3hCa0jvj3MmLAm0xyhA1OhNgKWCkUHG53wIee7FqRKSeMfjQEHDpLVxUVWL2L99ZYxO-vt8gL2UA6y68yExwlVnVQMOe3yL-nfflwM_Jo8QPK46gC5ogbmEhr9xJFswwGG7BcUNdnXMAFADBmVoCfl6KpEW4wvXjBfYy7fWED93Tmsq1SdPMX_gIPEfkvT2ZTG_iL-4i_eCa91OffwkQlu0FON0hioVTtdgtZ-fHFfxn9A7lL0NOqV2yTRel1ZFue93HYI3ZWYSRZSdZJjt3mSX7lLDXtzD2iCSraSI3gG8wZyRO8gBu4ttA7wF3qrbneBbxWnpMwX1EHv2n9N4h9DglgfwZZob54U4I\",\"opt\":{\"layers\":\"1588089600_03312498ESASentinel5PL2-NitrogendioxideTropospheric5042415856992000001588291200000-Mean\",\"format\":\"image/png\",\"transparent\":true,\"transitionEffect\":\"resize\",\"attribution\":\"PAIRS\"},\"wms\":true}}}","payloadType":"json","topic":"","x":170,"y":580,"wires":[["4e9aabc6.37d164"]]},{"id":"f4dca1de.17207","type":"ui_button","z":"832f95f6.c00828","name":"","group":"1c11e0d1.3b713f","order":14,"width":2,"height":1,"passthru":false,"label":"Align coords","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":90,"y":440,"wires":[["8c251e5e.cba08"]]},{"id":"8b0fec84.b036e","type":"ui_button","z":"409ff81e.13efb8","name":"","group":"6ae9f415.83059c","order":24,"width":3,"height":1,"passthru":false,"label":"Test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"test\":true}","payloadType":"json","topic":"","x":100,"y":460,"wires":[["82d3703f.f0fa"]]},{"id":"2775b6b2.26128a","type":"ui_switch","z":"832f95f6.c00828","name":"Show Popul","label":"Show","tooltip":"","group":"1c11e0d1.3b713f","order":19,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":340,"wires":[["5ad42611.4a6628"]]},{"id":"55089df3.901b44","type":"ui_switch","z":"832f95f6.c00828","name":"Show Nitro","label":"Show","tooltip":"","group":"1c11e0d1.3b713f","order":17,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":380,"wires":[["84b2aa5d.8d3458"]]},{"id":"7cb20e1e.2186d","type":"ui_switch","z":"409ff81e.13efb8","name":"Switch Nitro","label":"","tooltip":"","group":"6ae9f415.83059c","order":20,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":320,"wires":[["f7b744fd.7b0298"]]},{"id":"3f32002d.d1dc","type":"ui_switch","z":"409ff81e.13efb8","name":"Switch popul","label":"","tooltip":"","group":"6ae9f415.83059c","order":22,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":380,"wires":[["b7fa0d38.0ba6a"]]},{"id":"ee8e4b5a.2e3af8","type":"ui_slider","z":"409ff81e.13efb8","name":"","label":"Nitro Opacity","tooltip":"","group":"6ae9f415.83059c","order":19,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"1","step":"0.1","x":110,"y":320,"wires":[["a996e552.045a08"]]},{"id":"28176df4.2e8552","type":"ui_slider","z":"832f95f6.c00828","name":"","label":"Nitro Opacity","tooltip":"","group":"1c11e0d1.3b713f","order":18,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"1","step":"0.1","x":130,"y":380,"wires":[["abb753d0.3b408"]]},{"id":"71a5796f.06d388","type":"ui_slider","z":"832f95f6.c00828","name":"","label":"Popul Opacity","tooltip":"","group":"1c11e0d1.3b713f","order":16,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"1","step":"0.1","x":140,"y":340,"wires":[["7c0e34f6.0561ac"]]},{"id":"9834b383.74e3","type":"ui_slider","z":"409ff81e.13efb8","name":"","label":"Popul Opacity","tooltip":"","group":"6ae9f415.83059c","order":21,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"1","step":"0.1","x":120,"y":380,"wires":[["dbac8fa7.d9507"]]},{"id":"9fb5fc1.cbc82","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":9,"width":6,"height":1,"name":"","label":"Last Dimensions","format":"","layout":"col-center","x":740,"y":140,"wires":[]},{"id":"fc60ccdb.62702","type":"ui_text","z":"d640f5f.5320708","group":"8b4c806.2c37c8","order":2,"width":2,"height":1,"name":"","label":"Layers","format":"","layout":"row-left","x":710,"y":100,"wires":[]},{"id":"3f4b4396.6209ac","type":"ui_text","z":"d640f5f.5320708","group":"8b4c806.2c37c8","order":6,"width":2,"height":1,"name":"","label":"Add","format":"","layout":"row-spread","x":710,"y":140,"wires":[]},{"id":"bad3192.02114e8","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":11,"width":2,"height":1,"name":"Map Lat","label":"Lat","format":"{{msg.mousePos.lat | number:3}}","layout":"row-left","x":840,"y":200,"wires":[]},{"id":"25b46623.7e683a","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":12,"width":2,"height":1,"name":"Map Lng","label":"Lng","format":"{{msg.mousePos.lng | number:3}}","layout":"row-left","x":980,"y":200,"wires":[]},{"id":"529d70f9.b5c32","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":6,"width":2,"height":1,"name":"Point Lng","label":"Lng","format":"{{msg.dimChange.pos.lng | number:5}}","layout":"row-left","x":880,"y":60,"wires":[]},{"id":"aa9b6bbb.b9f258","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":5,"width":2,"height":1,"name":"Point Lat","label":"Lat","format":" {{msg.dimChange.pos.lat | number:5}}","layout":"row-left","x":720,"y":60,"wires":[]},{"id":"deb6664d.814bd8","type":"ui_text","z":"409ff81e.13efb8","group":"6ae9f415.83059c","order":10,"width":2,"height":1,"name":"","label":"zoom","format":"{{msg.dimChange.z | number:0}}","layout":"row-left","x":710,"y":200,"wires":[]},{"id":"fe0d8914.436ff8","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":10,"width":4,"height":1,"name":"","label":"Map Center","format":"","layout":"row-right","x":870,"y":120,"wires":[]},{"id":"b5143f2b.aa6be","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":12,"width":2,"height":1,"name":"","label":"Lng","format":"{{msg.dimChange.pos.lng | number:5}}","layout":"row-left","x":850,"y":240,"wires":[]},{"id":"cd1a0d0c.3a231","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":11,"width":2,"height":1,"name":"","label":"Lat","format":" {{msg.dimChange.pos.lat | number:5}}","layout":"row-left","x":850,"y":200,"wires":[]},{"id":"5df6a902.134898","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":13,"width":2,"height":1,"name":"","label":"Zoom","format":"{{msg.dimChange.z | number:0}}","layout":"row-left","x":850,"y":160,"wires":[]},{"id":"46c2f381.903cac","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":1,"width":1,"height":1,"name":"Ref Point","label":"Ref Point","format":"","layout":"row-right","x":740,"y":40,"wires":[]},{"id":"dba82b81.5d50e8","type":"ui_template","z":"409ff81e.13efb8","group":"6ae9f415.83059c","name":"OpenStreetMap","order":2,"width":12,"height":6,"format":"<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css\"\n   integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n   crossorigin=\"\"/>\n<script src=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.js\"\n   integrity=\"sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==\"\n   crossorigin=\"\"></script>\n\n<script>\n    (function() {\n\n        const cScope = this.scope;\n        setTimeout(function () {\n            const mapid='osmapid'\n\n        \tconst map = L.map(mapid).setView([48.204550, 16.364333], 13);\n\n            //const urlPattern='https://{s}.wien.gv.at/basemap/geolandbasemap/normal/google3857/{z}/{y}/{x}.png'\n            const urlPattern='https://tile.openstreetmap.org/{z}/{x}/{y}.png' \n            \n        \tosmLayer=L.tileLayer(urlPattern,{maxZoom: 18,subdomains: [\"maps1\", \"maps2\", \"maps3\", \"maps4\"]})\n        \tosmLayer.addTo(map);\n        \t\n        \taddMapClick(cScope,map,mapid,{OSM:osmLayer})\n        \t\n        \taddMapWatch(cScope,map,mapid)\n\n            setTimeout(function () {\n                       map.invalidateSize();\n                    }, 100);\n        }, 300);\n    })();\n</script>\n\n<div id=\"osmapid\" style=\"width: 100%; height: 400px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":120,"y":80,"wires":[["1613ac52.a12134"]]},{"id":"82d3703f.f0fa","type":"ui_template","z":"409ff81e.13efb8","group":"6ae9f415.83059c","name":"PAIRS","order":16,"width":12,"height":6,"format":"<script>\n(function() {\n    const cScope = this.scope;\n    \n    setTimeout(function () {\n        const mapid='pairsmapid'\n        \n        initPAIRS(L)\n        \n        nitroLayer=newPAIRSLayer(L,'geoserver1',0.000000,0.0001000,4,'1588089600_03312498ESASentinel5PL2-NitrogendioxideTropospheric5042415856992000001588291200000-Mean')\n\n        populLayer=newPAIRSLayer(L,'geoserver06',0,655350,92,'1588046400_35972570GlobalpopulationSEDAC-Globalpopulationdensity-01_01_2020T000000')\n        \n        var overlayMaps = {\n            \"Nitro\": nitroLayer,\n            \"Popul\": populLayer\n        }\n\n        const map=createOSMMap(L,mapid,overlayMaps)\n\n    \taddMapClick(cScope,map,mapid)\n    \t\n        addMapWatch(cScope,map,mapid,overlayMaps,function(msg){\n            if(\"test\" in msg.payload) {\n                console.log(\"Test called: \",msg.payload.test)\n                console.log(\"Opacity: \",osmLayer.opacity)\n            }\n        })\n\n        setTimeout(function () {\n                       map.invalidateSize();\n                    }, 100);\n    }, 300);\n})();\n</script>\n\n<div id=\"pairsmapid\" style=\"width: 100%; height: 600px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":140,"wires":[["1613ac52.a12134"]]},{"id":"b8bd0bc3.d43cb8","type":"ui_template","z":"d640f5f.5320708","group":"8b4c806.2c37c8","name":"MapWidget","order":1,"width":12,"height":6,"format":"<!--\n<div ng-bind-html=\"msg.payload | trusted\"></div>\n-->\n<iframe src=\"../osmbase\" height=300px ></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":730,"y":60,"wires":[[]]},{"id":"663da4b9.41470c","type":"ui_template","z":"8b4ffbc6.0c5188","group":"7c8ed341.60e9ac","name":"PAIRS","order":0,"width":"16","height":"7","format":"<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css\"\n   integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n   crossorigin=\"\"/>\n<script src=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.js\"\n   integrity=\"sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==\"\n   crossorigin=\"\"></script>\n\n<script>\n(function() {\n    const cScope = this.scope;\n\n    const PAIRS_HOST='pairs.res.ibm.com'\n    const PAIRS_PORT=8080\n    const auth='jGn23qJeqcCVeFaRot2duWirS6bl052bxLjdSisZWVjlSadbmAWAfc30SUd9L-GxPBIZ-TulkhNL1LAl-J_Sjmf-j7TUEqpIHj4kZ1flCBHmOs6aNmw_qkT1YrtYhYLDmmJktFoRfpfW9GeCaD41Ed21bVw2XOWyBLHVn4kf43rMqI326lp7vxJGGjmZlXjtBFfUFvhoh7gYEZgnWB-mk-506RyWVqQ3rc4J0AusaRRbh6xg_D4DXbjSqqO4q9ft1SY8xNjiqAQO4Nde0QcEHdY_DU54WheQP_vmw8a_C4Q5KSNlQ4oA_X4A3XXcHiMjtLszKAi3hCa0jvj3MmLAm0xyhA1OhNgKWCkUHG53wIee7FqRKSeMfjQEHDpLVxUVWL2L99ZYxO-vt8gL2UA6y68yExwlVnVQMOe3yL-nfflwM_Jo8QPK46gC5ogbmEhr9xJFswwGG7BcUNdnXMAFADBmVoCfl6KpEW4wvXjBfYy7fWED93Tmsq1SdPMX_gIPEfkvT2ZTG_iL-4i_eCa91OffwkQlu0FON0hioVTtdgtZ-fHFfxn9A7lL0NOqV2yTRel1ZFue93HYI3ZWYSRZSdZJjt3mSX7lLDXtzD2iCSraSI3gG8wZyRO8gBu4ttA7wF3qrbneBbxWnpMwX1EHv2n9N4h9DglgfwZZob54U4I'\n    const EPSG={'EPSG:3857':{'dx':20026376.39,'dy':20048966.10}}\n\n\n    setTimeout(function () {\n        pairsFuncs= {\n            setPairsData: function(seqId,minColor,maxColor,colorTableId,layerName) {\n                console.log('Setting pairs data to ',seqId,minColor,maxColor,colorTableId,layerName)\n                this.seqId=seqId\n                this.minColor=minColor\n                this.maxColor=maxColor\n                this.colorTableId=colorTableId\n                this.layerName=layerName\n            },\n            makePairsURL: function(z,x,y,seqId,minColor,maxColor,colorTableId,layerName) {\n                const proj='EPSG:3857'\n                const imageFormat='png'\n                const wpels=256\n                const hpels=256\n                \n                //console.log('Get PAIRS tile for coords zoom=',z,' x=',x,' y=',y)\n                    \n                EPSG_3857=[20026376.39,20048966.10]\n                \n                zpow=2**z/2\n                \n                bbox_l=(x-zpow)*EPSG_3857[0]/zpow\n                bbox_t=(zpow-y-1)*EPSG_3857[1]/zpow\n                bbox_r=(x-zpow+1)*EPSG_3857[0]/zpow\n                bbox_b=(zpow-y)*EPSG_3857[1]/zpow\n                var baseURL=`https://${PAIRS_HOST}:${PAIRS_PORT}/geoserver${seqId}/pairs/wms?service=WMS&version=1.3.0&request=GetMap&format=image/${imageFormat}&transparent=true&transitionEffect=resize&width=${wpels}&height=${hpels}&crs=${proj}&styles=&bbox=${bbox_l},${bbox_t},${bbox_r},${bbox_b}`\n                \n                var sld=`https://${PAIRS_HOST}:443/map/sld?type=raster&min=${minColor}&max=${maxColor}&colorTableId=${colorTableId}&no_data=-1&property=value&layer=pairs:${layerName}`\n                \n                sldEnc=encodeURIComponent(sld)\n                var fullURL=`${baseURL}&layers=${layerName}&authorization=${auth}&sld=${sldEnc}`\n                \n                //var fullURL=`${baseURL}&layers=${layerName}&authorization=${auth}`\n        \n                return fullURL\n            },\n            getTileUrl: function(coords) {\n                //console.log('Get PAIRS tile for coords ',coords)\n\n                return this.makePairsURL(coords['z'],coords['x'],coords['y'],this.seqId,this.minColor,this.maxColor,this.colorTableId,this.layerName)\n            }\n        }\n        \n        L.TileLayer.Pairs = L.TileLayer.extend(pairsFuncs)\n        \n        nitroLayer=new L.TileLayer.Pairs()\n        nitroLayer.setPairsData('1',0.000000,0.0001000,4,'1588089600_03312498ESASentinel5PL2-NitrogendioxideTropospheric5042415856992000001588291200000-Mean')\n        //nitroLayer.addTo(map)\n        \n        populLayer=new L.TileLayer.Pairs()\n        populLayer.setPairsData('06',0,655350,92,'1588046400_35972570GlobalpopulationSEDAC-Globalpopulationdensity-01_01_2020T000000')\n        //populLayer.addTo(map)\n        \n    \tconst map = L.map('pairsmapid2',{\n    \t    center: [48.204550, 16.364333],\n    \t    zoom: 4,\n    \t    layers: [nitroLayer,populLayer]\n    \t})\n    \t\n    \tvar baseMaps = {\n            \"Nitro\": nitroLayer,\n            \"Popul\": populLayer\n        }\n\n        var overlayMaps = {\n            //\"Cities\": cities\n        }\n    \tL.control.layers(baseMaps, overlayMaps).addTo(map);\n    \t\n        let marker\n    \tmap.on('click', function(e) {\n            cScope.send(e.latlng);\n            if (marker) {\n                map.removeLayer(marker);\n            };\n            marker = L.circleMarker(e.latlng).addTo(map);\n        });\n            \n        setTimeout(function () {\n            map.invalidateSize();\n        }, 100);\n    }, 300);\n})();\n</script>\n\n<div id=\"pairsmapid2\" style=\"width: 100%; height: 600px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":240,"wires":[[]]},{"id":"822e02b9.db573","type":"ui_template","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","name":"OpenStreetMap","order":8,"width":12,"height":8,"format":"<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css\"\n   integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n   crossorigin=\"\"/>\n<script src=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.js\"\n   integrity=\"sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==\"\n   crossorigin=\"\"></script>\n\n<script>\n    (function() {\n\n        const cScope = this.scope;\n        setTimeout(function () {\n            const mapid='osmapid'\n\n        \t//const map = L.map(mapid).setView([48.204550, 16.364333], 13);\n        \tconst map = L.map(mapid)\n\n            //const urlPattern='https://{s}.wien.gv.at/basemap/geolandbasemap/normal/google3857/{z}/{y}/{x}.png'\n            const urlPattern='https://tile.openstreetmap.org/{z}/{x}/{y}.png' \n            \n        \tosmLayer=L.tileLayer(urlPattern,{maxZoom: 18,subdomains: [\"maps1\", \"maps2\", \"maps3\", \"maps4\"]})\n        \tosmLayer.addTo(map);\n\n        \taddMapClick(cScope,map,mapid,{OSM:osmLayer})\n        \t\n        \taddMapWatch(cScope,map,mapid)\n\n            setTimeout(function () {\n                       map.invalidateSize();\n                    }, 100);\n        }, 300);\n    })();\n</script>\n\n<div id=\"osmapid\" style=\"width: 100%; height: 400px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":120,"y":140,"wires":[["9b627c31.b48fc"]]},{"id":"abd7de9f.dc3d8","type":"ui_template","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","name":"PAIRS Map","order":15,"width":12,"height":7,"format":"<script>\n(function() {\n    const cScope = this.scope;\n    \n    const PAIRS_HOST='pairs.res.ibm.com'\n    const PAIRS_PORT=8080\n    const auth='jGn23qJeqcCVeFaRot2duWirS6bl052bxLjdSisZWVjlSadbmAWAfc30SUd9L-GxPBIZ-TulkhNL1LAl-J_Sjmf-j7TUEqpIHj4kZ1flCBHmOs6aNmw_qkT1YrtYhYLDmmJktFoRfpfW9GeCaD41Ed21bVw2XOWyBLHVn4kf43rMqI326lp7vxJGGjmZlXjtBFfUFvhoh7gYEZgnWB-mk-506RyWVqQ3rc4J0AusaRRbh6xg_D4DXbjSqqO4q9ft1SY8xNjiqAQO4Nde0QcEHdY_DU54WheQP_vmw8a_C4Q5KSNlQ4oA_X4A3XXcHiMjtLszKAi3hCa0jvj3MmLAm0xyhA1OhNgKWCkUHG53wIee7FqRKSeMfjQEHDpLVxUVWL2L99ZYxO-vt8gL2UA6y68yExwlVnVQMOe3yL-nfflwM_Jo8QPK46gC5ogbmEhr9xJFswwGG7BcUNdnXMAFADBmVoCfl6KpEW4wvXjBfYy7fWED93Tmsq1SdPMX_gIPEfkvT2ZTG_iL-4i_eCa91OffwkQlu0FON0hioVTtdgtZ-fHFfxn9A7lL0NOqV2yTRel1ZFue93HYI3ZWYSRZSdZJjt3mSX7lLDXtzD2iCSraSI3gG8wZyRO8gBu4ttA7wF3qrbneBbxWnpMwX1EHv2n9N4h9DglgfwZZob54U4I'\n    // ESPG bounding box coordinates\n    const EPSG={'EPSG:3857':{'dx':20026376.39,'dy':20048966.10}}\n\n    setTimeout(function () {\n        const mapid='vitimapid'\n\n        initPAIRS(L)\n\n        nitroLayer=newPAIRSLayer(L,'geoserver1',0.000000,0.0001000,4,'1588089600_03312498ESASentinel5PL2-NitrogendioxideTropospheric5042415856992000001588291200000-Mean')\n        populLayer=newPAIRSLayer(L,'geoserver06',0,655350,92,'1588046400_35972570GlobalpopulationSEDAC-Globalpopulationdensity-01_01_2020T000000')\n\n        var overlayMaps = {\n            \"Nitro\": nitroLayer,\n            \"Popul\": populLayer\n        }\n        \n        const map=createOSMMap(L,mapid,overlayMaps)\n        \n    \taddMapClick(cScope,map,mapid)\n    \t\n        addMapWatch(cScope,map,mapid,overlayMaps,function(payload){\n            if('addLayers' in payload) {\n                wmsLayers=payload.addLayers\n                console.log('Adding WMS layers from ',wmsLayers)\n                wmsOverlays={}\n                \n                wmsLayers.forEach(function(layer) {\n                    wmsOverlays[layer.datalayer]=newPAIRSLayer(L,layer.geoserverUrl,layer.min,layer.max,layer.colorTableId,layer.name)\n                })\n                \n                console.log(\"Adding WMS overlays \",wmsOverlays)\n                L.control.layers(null, wmsOverlays).addTo(map);\n                \n            } else {\n                console.log('Unhandled message payload',payload)\n            }\n        })\n\n        setTimeout(function () {\n                       map.invalidateSize();\n                    }, 100);\n    }, 300);\n})();\n</script>\n\n<div id=\"vitimapid\" style=\"width: 100%; height: 600px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":200,"wires":[["9b627c31.b48fc"]]},{"id":"b6a5873f.01fa08","type":"ui_template","z":"1dd8c15a.d9bc8f","group":"6ae9f415.83059c","name":"Common Map JS","order":1,"width":0,"height":0,"format":"\n<script>\n// Common functions used to deal with leaflet maps\n\n/* Set up the map watching to communicate with Node-RED */    \nfunction addMapWatch(cScope,map,mapid,layers,fallBack) {\n    sendMapDimensions=function(evt) {\n        cScope.send({\"dimChange\" : {'type': evt.type, 'fromMapId': mapid, 'zoom': map.getZoom(), 'pos': map.getCenter()}})\n    }\n    \n    map.on('moveend',sendMapDimensions)\n    map.on('zoomend',sendMapDimensions)\n    map.on('move',sendMapDimensions)\n    \n    // Debug layers names\n    if(layers) {\n        for (const [key, value] of Object.entries(layers)) {\n            console.log(\"layer key \",key,\" val=\", value);\n        }\n        \n        for (var key in layers) {\n            // check if the property/key is defined in the object itself, not in parent\n            if (layers.hasOwnProperty(key)) {\n                console.log(\"layer key \",key,\" val=\", layers[key]);\n            }\n        }\n    }\n    \n    cScope.$watch('msg',function(msg) {\n        let refPointMarker\n        \n        function setRefPointMarker(pos) {\n            if (refPointMarker) {\n                map.removeLayer(refPointMarker);\n            }\n\n            let svgPin = '<svg width=\"20\" height=\"20\" xmlns=\"http://www.w3.org/2000/svg\"><metadata id=\"metadata1\">image/svg+xml</metadata><circle fill=\"#fe2244\" cx=\"10\" cy=\"10\" r=\"9\"/><circle fill=\"#ffffbf\" cx=\"10\" cy=\"10\" r=\"5\"/></svg>'\n            refPointMarker=L.marker([pos.lat,pos.lng], {icon: L.icon({iconUrl: encodeURI(`data:image/svg+xml,${svgPin}`).replace(/\\#/g,'%23'), iconSize: 20})}).bindPopup(\"Ref Point\").addTo(map);\n        }\n        \n        if(msg) {\n            if(\"payload\" in msg) {\n                if(\"setDim\" in msg.payload) {\n                    console.log('setDim',msg.payload.setDim)\n                    if(map.getZoom()!=msg.payload.setDim.zoom || map.getCenter()!=msg.payload.setDim.pos) {\n                        map.setView(msg.payload.setDim.pos,msg.payload.setDim.zoom)\n                    }\n                    if(\"type\" in msg.payload.setDim && msg.payload.setDim.type=='initMap') {\n                        setRefPointMarker(msg.payload.setDim.pos)\n                    }\n                } else if(\"setOpacity\" in msg.payload) {\n                    console.log(\"Setting opcacity\",msg.payload.setOpacity)\n                    for (var name in layers) {\n                        if (layers.hasOwnProperty(name)) {\n                            if(name==msg.payload.setOpacity.layer) {\n                                console.log(\"Setting layer \",name,\" opacity to  \",msg.payload.setOpacity.opacity)\n                                layers[name].setOpacity(msg.payload.setOpacity.opacity)\n                            }\n                        }\n                    }\n                } else if(\"setRefPoint\" in msg.payload) {\n                    // Set the reference point with a marker    \n                    setRefPointMarker(msg.payload.setRefPoint.pos)\n                    map.setView(msg.payload.setRefPoint.pos,map.getZoom())\n                } else if(fallBack) {\n                    fallBack(msg.payload,cScope,map,mapid,layers)\n                }\n            } else {\n                console.log(`${mapid} unhandled msg, no payload: `,msg)\n            }\n        }\n    });\n    \n    // Notify of init complete\n    cScope.send({\"initMap\":mapid});\n}\n\n/* Function added to generate an event when the map is clicked\n    This will also add a marker\n*/\nfunction addMapClick(cScope,map,mapid) {\n    let marker\n\tmap.on('click', function(evt) {\n        cScope.send({\"mousePos\" :evt.latlng, \"fromMapId\":mapid});\n        if (marker) {\n            map.removeLayer(marker);\n        };\n        marker = L.circleMarker(evt.latlng).addTo(map);\n    });\n}\n\nfunction createOSMMap(L,mapid,overlayMaps) {\n    var map=L.map(mapid)\n\n\tconst osmURL='https://tile.openstreetmap.org/{z}/{x}/{y}.png' \n    osmLayer=L.tileLayer(osmURL,{maxZoom: 18,subdomains: [\"maps1\", \"maps2\", \"maps3\", \"maps4\"]}).addTo(map);\n\n    L.control.layers({\"OSM\": osmLayer}, overlayMaps,{\"hideSingleBase\":true}).addTo(map);\n    \n    return map\n}\n\n/* Function to setup opacity on a map layer \n*/\nfunction defineOpacity() {\n    console.log(\"Start define Opacity\")\n    \n    L.Control.Opacity = L.Control.extend({\n        options: {\n            collapsed: !1,\n            position: \"topright\",\n            label: null\n        },\n        initialize: function(t, e) {\n            for (var i in L.Util.setOptions(this, e),\n            this._layerControlInputs = [],\n            this._layers = [],\n            this._lastZIndex = 0,\n            this._handlingClick = !1,\n            t)\n                this._addLayer(t[i], i, !0)\n        },\n        onAdd: function(t) {\n            return this._initLayout(),\n            this._update(),\n            this._container\n        },\n        expand: function() {\n            L.DomUtil.addClass(this._container, \"leaflet-control-layers-expanded\"),\n            this._form.style.height = null;\n            var t = this._map.getSize().y - (this._container.offsetTop + 50);\n            return t < this._form.clientHeight ? (L.DomUtil.addClass(this._form, \"leaflet-control-layers-scrollbar\"),\n            this._form.style.height = t + \"px\") : L.DomUtil.removeClass(this._form, \"leaflet-control-layers-scrollbar\"),\n            this\n        },\n        collapse: function() {\n            return L.DomUtil.removeClass(this._container, \"leaflet-control-layers-expanded\"),\n            this\n        },\n        _initLayout: function() {\n            var t = \"leaflet-control-layers\"\n              , e = this._container = L.DomUtil.create(\"div\", t)\n              , i = this.options.collapsed;\n            if (e.setAttribute(\"aria-haspopup\", !0),\n            L.DomEvent.disableClickPropagation(e),\n            L.DomEvent.disableScrollPropagation(e),\n            this.options.label) {\n                var a = L.DomUtil.create(\"p\", t + \"-label\");\n                a.innerHTML = this.options.label,\n                e.appendChild(a)\n            }\n            var s = this._form = L.DomUtil.create(\"form\", t + \"-list\");\n            i && (this._map.on(\"click\", this.collapse, this),\n            L.Browser.android || L.DomEvent.on(e, {\n                mouseenter: this.expand,\n                mouseleave: this.collapse\n            }, this));\n            var l = this._layersLink = L.DomUtil.create(\"a\", t + \"-toggle\", e);\n            l.href = \"#\",\n            l.title = \"Layers\",\n            L.Browser.touch ? (L.DomEvent.on(l, \"click\", L.DomEvent.stop),\n            L.DomEvent.on(l, \"click\", this.expand, this)) : L.DomEvent.on(l, \"focus\", this.expand, this),\n            i || this.expand(),\n            this._baseLayersList = L.DomUtil.create(\"div\", t + \"-base\", s),\n            this._separator = L.DomUtil.create(\"div\", t + \"-separator\", s),\n            this._overlaysList = L.DomUtil.create(\"div\", t + \"-overlays\", s),\n            e.appendChild(s)\n        },\n        _getLayer: function(t) {\n            for (var e = 0; e < this._layers.length; e++)\n                if (this._layers[e] && L.Util.stamp(this._layers[e].layer) === t)\n                    return this._layers[e]\n        },\n        _addLayer: function(t, e, i) {\n            this._layers.push({\n                layer: t,\n                name: e,\n                overlay: i\n            })\n        },\n        _update: function() {\n            if (!this._container)\n                return this;\n            L.DomUtil.empty(this._baseLayersList),\n            L.DomUtil.empty(this._overlaysList),\n            this._layerControlInputs = [];\n            var t, e, i, a, s = 0;\n            for (i = 0; i < this._layers.length; i++)\n                a = this._layers[i],\n                this._addItem(a),\n                e = e || a.overlay,\n                t = t || !a.overlay,\n                s += a.overlay ? 0 : 1;\n            return this.options.hideSingleBase && (t = t && s > 1,\n            this._baseLayersList.style.display = t ? \"\" : \"none\"),\n            this._separator.style.display = e && t ? \"\" : \"none\",\n            this\n        },\n        _addItem: function(t) {\n            var e, i = document.createElement(\"label\");\n            t.overlay ? ((e = document.createElement(\"input\")).type = \"range\",\n            e.className = \"leaflet-control-layers-range\",\n            e.min = 0,\n            e.max = 100,\n            e.value = 100) : e = this._createRadioElement(\"leaflet-base-layers\", checked),\n            this._layerControlInputs.push(e),\n            e.layerId = L.Util.stamp(t.layer),\n            L.DomEvent.on(e, \"click\", this._onInputClick, this),\n            L.DomEvent.on(e, \"touchend\", this._onInputClick, this);\n            var a = document.createElement(\"span\");\n            a.innerHTML = \" \" + t.name;\n            var s = document.createElement(\"div\")\n              , l = document.createElement(\"div\");\n            return i.appendChild(s),\n            s.appendChild(a),\n            i.appendChild(l),\n            l.appendChild(e),\n            (t.overlay ? this._overlaysList : this._baseLayersList).appendChild(i),\n            i\n        },\n        _onInputClick: function() {\n            var t, e, i = this._layerControlInputs;\n            this._handlingClick = !0;\n            for (var a = i.length - 1; a >= 0; a--)\n                t = i[a],\n                void 0 === (e = this._getLayer(t.layerId).layer)._url || e.setOpacity(t.value / 100);\n            this._handlingClick = !1,\n            this._refocusOnMap()\n        }\n    })\n\n    L.control.opacity = function(t, e) {\n        return new L.Control.Opacity(t,e)\n    }\n    \n    console.log(\"End defined opacity\")\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":110,"y":40,"wires":[[]]},{"id":"feb96fc7.97b87","type":"ui_template","z":"1dd8c15a.d9bc8f","group":"1c11e0d1.3b713f","name":"Common PAIRS","order":26,"width":2,"height":1,"format":"<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css\"\n   integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n   crossorigin=\"\"/>\n<script src=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.js\"\n   integrity=\"sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==\"\n   crossorigin=\"\">\n</script>\n   \n<script>\n\nconst PAIRS_HOST='pairs.res.ibm.com'\nconst PAIRS_PORT=8080\nconst auth='jGn23qJeqcCVeFaRot2duWirS6bl052bxLjdSisZWVjlSadbmAWAfc30SUd9L-GxPBIZ-TulkhNL1LAl-J_Sjmf-j7TUEqpIHj4kZ1flCBHmOs6aNmw_qkT1YrtYhYLDmmJktFoRfpfW9GeCaD41Ed21bVw2XOWyBLHVn4kf43rMqI326lp7vxJGGjmZlXjtBFfUFvhoh7gYEZgnWB-mk-506RyWVqQ3rc4J0AusaRRbh6xg_D4DXbjSqqO4q9ft1SY8xNjiqAQO4Nde0QcEHdY_DU54WheQP_vmw8a_C4Q5KSNlQ4oA_X4A3XXcHiMjtLszKAi3hCa0jvj3MmLAm0xyhA1OhNgKWCkUHG53wIee7FqRKSeMfjQEHDpLVxUVWL2L99ZYxO-vt8gL2UA6y68yExwlVnVQMOe3yL-nfflwM_Jo8QPK46gC5ogbmEhr9xJFswwGG7BcUNdnXMAFADBmVoCfl6KpEW4wvXjBfYy7fWED93Tmsq1SdPMX_gIPEfkvT2ZTG_iL-4i_eCa91OffwkQlu0FON0hioVTtdgtZ-fHFfxn9A7lL0NOqV2yTRel1ZFue93HYI3ZWYSRZSdZJjt3mSX7lLDXtzD2iCSraSI3gG8wZyRO8gBu4ttA7wF3qrbneBbxWnpMwX1EHv2n9N4h9DglgfwZZob54U4I'\nconst EPSG={'EPSG:3857':{'dx':20026376.39,'dy':20048966.10}}\nconst INIT_OPACITY=0.4\n\npairsFuncs= {\n    setPairsData: function(geoServerURLOrID,minColor,maxColor,colorTableId,layerName) {\n        // console.log('Setting pairs data to ',geoServerId,minColor,maxColor,colorTableId,layerName)\n        this.geoServerURL=geoServerURLOrID.startsWith('http')?geoServerURLOrID:`https://${PAIRS_HOST}:${PAIRS_PORT}/${geoServerURLOrID}`\n        this.minColor=minColor\n        this.maxColor=maxColor\n        this.colorTableId=colorTableId\n        this.layerName=layerName\n    },\n    makePairsURL: function(z,x,y,geoServerURL,minColor,maxColor,colorTableId,layerName) {\n        const proj='EPSG:3857'\n        const imageFormat='png'\n        const wpels=256\n        const hpels=256\n\n        // So, this should be the main WMS URL base\n        var baseURL=`${geoServerURL}/pairs/wms?service=WMS&version=1.3.0&request=GetMap&format=image/${imageFormat}&transparent=true&transitionEffect=resize&width=${wpels}&height=${hpels}&crs=${proj}&styles=`\n\n        zpow=2**z/2\n        bbox_l=(x-zpow)*EPSG[proj]['dx']/zpow\n        bbox_t=(zpow-y-1)*EPSG[proj]['dy']/zpow\n        bbox_r=(x-zpow+1)*EPSG[proj]['dx']/zpow\n        bbox_b=(zpow-y)*EPSG[proj]['dy']/zpow\n        \n        // Make-up the style layer descriptor and encode it    \n        var sld=`https://${PAIRS_HOST}:443/map/sld?type=raster&min=${minColor}&max=${maxColor}&colorTableId=${colorTableId}&no_data=-1&property=value&layer=pairs:${layerName}`\n        sldEnc=encodeURIComponent(sld)\n        \n        // Finally build the full URL\n        var fullURL=`${baseURL}&bbox=${bbox_l},${bbox_t},${bbox_r},${bbox_b}&layers=${layerName}&authorization=${auth}&sld=${sldEnc}`\n\n        console.log(`WMS URL without bbox: ${baseURL}&layers=${layerName}&authorization=${auth}&sld=${sldEnc}`)                \n        return fullURL\n    },\n    getTileUrl: function(coords) {\n        //console.log('Get PAIRS tile for coords ',coords)\n        return this.makePairsURL(coords['z'],coords['x'],coords['y'],this.geoServerURL,this.minColor,this.maxColor,this.colorTableId,this.layerName)\n    }\n}\n\nfunction initPAIRS(L) {\n    L.TileLayer.Pairs = L.TileLayer.extend(pairsFuncs)\n}\n\nfunction newPAIRSLayer(L,geoServerURLOrId,minColor,maxColor,colorTableId,layerName,opacity) {\n    newLayer=new L.TileLayer.Pairs()\n    newLayer.setPairsData(geoServerURLOrId,minColor,maxColor,colorTableId,layerName)\n    newLayer.setOpacity(opacity?opacity:INIT_OPACITY)\n    \n    return newLayer\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":100,"y":80,"wires":[[]]},{"id":"52e0a436.a5f14c","type":"worldmap","z":"5a0247b8.f9de18","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":380,"y":160,"wires":[]},{"id":"4e9aabc6.37d164","type":"worldmap","z":"d640f5f.5320708","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","hiderightclick":"false","coords":"deg","showgrid":"true","path":"osmbase","x":620,"y":320,"wires":[]},{"id":"ed113de2.e9673","type":"worldmap in","z":"5a0247b8.f9de18","name":"","path":"/worldmap","events":"all","x":660,"y":160,"wires":[[]]},{"id":"b663dc2c.19d4","type":"worldmap in","z":"d640f5f.5320708","name":"","path":"/osmbase","events":"all","x":530,"y":460,"wires":[["6ba95a2c.d210c4"]]},{"id":"ef35c768.9ee098","type":"worldmap-tracks","z":"d640f5f.5320708","name":"","depth":"5","layer":"combined","x":530,"y":80,"wires":[["4e9aabc6.37d164"]]},{"id":"d4a52b1c.119468","type":"inject","z":"e963d84f.1fbc58","name":"Viti Layers UDF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"fichierRef 02_09_2020 Hackaton01\",\"layers\":[{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Mean\",\"alias\":\"49250_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Max\",\"alias\":\"49250_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49250\",\"aggregation\":\"Min\",\"alias\":\"49250_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Mean\",\"alias\":\"49257_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Max\",\"alias\":\"49257_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49257\",\"aggregation\":\"Min\",\"alias\":\"49257_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Mean\",\"alias\":\"49304_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Max\",\"alias\":\"49304_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49304\",\"aggregation\":\"Min\",\"alias\":\"49304_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Mean\",\"alias\":\"49311_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Max\",\"alias\":\"49311_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49311\",\"aggregation\":\"Min\",\"alias\":\"49311_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Mean\",\"alias\":\"49423_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Max\",\"alias\":\"49423_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49423\",\"aggregation\":\"Min\",\"alias\":\"49423_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Mean\",\"alias\":\"49432_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Max\",\"alias\":\"49432_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49432\",\"aggregation\":\"Min\",\"alias\":\"49432_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Mean\",\"alias\":\"49433_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Max\",\"alias\":\"49433_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49433\",\"aggregation\":\"Min\",\"alias\":\"49433_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Mean\",\"alias\":\"49441_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Max\",\"alias\":\"49441_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49441\",\"aggregation\":\"Min\",\"alias\":\"49441_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Mean\",\"alias\":\"49454_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Max\",\"alias\":\"49454_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49454\",\"aggregation\":\"Min\",\"alias\":\"49454_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Mean\",\"alias\":\"49459_Mean\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Max\",\"alias\":\"49459_Max\"},{\"type\":\"raster\",\"output\":false,\"id\":\"49459\",\"aggregation\":\"Min\",\"alias\":\"49459_Min\"},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Mean\",\"alias\":\"50509_Mean\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Max\",\"alias\":\"50509_Max\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"type\":\"raster\",\"output\":false,\"id\":\"50509\",\"aggregation\":\"Min\",\"alias\":\"50509_Min\",\"temporal\":{\"intervals\":[{\"snapshot\":\"2019-12-05T00:00:01Z\"}]},\"dimensions\":[{\"name\":\"quantile\",\"value\":\"mean\"},{\"name\":\"depth\",\"value\":\"0to5cm\"}]},{\"alias\":\"result_01_01\",\"expression\":\"( (( $49250_Mean >= 2.321849897949975 && $49250_Mean <= 2.368755956494419) ? 1 : 0 ) + (( $49250_Max >= 77.41799697875976 && $49250_Max <= 78.98199691772462) ? 1 : 0 ) + (( $49250_Min >= 0.0 && $49250_Min <= 0.0) ? 1 : 0 ) + (( $49257_Mean >= 284.1551711524563 && $49257_Mean <= 289.8956796605868) ? 1 : 0 ) + (( $49257_Max >= 310.66198791503905 && $49257_Max <= 316.93798767089845) ? 1 : 0 ) + (( $49257_Min >= 265.4190060424804 && $49257_Min <= 270.7810061645507) ? 1 : 0 ) + (( $49304_Mean >= 279.1707334716049 && $49304_Mean <= 284.81054626901107) ? 1 : 0 ) + (( $49304_Max >= 290.86198791503904 && $49304_Max <= 296.73798767089846) ? 1 : 0 ) + (( $49304_Min >= 264.825 && $49304_Min <= 270.175) ? 1 : 0 ) + (( $49311_Mean >= 0.99 && $49311_Mean <= 1.01) ? 1 : 0 ) + (( $49311_Max >= 7.92 && $49311_Max <= 8.08) ? 1 : 0 ) + (( $49311_Min >= 0.0 && $49311_Min <= 0.0) ? 1 : 0 ) + (( $49423_Mean >= 284.5703098782602 && $49423_Mean <= 290.319205027316) ? 1 : 0 ) + (( $49423_Max >= 312.1891644287109 && $49423_Max <= 318.4960162353516) ? 1 : 0 ) + (( $49423_Min >= 266.8143054199219 && $49423_Min <= 272.2044934082031) ? 1 : 0 ) + (( $49432_Mean >= 1.4711724457070526e-05 && $49432_Mean <= 1.500893101175882e-05) ? 1 : 0 ) + (( $49432_Max >= 0.0012394013861194253 && $49432_Max <= 0.0012644397979602218) ? 1 : 0 ) + (( $49432_Min >= 0.0 && $49432_Min <= 0.0) ? 1 : 0 ) + (( $49433_Mean >= 5.619700130714136e-05 && $49433_Mean <= 5.7332294262841185e-05) ? 1 : 0 ) + (( $49433_Max >= 0.004692061319947243 && $49433_Max <= 0.004786850437521936) ? 1 : 0 ) + (( $49433_Min >= 0.0 && $49433_Min <= 0.0) ? 1 : 0 ) + (( $49441_Mean >= 763428.8643517453 && $49441_Mean <= 778851.6696921847) ? 1 : 0 ) + (( $49441_Max >= 3230569.7325 && $49441_Max <= 3295833.7675) ? 1 : 0 ) + (( $49441_Min >= 0.0 && $49441_Min <= 0.0) ? 1 : 0 ) + (( $49454_Mean >= 0.6154233965255467 && $49454_Mean <= 0.6278561924149517) ? 1 : 0 ) + (( $49454_Max >= 0.99 && $49454_Max <= 1.01) ? 1 : 0 ) + (( $49454_Min >= 0.0 && $49454_Min <= 0.0) ? 1 : 0 ) + (( $49459_Mean >= 0.00010613992575907212 && $49459_Mean <= 0.00010828416668349784) ? 1 : 0 ) + (( $49459_Max >= 0.004916948159225286 && $49459_Max <= 0.005016280445270241) ? 1 : 0 ) + (( $49459_Min >= 0.0 && $49459_Min <= 0.0) ? 1 : 0 ) + (( $50509_Mean >= 7.1379 && $50509_Mean <= 7.2821) ? 1 : 0 ) + (( $50509_Max >= 7.1379 && $50509_Max <= 7.2821) ? 1 : 0 ) + (( $50509_Min >= 7.1379 && $50509_Min <= 7.2821) ? 1 : 0 ) / 33 )\"}],\"spatial\":{\"type\":\"poly\",\"aoi\":\"38662\"},\"temporal\":{\"intervals\":[{\"start\":\"2019-05-01T00:00:00Z\",\"end\":\"2019-12-31T23:59:59Z\"}]}}","payloadType":"json","x":140,"y":80,"wires":[["683fbff0.c7248"]]},{"id":"748a209e.c118","type":"subflow:ec30a594.93ed18","z":"36b6cb51.94de54","name":"POST query","env":[{"name":"method","value":"POST","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/query","type":"str"},{"name":"appendPayloadToURL","value":"false","type":"bool"}],"x":510,"y":360,"wires":[[],[],[]]},{"id":"69c9b194.640a8","type":"debug","z":"291be7d6.2ebbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"91ab3f1a.3f961","type":"template","z":"36b6cb51.94de54","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"layers\": [\n    {{#payload.layers}}\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Min\"\n        },\n        {\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Max\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"point\",\n        \"coordinates\": [\n            \"{{payload.pos.lat}}\",\n            \"{{payload.pos.lng}}\"\n        ]\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}","output":"str","x":320,"y":180,"wires":[["ef826100.73218"]]},{"id":"fe18380c.f77ce8","type":"json","z":"36b6cb51.94de54","name":"","property":"payload","action":"","pretty":false,"x":310,"y":360,"wires":[["748a209e.c118"]]},{"id":"ef826100.73218","type":"function","z":"36b6cb51.94de54","name":"FixJSON","func":"msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["fe18380c.f77ce8"]]},{"id":"708f82e.1e4aa7c","type":"subflow:36b6cb51.94de54","z":"291be7d6.2ebbf8","name":"","env":[],"x":450,"y":300,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"f2df5034.b89b6","type":"inject","z":"291be7d6.2ebbf8","name":"Test Layer 49058","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"49058\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":120,"y":260,"wires":[["708f82e.1e4aa7c"]]},{"id":"ef75ff7.32231","type":"inject","z":"832f95f6.c00828","name":"SetRefData","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49432\",\"49433\",\"49441\",\"49454\"],\"layers_old\":[\"50450\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":100,"y":40,"wires":[["76f49f16.42e8e"]]},{"id":"76f49f16.42e8e","type":"change","z":"832f95f6.c00828","name":"set flow.refData","rules":[{"t":"set","p":"refData","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mousePos","pt":"msg","to":"payload.pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[["638cb694.d9a3a8","703ad81b.b45388","60555fae.a36c3","691958f.d6266a8"]]},{"id":"fdd5f30b.ae49f","type":"subflow:36b6cb51.94de54","z":"832f95f6.c00828","name":"","env":[],"x":670,"y":260,"wires":[["c78d9a99.91d8b8","e7027934.372cd8"],["9465bbb8.5ab558"],["9465bbb8.5ab558"]]},{"id":"c78d9a99.91d8b8","type":"ui_template","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","name":"LayersList","order":9,"width":12,"height":7,"format":"<!--\n<svg viewBox=\"0 0 200 200\"><path d=\"M100 100 L100 0 A100 100 0 0 1 187 50 Z\" style=\"fill: rgba(255, 0, 0, 0); background: rgba(255, 0, 0, 0);\"></path><path d=\"M100 100 L187 50 A100 100 0 0 1 187 150 Z\" style=\"fill: rgba(255, 0, 0, 0.168627); background: rgba(255, 0, 0, 0.168627);\"></path><path d=\"M100 100 L187 150 A100 100 0 0 1 100 200 Z\" style=\"fill: rgba(255, 0, 0, 0.329412); background: rgba(255, 0, 0, 0.329412);\"></path><path d=\"M100 100 L100 200 A100 100 0 0 1 14 150 Z\" style=\"fill: rgba(255, 0, 0, 0.498039); background: rgba(255, 0, 0, 0.498039);\"></path><path d=\"M100 100 L14 150 A100 100 0 0 1 14 50 Z\" style=\"fill: rgba(255, 0, 0, 0.670588); background: rgba(255, 0, 0, 0.670588);\"></path><path d=\"M100 100 L14 50 A100 100 0 0 1 100 0 Z\" style=\"fill: rgba(255, 0, 0, 0.831373); background: rgba(255, 0, 0, 0.831373);\"></path></svg>\n-->\n<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n\n<script>\n/* Generate HTML code to display layers list or text\n*/\nfunction genLayersHTML(layers) {\n    var lat\n    var lng\n    \n    // first group all the layers by layer ID and flatten Min-Mean-Max\n    let layersFlat=layers.reduce(function(acc,layer) {\n      if(!(layer.layerId in acc)) {\n      \tacc[layer.layerId]={name: layer.layerName, id:layer.layerId, dataset: layer.dataset}\n      }\n      lat=layer.latitude\n      lng=layer.longitude\n      acc[layer.layerId][layer.aggregation]=parseFloat(layer.value)\n      return acc\n    },{})\n    \n    console.log(layersFlat)\n    console.log(Object.keys(layersFlat))\n    \n    return `Lat: ${lat} Lng: ${lng}<BR>`+Object.keys(layersFlat).map(function(layerId) {\n        layer=layersFlat[layerId]\n        console.log(layer)\n        return `<tr><td>${layer.name}</td><td>${layer.Min.toFixed(2)}</td><td>${layer.Mean.toFixed(2)}</td><td>${layer.Max.toFixed(2)}</td><td> <input type=\"range\" min=\"${layer.Min}\" value=\"${layer.Mean}\" max=\"${layer.Max}\" class=\"slider\" id=\"layer_${layer.layerId}\"></td></tr>`\n    }).join('')\n}\n\n/* Just sets the div's HTML content*/\nfunction setHTML(scope,html) {\n    $(\"#my_\"+scope.$id).html(html)\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg && 'payload' in msg) {\n      // Do something when msg arrives\n      if('data' in msg.payload) {\n        layerList=genLayersHTML(msg.payload.data)\n        setHTML(scope,`<table style=\"color:green;line-height: 80%;\">${layerList}</table>`);\n      } else if('text' in msg.payload) {\n        setHTML(scope,`${msg.payload.text}`)\n      } else if('progress' in msg.payload) {\n        setHTML(scope,'...')\n      } else {\n        setHTML(scope,`Unknown payload keys=${Object.keys(msg.payload)}`)\n      }\n    } else {\n        setHTML(scope,`No payload in msg keys=${Object.keys(msg)}`)\n    }\n  });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":910,"y":300,"wires":[[]]},{"id":"5f8d98cc.4c4ae8","type":"subflow:ec30a594.93ed18","z":"291be7d6.2ebbf8","name":"GET queryjobs/{payload}/layers","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/queryjobs/","type":"str"},{"name":"urlSuffix","value":"/layers","type":"str"}],"x":410,"y":420,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"26ebb37e.b10ebc","type":"inject","z":"291be7d6.2ebbf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lastQuery","payloadType":"flow","x":110,"y":420,"wires":[["5f8d98cc.4c4ae8"]]},{"id":"ef47b32c.54009","type":"subflow:e963d84f.1fbc58","z":"291be7d6.2ebbf8","name":"","env":[],"x":150,"y":40,"wires":[["4d1bb5d.4ed0c4c"],[],["f8263561.d36778"],[],["29beeaed.0f6a86"]]},{"id":"a78464dc.a87c58","type":"change","z":"e963d84f.1fbc58","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"polingDelayMs","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["c21043df.0520e"]]},{"id":"f8263561.d36778","type":"change","z":"291be7d6.2ebbf8","name":"","rules":[{"t":"set","p":"lastQuery","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":60,"wires":[[]]},{"id":"29beeaed.0f6a86","type":"debug","z":"291be7d6.2ebbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"91c52a81.297668","type":"switch","z":"e963d84f.1fbc58","name":"Test success","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Succeeded","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":380,"wires":[["f8beb84.ff08848"],[]],"outputLabels":["Succeeded","Failed"]},{"id":"37b62d20.63aca2","type":"ui_button","z":"832f95f6.c00828","name":"","group":"1c11e0d1.3b713f","order":7,"width":2,"height":1,"passthru":false,"label":"Get Layers","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":890,"y":40,"wires":[["5e535645.61a1f8"]]},{"id":"1e241771.906399","type":"ui_text_input","z":"832f95f6.c00828","name":"Ref Lat","label":"Lat","tooltip":"","group":"1c11e0d1.3b713f","order":5,"width":2,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":580,"y":40,"wires":[[]]},{"id":"638cb694.d9a3a8","type":"change","z":"832f95f6.c00828","name":"Set Lat","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pos.lat","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"mousePos.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["1e241771.906399"]]},{"id":"703ad81b.b45388","type":"change","z":"832f95f6.c00828","name":"Set Lng","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pos.lng","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"mousePos.lng","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["b1c57145.3466a"]]},{"id":"b1c57145.3466a","type":"ui_text_input","z":"832f95f6.c00828","name":"Ref Lng","label":"Lng","tooltip":"","group":"1c11e0d1.3b713f","order":6,"width":2,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":580,"y":80,"wires":[[]]},{"id":"691958f.d6266a8","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":3,"width":2,"height":1,"name":"Ref Lng","label":"Lng","format":"{{msg.mousePos.lng | number:5}}","layout":"col-center","x":880,"y":80,"wires":[]},{"id":"60555fae.a36c3","type":"ui_text","z":"832f95f6.c00828","group":"1c11e0d1.3b713f","order":2,"width":2,"height":1,"name":"Ref Lat","label":"Lat","format":"{{msg.mousePos.lat | number:5}}","layout":"col-center","x":740,"y":80,"wires":[]},{"id":"10b78d0.9df7a73","type":"ui_button","z":"832f95f6.c00828","name":"","group":"1c11e0d1.3b713f","order":4,"width":1,"height":1,"passthru":false,"label":"Center","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":470,"y":440,"wires":[["304e7027.056d5"]]},{"id":"7d07ea39.36f3f4","type":"change","z":"832f95f6.c00828","name":"","rules":[{"t":"set","p":"lastPos","pt":"flow","to":"mousePos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[[]]},{"id":"5e535645.61a1f8","type":"change","z":"832f95f6.c00828","name":"init lastPos","rules":[{"t":"set","p":"payload","pt":"msg","to":"refData","tot":"flow"},{"t":"set","p":"payload.text","pt":"msg","to":"Loading Layers","tot":"str"},{"t":"set","p":"payload.pos","pt":"msg","to":"lastPos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["fdd5f30b.ae49f","c78d9a99.91d8b8","e968eb8b.692c38"]]},{"id":"304e7027.056d5","type":"change","z":"832f95f6.c00828","name":"setDim from flow","rules":[{"t":"set","p":"payload.setDim","pt":"msg","to":"lastDim","tot":"flow"},{"t":"set","p":"payload.setDim.pos","pt":"msg","to":"refData.pos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["822e02b9.db573"]]},{"id":"78e5202e.777d7","type":"ui_button","z":"832f95f6.c00828","name":"","group":"1c11e0d1.3b713f","order":20,"width":2,"height":1,"passthru":false,"label":"Gen Layers","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":500,"wires":[["911295bd.66eb08"]]},{"id":"378c6cff.16a504","type":"subflow:e963d84f.1fbc58","z":"832f95f6.c00828","name":"","env":[],"x":500,"y":500,"wires":[["4e4a93f8.c7c49c","19a26359.bdba5d"],["4e4a93f8.c7c49c"],[],["4e4a93f8.c7c49c"],["4e4a93f8.c7c49c"]]},{"id":"911295bd.66eb08","type":"change","z":"832f95f6.c00828","name":"Set refData&lastPos","rules":[{"t":"set","p":"payload","pt":"msg","to":"refData","tot":"flow"},{"t":"set","p":"payload.pos","pt":"msg","to":"lastPos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["378c6cff.16a504"]]},{"id":"e881949c.55fbc8","type":"template","z":"e963d84f.1fbc58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{  \"name\": \"NodeRED_Ref {{payload.pos.lat}}-{{payload.pos.lng}}\",\n    \"layers\": [\n    {{#payload.layers}}\n        {   \"alias\": \"{{.}}_Mean\",\n            \"type\": \"raster\",\n            \"id\": \"{{.}}\",\n            \"aggregation\": \"Mean\"\n        },\n    {{/payload.layers}}\n   ],\n    \"spatial\": {\n        \"type\": \"poly\",\n        \"aoi\": \"38662\"\n    },\n    \"temporal\": {\n        \"intervals\": [\n            {\n                \"start\": \"{{payload.startDay}}T00:00:00Z\",\n                \"end\": \"{{payload.endDay}}T00:00:00Z\"\n            }\n        ]\n    }\n}","output":"str","x":180,"y":20,"wires":[["86ce7bff.33bdd8"]]},{"id":"86ce7bff.33bdd8","type":"function","z":"e963d84f.1fbc58","name":"FixJSON","func":"msg.payload=msg.payload.replace(/,(?=\\s*[}\\]])/mig,'');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":20,"wires":[["348fb6b6.4c4dea"]]},{"id":"348fb6b6.4c4dea","type":"json","z":"e963d84f.1fbc58","name":"","property":"payload","action":"","pretty":false,"x":450,"y":20,"wires":[["683fbff0.c7248"]]},{"id":"4e4a93f8.c7c49c","type":"debug","z":"832f95f6.c00828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]},{"id":"6dc26c2e.a125b4","type":"change","z":"e963d84f.1fbc58","name":"Extract query ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[[]]},{"id":"291248.43cf7db8","type":"debug","z":"832f95f6.c00828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"b5e085b0.61b9c8","type":"subflow:ec30a594.93ed18","z":"832f95f6.c00828","name":"GET queryjobs/{payload}/layers","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/queryjobs/","type":"str"},{"name":"urlSuffix","value":"/layers","type":"str"}],"x":530,"y":600,"wires":[["291248.43cf7db8","fdd6062.7cc9df8"],["291248.43cf7db8"],[]]},{"id":"19a26359.bdba5d","type":"change","z":"832f95f6.c00828","name":"Extract QueryID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["b5e085b0.61b9c8"]]},{"id":"a5446c12.68754","type":"ui_template","z":"c4d10927.aa03b8","group":"5c1494a4.6188cc","name":"Bootstrap Page","order":0,"width":0,"height":0,"format":"<!--<div ng-bind-html=\"msg.payload\"></div>-->\n<style type=\"text/css\">\n\ndiv#colonne1 {\n\tfloat: left;\n\twidth: 160px;\n\tmargin-right: 10px;\n\tpadding: 1px 0;\n\tbackground: lightblue;\n}\ndiv#colonne2 {\n\tfloat: left;\n\twidth: 220px;\n\tmargin-left: 0px;\n\tpadding: 0px 0;\n\tbackground: lightblue;\n}\ndiv#map {\n\toverflow: hidden;\n\tpadding: 1px 20px;\n\tmargin-left: 10px;\n\tbackground: burlywood;\n}\n#ex16c .slider-selection {\n\tbackground: red;\n}\n</style>\n\n\n<div>\n\t<h2>Slider test page</h2>\n\t<p>Code from <a href=\"http://seiyria.com/bootstrap-slider\" target=\"_blank\">http://seiyria.com/bootstrap-slider</a></p>\n\t\n\t<div id=\"colonne1\">\n    \t<h4>Criteria</h4>\n    \t<input type=\"checkbox\" id=\"humidity\" checked=\"checked\" />&nbsp;&nbsp;Ground humidity <br><br>\n        <input type=\"checkbox\" id=\"temperature\" checked=\"checked\" />&nbsp;&nbsp;Temp&eacute;rature <br><br>\n        <input type=\"checkbox\" id=\"sunshine\" checked=\"checked\" />&nbsp;&nbsp;Sunshine (%)<br><br>\n        <input type=\"checkbox\" id=\"Soil\" checked=\"checked\" />&nbsp;&nbsp;Soil quality<br><br>\n\t</div><!-- fin de div#colonne1 -->\n\t\n\t<div id=\"colonne2\">\n    \t<h4>Adjustment</h4>\n    \t<input id=\"ex16a\" type=\"text\"/><br/><br/>\n        <input id=\"ex16b\" type=\"text\"/><br/><br/>\n     \t<input id=\"ex16c\" type=\"text\"/><br/><br/>\n      \t<input id=\"ex16d\" type=\"text\"\n            data-provide=\"slider\"\n            data-slider-ticks=\"[1, 2, 3]\"\n            data-slider-ticks-labels='[\"Low\", \"medium\", \"Intense\"]'\n            data-slider-min=\"1\"\n            data-slider-max=\"3\"\n            data-slider-step=\"1\"\n            data-slider-value=\"3\"\n            data-slider-tooltip=\"hide\" /><br/><br/>\n        <input id=\"ex16e\" type=\"text\" /><br/><br/>\n\t</div><!-- fin de div#colonne2 -->\n\t\n\t<div id=\"map\" style='margin-left:2rem;'>\n\t\t<h4>result map</h4>\n\t\t <img src=\"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTEhMVFhUXGBgXFxgYGBkWFRoXGBoYGBceGRgYHiggGBsmGxcVIjEhJSkrLi4uGB8zODMsNygtLisBCgoKDg0OGxAQGy0lICYtLS0vMi0vLS0vNS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKwBJgMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAEAQIDBQYABwj/xAA8EAABAgQEBAMGBQQBBAMAAAABAhEAAyExBBJBUQUiYXEGgZETMqGxwfAUQtHh8QcjUnJiFTPC4iRDsv/EABoBAAIDAQEAAAAAAAAAAAAAAAIDAAEEBQb/xAAsEQACAgEEAgAFAwUBAAAAAAAAAQIRAwQSITFBUQUTIoHwYXGRMqGx0eEU/9oADAMBAAIRAxEAPwDzVSXAPl+kPlVo0RImUywXh5TXvEEnTZVIaU0Zvr/EELEMSmKJQwgCFhcusPly4hKGlMMVKgpEqsdNREsuiuKCIlVJ39YnmIDhi/k1YRQeICDA37REVMa0prBE5IFoYwUKfuIsgz2WoMPmSWT+sDy6HbeLBZoNfjEIB5Rl3O2sPT7vNeBiog1EPnKJbaIQkFo4BqGIEKLwSXNrxCEYhXhsy8KkOYhByRUQRLSluZTNsHf7rEUsczs7P6MRD8HKPs7hlK13J+URriy0XHD5H9pRMpWVXuKa97bm9Ir5xVLIoA4djetvpFjxLEFyEHLLTypALcgoLbgCKTEziTpu+sAgnwFzcQ4Y6aC29YYcpqb7aUgNNrxKqWXa+kWVfBJ7cUDDV21jpm41b1gebQtDCuLKsKM1QDOYkKCqqBQAPv5C8ArmF2eJStjQ/r1iEHkliCLl6/fWElyCTfvEJmmtbw9U1klIZ/V4hOB3EpzMhBrqRYb19IGSlqRHOkqQ2Yl6PtqSHidaG7b+TxqxJJAyGQsNJhHhtlD46Ggx0QgVgJLl4PCdhHYKSw84LSiOc2PjHgESmFVLgpeHIALiJFSeXrFbi9pWJuxtEqGZolmYcNuekRhLHZ4llbaJ5Uk5czi7MHJ37NESZcTO1IlEp0tFWFQCuQ2oPb7+2hkxFC77ffwgtTt1e0Qzpzlmo1zfyi0wWivWgi5pEfsmGZME4lacrG0DzZvKweDFsGWupLXvBeEAyuphtWA5cpSqD4xKMIotr0H6m0WyITErBt8I7DrbWnaJZOCU7N2qPrpDcVIyUN61ox/SKtdEp9j1IBLpbZoahCgXq0OwScpDtu76QWspZiq5f/l6XirCqyFUsKDwyRKIctS3rSnxiNS8hcO3UQ1GJJIIBZ6/QDrBJAk+JJBypoNSL9vWCMLMICWFE/M0B+J8zCJkAByWN2189oMUgJlgpuqvZopu+C1wDYzEuCGbetzFaYMmse5iKXKLEs47PEKabG4XOCCHGWoOx0bY/pB/DsJOnqKZYdhmUSWSA7OonqYGfloGdvQfvGq8AJmZ1KdpTEE6Z+VmG7a9RFSdKxeSTjFsdL/p3NUl1TkJLWCVKrsSWaM3xPw5iMOSZqDkCmEwVQTpW4fq0etTJ+oaulSGs5e1QBeGTE+1SqXNSVS1pKCQGYE3BGof1hCyTXLMcdRJPk8VUKw1QN3ifESFJWpChzJJSe4LGGrDCNBuQM5i+4Th0rmSmYJSc6iocvJzEK6EBu5imlX+2i54Tiky5M9wgrmJTKS4dSUlWdakg68iQ+jxJdBICxIExRUQXKisijVLsB+kRTg7UH7Q5Srg+sRzFUc/f3SLtlEc2WW7EMPOvziGCvaulRG1O+vwBgYxoxNu7KZzR0LHQ6ijRpRpBCZRfURIiQUljoT9/wARZSMOfeHmKvHJlI2xiV65JApu0IgUrWLheAWlGcpLb/lc1r10pFflDE+kCpWFtoFXK2TAk4amLBQt0gaciCTBaA3GkTSptWeGpkmJJeHJgm0AkyaagEPb5wFOlMBY/N4KW6W1GsRYj1e0Ui5Io50o5zsa6/TtCypKlqZIJP8AxD/KD04QqUz8xoBEvDuDz1TCmXLVmBYkEBKQTVybb+sMcklyKUG3wgZOAmk5mpQm1rfrB07BLUAonIgnQU+HaL/G8DRhyFAKUg5gVKb3qaABrj19ZsPLQp0hL05agOQLP0rpr1hHzbVo0LC1wyiwfh9Mxa05VISgJyrJ/wC4Tdm2iv4vwVSCM2bKaBxX9x1jb4XhsucQAsAo94MDmAcUI1BZ6+UVmP4OZWZSS6XDnM76RSy89lvCq6MbJkKSSGfQM3q8Ji5JzAs1AK9TU9IPm8p5SHJe1n7do4znZiTS5sG6E2h+4Rt8FfjQQop2p5iDeFyks7V0r/43MMmYcqUC9D01g7DSAipDUNbn0iNgxi7IcXMKTlBub/8Arv3iHGpUlRTqlgQ71v8AWEXMDvVwT184WUCsufPt9YLpA9sGlSyo6ntF9/04+yUbBLXIcudA9fKEwUitKN8oueGYVU6alAAP5lE/4ir9BCZ5K59GjHivj2Z04EnKkAlgwADk66R6T4fwCRIly0hXKMxt7xqpwTdy1LNC4qXLSAEhOayl5akmtxUgEQZwhJJzaAEOHDsRf7Mc/Jq5Ta28HSn8Mxx085ZH+3+ziAtTqDm3lqexpb4xaypYAyja1xuafYiBSACVsWd71JeIMJinWTUPX6nygc2XpI5Hw/4c8sJZH9jzj+pHDxLxftEhvaozKDv/AHASlRbRwEnu8YzE7R7/AMRkSZoSJspExIditObKTdiQTXp0jzTxz4WlykfiJAKUJKUqll1XLBQKi+U8tDqfTdp81pJiG1GWxvld/uZHDLCClwKVrZ+sEcRyFXIsqJqtRoHOwvSt4BKSSNzYb9IsPwE1U4I9moLWaIy5VMQ9EjRhGtsJEU1gA8C4tXIO4p5xNjZShMUlYIUk5SNQoUIMC4q4TsfRv3goK5IhPhUOMrO5NN3tEUySpDBQILCh2NoZKmkEEXeOXNJUSTepffWHwvc2Uzo6G5o6HWUemYbAgEJNk1UQC3Z9/wBYtuEyZayxYqzcyQfQUsaGLXhOAlrm5A4HszMO5AKQH2cl+uUwRP8ADqPYpnSgyygVIGdiQcpsfsxwHK+zpdOiqxGHylSUktUAEsOa586ekUvG8ApCg4anVt6RsJhlBGdfNlZ0hnPVthEKpUnFIWqUcyQmyqLSQfeHk0DGbXIbS6MMcPR3tS2p+YYGI1YcB3NfhGrl4HLyqAqOhLGurtAmJwyXDVPep+2hiyFOHBQYfCO9zt5xPNwZTy0zf4/mD77Uizw0wSyWBz5TkBDso0SW1ibCcTCpYExOWYFKzBrncHUMILdxYn6nPb0vZnZklIAC1JANGzC5DszxWY2QUsU2+Af5Ra8XxSH5Qyn5S25p8X9YDPBMZPtKJB1JA07u7fOGRaXL4Kl6H4DhcyclwhLvlDku9Kg9H3EbDwjg5spE0ThcgpY+0JCXdy9iLa7xZeGuHZcNLC0KSog5wfed6+69LfGLLCyWBDhQUp82jnQM1H2jDlzOalHx4H744pY2k+6l+j/PZVTMUk1yg6KSfdKdL61il45g0y8s+SlKUFTkgMM27afm7wbi0Msg7/f1gjGj+0kKQVBwVNlqkfRvr5IwSakkjsa/Fjji3lPw7EJln2iAw5nTcOuqmUzpBIzNSoHaCOLJkK5chBUMySPdUWJa313iLEIk8ykZkGwdLA+YhMUVKDJIUmgASAGNL1BB+cbXHmzjxkmuOTKT+DrS4IbqzCK2dhTLGanb77RvZYUnly5n0J9bh2ff1iTE4DDzCxCZRAchTgUvUiGLK12A8SfRieHTs35W2YekXkiUoosHOmnY9ekXUnggQHQQobBjcaKHrBKOHlxy0DPRvPrAyyrwHDE/Jk53BKEsK0JalfpAasFloA507d49HVw7KN3BfzgJPCHGZma36wKz+y3g9GJlSVpclxVuo7xa8FnrQolBUCoZcz1a9N7CLLjHBiwGVQNxQ1fSjkuYdwPwnPzJXOyplu+VznOrEMAPWCeSLXIme2Ct9FTxKZNWoKQtaimgygq9TY1JvGw8NYxU/ChSkqQQopUC6bAM2bQivrBk3hkpKC6i2jNUsbADvDRLZKUgFIJJat+vlT0jKsim0qqgtfKMdK5KTduqar/JZylIysaA/oB5bQBjMBkLpqD5N9iCJaCk2Fr/AH5QV7VSkWqLjf18oTlh5Rj+Fa+cMix3wyqCyEE1cFwdK2iPE8NTOlKQtIUlbOCGFBRtuYUZrCLIpSQeVhVx+zV9Y5WMSEFUwoSlPvKUwSE73YCDg5bKQzVTxx1fzWvs/a9/n6/vnOH8CkySRKlhBNSS5LD/AGJaPO+I48TsUtbhITmCC90oJyknUlI+UegeI/FUgYdUzDzQpRdCWBSXDjNUVS9erjePH1zdqOPX7pG3R45W5zu+uTRq9RvioRpR7peyeaskqWau6iepLnpACN9THLmuwHn12hTQUjr4o1yc9kkmQVAkflcnsTAxUTBqEFKASxzP8RSsBkNFxsg1o6CMNh82oHcsP5hYjkkWfSPF8T+GUhSJYdfIVOwSAQb3sVFv+J2EJhJ5xElLEC2chYVzMCQ6aFqUiq4jgcTisLJ/EJ9lOCiZiAp0PUJUGJ06vzGE4LxNQ/8AjLk+yKRcUQRple5truY8/JUuO0dKCt2H4jFIlpUEJFKAnp0jM46eol8xSWZwBY3fem8X0+Qk0qFVtV4p+IICaOX1cN/MVBjpRVFfOnqSSkjlFmLLQbnK/vDbVjFfMnCqkK7Vr5g6wVjsWZlDVrk6s7fCKIrorlVmKiwSxDDpr+8aoxESYSrEkUUbFxejj4D4QJi+KGgJqPusQyZ6QClUt1k/mJLVaiQQd9T+rcRhzLLqSpCjZQYkAihSlTsb3hu1eRO5vokwypS1tOBGUWPJfWo2+zGq8MTpUwLTLJ5VBQJBo4Zg4dRA2qxNnim4T4TzyzMnTVzFrIKcxYVJS5ZyWI0bzjccK4OmUhKZQbUvzKzFnL2almo3lCNQ1tpMqOpjil9dfsOXOWhk+2BbYBmtWzivyrEEiWolwQFEVCbdwL/Zu8HzMGSGJDa5hr010tCTMCqlQpIZspKVBhoR71Q/TyjLtT4dfn8Ar4pjhG8W5S+1f3b/AMAU6QhSuZXM1Kga327A1oYb7MoAJU6QQAkOS4qKadzEuZMxVEzJa25ikG/VwH9BD52GN82dRdgzbVe8GsEE1doXP43nalFpNfr/AKKvFYRCjnRRVMyVBgS1a2c/M9YBVLZThBCg7g6U210jRYPMEEEfXcHq/WJFykZAV5XDs7VqwFLPGh5KW18+EYcGe57uny36f/fVGeOKWgh0skge92q1KAn6wRhsbKQUgqJYucxoKUblL6axZjhiSKAG9ww1a70/WEl8IlKBBAc0DUFP4hb2mxfFIeUyrRilIKlS5YylyRmof9Q97bQ5HEnOqfP+YtZXDMliG3O3rHYThAzKKwnqRsWNtDSFtxNkdbi22pHS5OcOSCLEGnxEES0coQgBht9tDvw8r8uZhseX9IkkBKapHm7mFtMTl+K44r6FbDchYP8ACGYgqCSwUSQ1BqXq0RqxQFy0NmcSSEFWYBgb+oHU9IDZJ+Dm6fPGE78evYBKSoke197mAzG1WoDQ2f7eD5OHy3r3v/EUM/jOdYpTYnU6vpBZ4lzAXBLfQfGNP/nnFJUDrNVLUZXJ9eF4X2LaYoNEWBmOolg1gdWivx2KIQSpge/28RcEx2QHMQ5L+W57MdYnyXsbM2N1NMsceE/5ZKPppa7VveKTiWIHsZybhUtYUCaF0EF3oNK/ZreLeN8N7FS5KkzFAsUKJSsgliQFDsaXEeZ8V8QTZ0xS1fmABAcDKM2UdWzGNOnwNqmanCeSe58EvEcWDLlpSKMX1Lhhp5/CKWetqC5+AhjHcxwTHSjjo1nCJZatLmI4dImMaXHm/TtDG6XBCynymSEbCtG9fWHTcGUJZwxIPMwegIejkVF4hlYrmde1wPgWivxOLUqm2lhvpCVGXkg/ETxRi/Uho6BQh7x0NVl0j6lXiQt2OsQzEvQ1ipwOOUCETJdw4I21MFqxyEpLOVJNRckWp6iPMyxuztRkkiXFYwS00GZYByosSWpzaCh+MUniCRmQFLlJVY0IUpKrFn869dIKVkmFKgas4JFd67i0KpCFiav8xYKBVQECh7AFJLw2H00BLkwyhKBYqUzcpIUo3diSbaVMTTVAgBJKXJfmSHLamquwavd4s5nAxlBzk5icpZgzEklNwKFv3pUYTDFE96qINHFX0IB1B3jWpJmZxaGr4HMmLlj/ALaRULYqAYPegJcANuY1Ejw9LUUtUBiVUGc0/K1BSwu8TyVTjMBCJbF0jKWAJDqAdnJIFbOYmMxaFoWfdUWNKPqzKu4PpAuTlwjBrHlgri+A1PDrBVfMm3wH33g6XJY0pCybVvDwYxynJnLVPkUSw7sH3aHFMNKoYvEAB/0D+ZgKbGKuh5ljV67/AKiI1S0gZUAANUjf6xD7QrDlWUf4pP8A5D6QwlBJzgNfmGhJZyX6XgkmHkjtXjkhnSJY95RDlnzZXLH1jlYdI91P79PvaDpmHQwADdm7+fnEKkMRmLHcWI6bXhiyMSsa8sEE9BOUHKq99O2v8QVIlVzEk0bsPpA07CitHcdGtW9hR2gQTJiC7sCQx1BtUkgX+fkWbVJfSxbVPkukpI0B++0OXLDEGg1/n7vAuAxbhlUI6M+x+ULj2WABVjmbSln84Tte6mHaSEM9OUMWBoN9gzWilxc1GZmUW0Ki3WLUEAObj77RSY9YKiabDeNeCKsXdkqqObI1a/YA9BAOISVkJS7almpUV3++8JiCVJNxVw5LkUsNni1w0hIQGFwCSTfzjQ38tX5J0Vo4Sp6Kf6DV2jOcX8RFKjIkE+0CmK3ygAXAr0u/wrGl4/wRcxileQBP+TMSXJ+XpHnmG4DPeYuWnP7PWigdbGii2lYZikpq5M1YYRa3NmxxHEESZSBisQCpno61VDhgKkaORWM1xfxAueFJQoiTUAAMV/76sXNIz2NRNzEzc+YmpW7na+jM3Rofw8kpKXNTbTpDXiUY32Phhinb7BsVh1ICVqSf7mYp2IByk9swI8jARGpi44ihYT7Mk5RUC4BO23WKojfSGYqHiAQpTCpEMAcw4oUJgjCSw5f7H8wxaCNNKd9Pi0HYSUU1NWrS3b1hWSSqiAGKABLQDLEF4yZcwKi0F6sJDo6OjohD6BxUxk5TlJJBNwKXYAkpPaJ8QUlDpDqFlMHy97mtH66RZJpTKCkeZ0+HSHGQnJRgCXvUbsdR/Eec3HYKMJI5iQBYk2FK+cXCOJBKMooLAgOfK9bRWTpi6JSSK6gOYixk9QLABxdt/W9YurLfRPxbHy8tUJCm/wAQHazAu1ejxnF4pICpkxViwAZjqQPW9iWg+bhVK/uLU+QOoUbUhJOlqxnMZJlLAHspiVEPVyhzq93YCjbQ/HFCMjrotpXiD2QCnlqeqUgq0bbtf+IvuHZcQjkJUoHNkUDQEEM5IdiQDYuDePLeISJkk8jsdWdmrrYxqvCGMMxJSV/3kqKyDdQs6W6qBIF/KGzx8WjNe64s2M3DKHuqyqAsVKvryqLGtK/KCZBKU1zE7ML9MtWPWBZOPzBKlAlQ6guD/wDo39IllrzVAOUE1Ic1/wBb184ytSapmHUY8WOfV39gqSoqJ/SxhuUsAxJDVYff8wPJWpQukpsAAzFt/wBtIkSgsWUALmwG5LwG1pmec8bVRVP883yOXmfpcaN9iOXNLVL9xTTe/wC0SzSLXtQdg8DTVVNRSprU9/WLjyIdpskRNJ2I7ka6+VWhpW9g4AoCfVi0cVbN2t3qNYE9vlNyU9KsDuXglG+ilJN8hiFpWDQpOx1I7X0ioxkoOtip1sFIUp0hqApGm3zg5JUS4D0cMWfs14rySFOHvzAgt8KNDcKdsZljGMVTt+fX8/n3B8EvK6qk6NoK1FOm8WqMXlDlup+XxIigxySkghms1iLm+mohysWSlnejV287mNU8O/kz0O4jMV7xe7fpDJMtSjlbZ9gD1h+HxUtNFoWbUoU01ALN2rEq+KFQKQAEs1K0+3g/qSpIshCdA5JUQDelfOgeL+VIKEjcABrQJwhSaFIy3fUnzNWo0WP4oEOf1+7WjHqMtPaPx6bJmTeNXVf3K4zZhLEgg6NpX6ERnfFXiVOESJUlCPaK5mblT1UBraNnKlABlVBNDVw9A5+9I89/qJ4cRLScQgqUoqDj3mDEl2sKEuWtDcEsc8ijIvFh8y69GL4pxadiCDOXmIcCgFy+kCyCQoNvEcFYKdkUCA5qI7DSjGkjYl6Lz2AmzZct0sSzksnS8UviDCpRPUEEFJAIYMGNqaUam7xLNxeVfu1fW42+kMxyMyyRYAOdy3zJMZ8a2u2G2BJlUevlE2DwZUoCzm1vnaHySyq1y70AH384ucBOkpnK9uQyElXLlJzaJTXm09TtFyyvwVR3GsIiWhPLzFRDufypTQaUcChiDFz0jDZUlnqAQAb1c1JLAtAPGvEUyeqtg+V2dIN6hgfSAeLLJYvo7dTf5QEYS4sIrppcwsRytYkhxYsdDYWLKPo6bOIWE1zWfez1PUmCZEsrVl2qdCKsfvvFcrEibJGT36hJtXQkn7eLHhE8JDqetCohw6VF370jz1HXba6COIcMSebMU2zAPboLud4jxOASXAOVKanUgNpv+wh2Lx6QXKqV0NYMkp1ULiidWZ6gW0hdslUuWZ7jCgZPskjKLVqS9KiK3DYLMhEtBdRUalOiO3c/bRok8NVzqUnNmDij7Ua4Z+lozWLnLlKShLpVlV0UM5YebfONGPnhCsjXZn+IS3UQWIci1D1igVNVKmJmynSU7eRHxaNhM4JMchTpIAI1Pw2aM/icAqWt1JpsdfUPGyDi+DHNSXJrPDvGkYgyw7HK6k1YTATfStWb/Jmi9KUhRPNc6nmNKmrGPMMLKVLWFyuRSS+hsSag0UOh6ReS/GJQkJmJJNCFPUqTlvsCxHSFTwu7iZtTjllSafRupKi4JNw9XB71vE5mXL2vSnWKjhvFpOJlBSUtmS5SakVZybEA/wARJMUz2ILXsQ9mdjrGbZb5OfODxumHTp4DlszCgSHOgoHoz/CExKRqXe0V68S5JYMPdt2P8QzETiSlQJzMxDkpFaOl/e6tBrE7FuViYrFZCwLvoz1+2hqpWUFSVggVYP0Nj72sA/i15ikgK7kAh9n6fdYmyhVAAgsS46MzpJrR6Xq8adm2gowtBEnHco0DkUdweu97QJi56jUXvSparU7/AFiFasrpUntsCLkAjvTQvDZh1BOgPo19LmGRxpOwWdOxZUkACpv50D0p/EF4bhikgZhU0/1t8Yj4UtlhKuuU9r3aveLadM10+MDkm4vbEFvwVmO9okXKg2vrp5RWS5pcUL9fJmOlI1HE8LmlpKCM43/MP1D3ihTh1uykkAEOCD8YvBljKL6HzwTxpOS4fnx7LZE+iQBsW1O7dYL9ukfmLndNKebGBSsAUHb6/SkImW9DVt2+MZZwjLsmDUzwcwrn9LLVU+WG1Zu3rrAnFShSFIW5CgQddNjo14rMSSklnYPr90tCfiM1KpJDE0J8tNYuOCqaKlllOe9nkXF8IJU1aE+67p/1Nr19YEBaL7xise2AdyHJPc0+sUEdvG3KCbN5IicysxqYNwc67kVb+H8orCYnOIQlLEOWowA9TcwOWN9BIHxmJdS9ifVrQLU3MImsKDESCFSIlnWF3126NESYcswRQLLuYkhhoqHwAQkLHR0Qo+jMFgOR5akJX7pCzUgVBr+ZjHZjLdKiCdCFcuhNNRUxk8L/AFCwM2s+VMlqLlTMtD3pYhzpFtw3xHwqa4TiMhA/+xCki+9td440sM12mb1mj7NFKMvICEqcOFMFeVYenEJQCQAkkbuqrVJNzb4xmp3jHhqQEysVcsrkmhPc8ocdnhJHinh85Qky5qlKJYHIUpB7qrl0eA+TPumF82PstsTxLFLxHs5KsgShNCARUAk1B3TX94IwvDlIUqatWaYq6ulOVI0FPgIj47ifZrkrlLSVqAC0g5goJbL9REuJ4iwcuAzkbdHHWBldKi4JWwfiOMSgNQk9W6RlsfOzLrbTV+sScX4tJUoXevp/HzivVxCXk3L6i37dYbjhXIOSd8DZeGuS21GHWG/9NzZjSlnrXT5NEcrGpIq1e/1gqVxCWA2ZnuwOm7fdY0psyuKKyXMnyS6AkUYg1KqXJNRfTp0i+4FxskqzpDEuXvrygnT71gSdxGWx5iXtQl4mwGPlpoSQFf8AF6a0iS5XQuUIy4kLN8Y4ZC1y5iVZkzFpcBgUjNzOHH5UhmesUs3+oaH5JKndTkqBSUvQgEO/QwPxaWn2iygBsxIoxYxUTAU+5LSaX6tWDjCPYj5GNeC1xvjVSpifw8p3SxKg3NowqNb/ACvCcPxa/aZmQlaSpTAkp5+UBT+9T5eUUU/FrDUINWy0Bp8YhwExsxWTzM3Vn1g6DjFRVI9PweOTOWuWEH+2jOVGrklmBuQXo7Fkl4ITh3UXL6efl5RQ+AcMtftZgYylDISR+YBxlGjA36iNkmUGYsOj7vcecJc9rpGDU7VL6QCZKAymxp6t8os+FZJiXJJUDawLb9IhxkoF3NBpakD8LQUrKaMSASdKN9RAT+vG+eReJrerVl57YJDKKSrR7A9T9dIBxk9BotDmvMlQJHYtUXoRBWOUrZKqBuYBQ6santFQuWSa/KkZsGONbjZq9Vl3yg3x68fwx8s11I63g1CaW/WBcNIJP67RZ4aXQgaU6wzLJI5zI5uHBHMWH20ZvjU38HLE2Y2ZxlSdRfz09Y1EosCtRASKnSgdy8eS+OeKDE4kZF5kAUowG7g6sH84ZplKUtvjyacGJS5ZnMZiDMWpZuovECi0dOLFhWGqQQXUCO8dlNVwbqJZUp0lRpUV06/AQLi54LBIoNdTEmK4gSj2bC7vr+0CoTCuW+Qkjs0cYSkcTFljnhxtEaYlRFohDiRYx0PmNR4Yo7RTIdHQjwsUQ9F8QeBEpQsyEzvapGYIUMwUBVQSQBzMCwqSzRgFIYkEEEUINCCNxpH0V478TIwMhahkXOoEIJAIzfmIuQLtqWs7x87LmFRKlEqUokkm5US5J7kxm0c5zi3LobmUU/pOyxJKW1vhEQEOEbRB6T4O8QhYyrAzoAIJZiBR66gn5RovEHHJUxJli2UcyQC6nu9GHrePGcLiVIUCmhBoY0EjiqTVRynUV+yIwZtMt26Jox5aVMOnEBXwgVTgxIZomKSoOxYv+0LPIKmoYDrgvsjMywjlz96D+YRMs7+cInLmrt38/nFgkhmqsFAnpt1g+RNAo9WD0+EVqpoLKoBoW8miSSh6uwoSavy/SI0XZJilPEE1JIOUF2Y+n7QLN4wkFQyPUsQpn+ERSuOLS2VKA12FSNQ5h6xSoS3bK6aTmAetvW8FGVlRnIfbUNpSBsQkn+4LZvQ3aLrFMJQApyhvh8oCTouKsn8K+IpshUtClESAVKWgAVBYE1szAsGDvvHrUuXmykBgQFB+ta9WjwfEUo8aXhPjnEyglCwJyCTmzlRWpJBGXOXYPWxNIz5cTlzHsy5sCm+D0XFT0DMlUyUkghKsyw7tmANXcptFbg/EGDRMMtc3MOXmCSpCi78qkuaFrjzjyuXMyEAcuxGkWEgJmUsQKEeUX8n6abCxYIwkpdntePwrn2iaWJFqaOLg/pAqgCe3W27R5vK/qJi0gJK0zG/MUjNTrq+pZ4vcd42WnCompTLVMXmzivKyuUFDuzMXfeEx02WKSf2FarFunuh5NdNnJltmDA60oXo/rA0/jmFQ+bEIe5ALnXRL9Y8nxvi7FTQ0xYN7AAMdGF2ihUqNMdA3/WwY6VVyzVeLPGE3EKKEf25SSQAk1Vo5OzadYoJykeyVlDcyQXNQlnPqR8IrpiniMiNnyoxjtia4xUVSI0zi4Vq7/WHTsQtRJUXO5rDHjosM5KYXNHPCRZDs0LCRwiEHAQ4GEjosh00PERLRNHLQ8RohHHRyRCxRDReNuP8A47FKnhJQCEjKVZmIDU+9YooQCOiRioqkU3Y6OhsLBEFiaWt4ghUxaZTNHwya4SOjd2gvJtFPws1PcfWNGg5kZjfeMGZVNmjHzEFlo6wLORz5tB5aRdCSACRs8ATkAu8DF2VNUBFaVAqJASB3D9N4qMXxBSyWOVOwp6w3iaznKPyiwgYRrx40uRTdigQrQkdDgSSRNymr5SC4+UWEt1S0VoSU+oYfSKpdjGi4VJBCUmwD+bP84z5klyFHkqZIzKrpfyiVRcgbbQdxLCpRMVlGx9WJiHGSwEpYaK+CXhNltUDeyWS4Divw0iSTN5FJHvG46dOsWGADoV2+jwJMQGCrEiLUuSOPFjeBGQJ6PxIeU4z3s/8Axq3aNl/UHxhImSRhsIoKQcudQQycoqEpcAu4BJbRt4wuKSKHe/wgaWHUx3aHyxRySjkfjx4Fq0RqmxEVGD+I4ZKEpZ6ku/lABvDFK1YR0OloJLCGwRw8Ov0+sVJ0rIDT5RSWN9YYIO4sXmntAkyKjyrLGQkdHRZDoUQkLERBYUR0cIsgukLCaGHJiyiCZQx0NnaQkAwj/9k=\">\n\t</div><!-- fin de div#centre -->\n\t\n    <script src=\"https://code.jquery.com/jquery-3.2.1.slim.min.js\" integrity=\"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\" integrity=\"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\" integrity=\"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js\" integrity=\"sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==\" crossorigin=\"anonymous\"></script>\n    <script type=\"text/javascript\">\n        var sliderA = new Slider(\"#ex16a\", { min: 0, max: 10, value: 5, focus: true });\n        var sliderB = new Slider(\"#ex16b\", { min: 0, max: 10, value: [4, 6], focus: true });\n        var sliderC = new Slider(\"#ex16c\", { min: 0, max: 100, value: 70, focus: true });\n        var sliderE = new Slider(\"#ex16e\", { min: 1, max: 3, step:1, value: 3, focus: true, ticks: [1,2,3], ticks_labels: [\"Low\", \"medium\", \"Intense\"]});\n    </script>\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":180,"y":280,"wires":[[]]},{"id":"bc09ea02.236c38","type":"inject","z":"832f95f6.c00828","name":"SampleQueryResult","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"1599796800_20179116\",\"status\":\"Succeeded\",\"start\":1599816979116,\"folder\":\"1599816979104\",\"swLat\":47.576553,\"swLon\":3.3840909,\"neLat\":50.16917,\"neLon\":5.8905783,\"nickname\":\"NodeRED_Ref 49.087126542584954-3.9402723312377934\",\"exPercent\":0,\"flag\":false,\"hadoopId\":\"1591579541500_1159378\",\"ready\":true,\"rtStatus\":\"Succeeded\",\"statusCode\":20}","payloadType":"json","x":130,"y":600,"wires":[["19a26359.bdba5d"]]},{"id":"50a57694.815298","type":"ui_button","z":"832f95f6.c00828","name":"","group":"1c11e0d1.3b713f","order":22,"width":2,"height":1,"passthru":false,"label":"Add Layers","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":\"1599796800_20179116\",\"status\":\"Succeeded\",\"start\":1599816979116,\"folder\":\"1599816979104\",\"swLat\":47.576553,\"swLon\":3.3840909,\"neLat\":50.16917,\"neLon\":5.8905783,\"nickname\":\"NodeRED_Ref 49.087126542584954-3.9402723312377934\",\"exPercent\":0,\"flag\":false,\"hadoopId\":\"1591579541500_1159378\",\"ready\":true,\"rtStatus\":\"Succeeded\",\"statusCode\":20}","payloadType":"json","topic":"","x":90,"y":540,"wires":[["19a26359.bdba5d"]]},{"id":"6bb3f70e.d287b8","type":"change","z":"832f95f6.c00828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"addLayers\" : payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["abd7de9f.dc3d8"]]},{"id":"2fa0802a.3c97c","type":"http in","z":"1dd8c15a.d9bc8f","name":"plugin","url":"/leaflet/plugin/:filename","method":"get","upload":false,"swaggerDoc":"","x":110,"y":460,"wires":[["c4f1e5ec.506848"]]},{"id":"8bbd0d9f.d0f46","type":"http response","z":"1dd8c15a.d9bc8f","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":510,"y":460,"wires":[]},{"id":"b9465c3a.fdc0e","type":"change","z":"1dd8c15a.d9bc8f","name":"css","rules":[{"t":"set","p":"payload","pt":"msg","to":"input[type=range]{-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);width:110px;height:10px;margin:0;border:none;padding:1px 2px;border-radius:30px;background:#F1F0EE;outline:0}input[type=range]::-ms-track{border:inherit;color:transparent;background:0 0}input[type=range]::-ms-fill-lower,input[type=range]::-ms-fill-upper{background:0 0}input[type=range]::-ms-tooltip{display:none}input[type=range]::-ms-thumb{width:15px;height:18px;border-radius:12px;border:0;background-image:linear-gradient(to bottom,#1253A4 0,#1253A4 100%)}.leaflet-control-layers-label{margin:0 0 8px 1px}","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["8bbd0d9f.d0f46"]]},{"id":"c4f1e5ec.506848","type":"switch","z":"1dd8c15a.d9bc8f","name":"","property":"req.params.filename","propertyType":"msg","rules":[{"t":"eq","v":"L.Control.Opacity.css","vt":"str"},{"t":"eq","v":"L.Control.Opacity.js","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":500,"wires":[["b9465c3a.fdc0e"],["fd1c00bc.7db66"]],"inputLabels":["filename"],"outputLabels":["css","js"]},{"id":"fd1c00bc.7db66","type":"change","z":"1dd8c15a.d9bc8f","name":"js","rules":[{"t":"set","p":"payload","pt":"msg","to":"L.Control.Opacity=L.Control.extend({options:{collapsed:!1,position:\"topright\",label:null},initialize:function(t,e){for(var i in L.Util.setOptions(this,e),this._layerControlInputs=[],this._layers=[],this._lastZIndex=0,this._handlingClick=!1,t)this._addLayer(t[i],i,!0)},onAdd:function(t){return this._initLayout(),this._update(),this._container},expand:function(){L.DomUtil.addClass(this._container,\"leaflet-control-layers-expanded\"),this._form.style.height=null;var t=this._map.getSize().y-(this._container.offsetTop+50);return t<this._form.clientHeight?(L.DomUtil.addClass(this._form,\"leaflet-control-layers-scrollbar\"),this._form.style.height=t+\"px\"):L.DomUtil.removeClass(this._form,\"leaflet-control-layers-scrollbar\"),this},collapse:function(){return L.DomUtil.removeClass(this._container,\"leaflet-control-layers-expanded\"),this},_initLayout:function(){var t=\"leaflet-control-layers\",e=this._container=L.DomUtil.create(\"div\",t),i=this.options.collapsed;if(e.setAttribute(\"aria-haspopup\",!0),L.DomEvent.disableClickPropagation(e),L.DomEvent.disableScrollPropagation(e),this.options.label){var a=L.DomUtil.create(\"p\",t+\"-label\");a.innerHTML=this.options.label,e.appendChild(a)}var s=this._form=L.DomUtil.create(\"form\",t+\"-list\");i&&(this._map.on(\"click\",this.collapse,this),L.Browser.android||L.DomEvent.on(e,{mouseenter:this.expand,mouseleave:this.collapse},this));var l=this._layersLink=L.DomUtil.create(\"a\",t+\"-toggle\",e);l.href=\"#\",l.title=\"Layers\",L.Browser.touch?(L.DomEvent.on(l,\"click\",L.DomEvent.stop),L.DomEvent.on(l,\"click\",this.expand,this)):L.DomEvent.on(l,\"focus\",this.expand,this),i||this.expand(),this._baseLayersList=L.DomUtil.create(\"div\",t+\"-base\",s),this._separator=L.DomUtil.create(\"div\",t+\"-separator\",s),this._overlaysList=L.DomUtil.create(\"div\",t+\"-overlays\",s),e.appendChild(s)},_getLayer:function(t){for(var e=0;e<this._layers.length;e++)if(this._layers[e]&&L.Util.stamp(this._layers[e].layer)===t)return this._layers[e]},_addLayer:function(t,e,i){this._layers.push({layer:t,name:e,overlay:i})},_update:function(){if(!this._container)return this;L.DomUtil.empty(this._baseLayersList),L.DomUtil.empty(this._overlaysList),this._layerControlInputs=[];var t,e,i,a,s=0;for(i=0;i<this._layers.length;i++)a=this._layers[i],this._addItem(a),e=e||a.overlay,t=t||!a.overlay,s+=a.overlay?0:1;return this.options.hideSingleBase&&(t=t&&s>1,this._baseLayersList.style.display=t?\"\":\"none\"),this._separator.style.display=e&&t?\"\":\"none\",this},_addItem:function(t){var e,i=document.createElement(\"label\");t.overlay?((e=document.createElement(\"input\")).type=\"range\",e.className=\"leaflet-control-layers-range\",e.min=0,e.max=100,e.value=100):e=this._createRadioElement(\"leaflet-base-layers\",checked),this._layerControlInputs.push(e),e.layerId=L.Util.stamp(t.layer),L.DomEvent.on(e,\"click\",this._onInputClick,this),L.DomEvent.on(e,\"touchend\",this._onInputClick,this);var a=document.createElement(\"span\");a.innerHTML=\" \"+t.name;var s=document.createElement(\"div\"),l=document.createElement(\"div\");return i.appendChild(s),s.appendChild(a),i.appendChild(l),l.appendChild(e),(t.overlay?this._overlaysList:this._baseLayersList).appendChild(i),i},_onInputClick:function(){var t,e,i=this._layerControlInputs;this._handlingClick=!0;for(var a=i.length-1;a>=0;a--)t=i[a],void 0===(e=this._getLayer(t.layerId).layer)._url||e.setOpacity(t.value/100);this._handlingClick=!1,this._refocusOnMap()}}),L.control.opacity=function(t,e){return new L.Control.Opacity(t,e)};","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":500,"wires":[["3090c7ca.a41738"]]},{"id":"3090c7ca.a41738","type":"http response","z":"1dd8c15a.d9bc8f","name":"","statusCode":"","headers":{"content-type":"text/javascript"},"x":510,"y":500,"wires":[]},{"id":"f8beb84.ff08848","type":"json","z":"e963d84f.1fbc58","name":"","property":"payload","action":"","pretty":false,"x":650,"y":380,"wires":[[]]},{"id":"fdd6062.7cc9df8","type":"json","z":"832f95f6.c00828","name":"","property":"payload","action":"","pretty":false,"x":450,"y":660,"wires":[["6bb3f70e.d287b8"]]},{"id":"8a3b4d15.51526","type":"debug","z":"832f95f6.c00828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"a6fafa46.9230c8","type":"debug","z":"832f95f6.c00828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":80,"wires":[]},{"id":"e968eb8b.692c38","type":"debug","z":"832f95f6.c00828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"9465bbb8.5ab558","type":"debug","z":"832f95f6.c00828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"e7027934.372cd8","type":"debug","z":"832f95f6.c00828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":340,"wires":[]},{"id":"4c21ec7f.400cf4","type":"inject","z":"291be7d6.2ebbf8","name":"Test 11 layers","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"49440\",\"49252\",\"49257\",\"49304\",\"49313\",\"50453\",\"49310\",\"49311\",\"49250\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":110,"y":300,"wires":[["708f82e.1e4aa7c"]]},{"id":"69930f85.f80b8","type":"inject","z":"291be7d6.2ebbf8","name":"Test 2 layers","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"49440\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":110,"y":340,"wires":[["708f82e.1e4aa7c"]]},{"id":"428c06cf.3b63d8","type":"debug","z":"291be7d6.2ebbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"f608d1ba.3992","type":"inject","z":"291be7d6.2ebbf8","name":"Test Point Query","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"16100\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49440\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49252\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49257\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49304\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49313\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"50453\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49310\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49311\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49250\",\"aggregation\":\"Max\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Mean\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Min\"},{\"type\":\"raster\",\"id\":\"49296\",\"aggregation\":\"Max\"}],\"spatial\":{\"type\":\"point\",\"coordinates\":[\"49.080609\",\"3.961231\"]},\"temporal\":{\"intervals\":[{\"start\":\"2018-06-30T00:00:00Z\",\"end\":\"2018-10-31T00:00:00Z\"}]}}","payloadType":"json","x":120,"y":500,"wires":[["147cef42.dc47a1"]]},{"id":"147cef42.dc47a1","type":"subflow:ec30a594.93ed18","z":"291be7d6.2ebbf8","name":"POST query","env":[{"name":"method","value":"POST","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/query","type":"str"},{"name":"appendPayloadToURL","value":"false","type":"bool"}],"x":350,"y":500,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"fad40c31.45b3d","type":"comment","z":"36b6cb51.94de54","name":"Generate Min-Mean-Max query for mutiple layers","info":"Generate","x":250,"y":80,"wires":[]},{"id":"b69232b0.bebb2","type":"debug","z":"291be7d6.2ebbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"7ce15861.d1a078","type":"subflow:ec30a594.93ed18","z":"ae09cdac.fc71","name":"","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/v2/datalayers/","type":"str"}],"x":640,"y":60,"wires":[["1c5f08e1.d6ea67"],[],[]]},{"id":"655d3f5e.f7041","type":"split","z":"ae09cdac.fc71","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":60,"wires":[["7ce15861.d1a078"]]},{"id":"3dee0249.66e55e","type":"inject","z":"291be7d6.2ebbf8","name":"Test 2 layers","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"49440\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":110,"y":160,"wires":[["2bfed10f.d973ee"]]},{"id":"51c89813.a54a08","type":"change","z":"ae09cdac.fc71","name":"set layers","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.layers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["655d3f5e.f7041"]]},{"id":"1c5f08e1.d6ea67","type":"join","z":"ae09cdac.fc71","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":80,"wires":[[]]},{"id":"f250357f.9cb648","type":"inject","z":"291be7d6.2ebbf8","name":"Test 11 layers","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"49440\",\"49252\",\"49257\",\"49304\",\"49313\",\"50453\",\"49310\",\"49311\",\"49250\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":110,"y":200,"wires":[["2bfed10f.d973ee"]]},{"id":"9c1282e4.9f7e","type":"inject","z":"291be7d6.2ebbf8","name":"Test Layer 16100,49058,49296","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"49058\",\"49296\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","payloadType":"json","x":170,"y":120,"wires":[["2bfed10f.d973ee"]]},{"id":"306ebcbd.280984","type":"ui_template","z":"c4d10927.aa03b8","group":"5c1494a4.6188cc","name":"Bootstrap HEAD","order":1,"width":0,"height":0,"format":"<!-- Load bootstrap CSS -->\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css\" integrity=\"sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==\" crossorigin=\"anonymous\" />\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":180,"y":220,"wires":[[]]},{"id":"2bfed10f.d973ee","type":"subflow:ae09cdac.fc71","z":"291be7d6.2ebbf8","x":460,"y":160,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"a3892370.8efce","type":"switch","z":"ae09cdac.fc71","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"layersKey","vt":"env"},{"t":"istype","v":"array","vt":"array"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":180,"wires":[["51c89813.a54a08"],["655d3f5e.f7041"],[]]},{"id":"3ad63366.0833dc","type":"comment","z":"ae09cdac.fc71","name":"This subflow gets full layers details","info":"Input can be either a array of layerIDs, or a member which is itself an array or layerIDs","x":230,"y":380,"wires":[]},{"id":"7c03f1cb.3d57","type":"uibuilder","z":"103af39c.1b0a4c","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":240,"y":180,"wires":[["990bcb69.2ce578","9d0cedad.224ed"],["3aeecbe5.995434"]]},{"id":"cdfc0116.85c59","type":"debug","z":"103af39c.1b0a4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":260,"wires":[]},{"id":"79cd6190.ebc5a","type":"debug","z":"103af39c.1b0a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":140,"wires":[]},{"id":"506cdfc9.6b5db","type":"comment","z":"103af39c.1b0a4c","name":"README!! WinSCP","info":"This flow uses the `uibuilder` from `node-red-contrib-uibuilder` package\n\nTo use with IBMCloud, keep in mind that the filesystem on the cloud is *NOT* persistent. So edits done here are not retained across restarts/restages of the IBMCloud application.\n\nTo remediate this, the idea is to edit the files in the gitlab repository associated with this Node-RED app, and to facilitate developments, to sunchronize the local git clone and the current instance file system using WinSCP over CloudFoundry SSH connection.\n\nTo do this, get WinSCP, get the ibmcloud commandline, and use the following commands:\n - `ibmcloud cf -q curl /v2/info` to get the host and port for the remote app\n - `ibmcloud cf -q app %APP_NAME% --guid` to get the APP_GUID\n - `ibmcloud cf -q ssh-code` to get a password.\nThe WinSCP command will then be:\n```\nwinscp scp://cf%%3A%APP_GUID%%%2F0:%SSH_CODE%@%SSH_HOST%:%SSH_PORT%/home/vcap/app/.node-red/uibuilder/uibuilder/src/\n```\nIf the authentication fails, use `ibmcloud cf -q ssh-code` to get a renewed password","x":650,"y":60,"wires":[]},{"id":"7d05faa9.cb9a64","type":"change","z":"103af39c.1b0a4c","name":"RefData","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49432\",\"49433\",\"49441\",\"49454\",\"50450\"],\"pos\":{\"lat\":\"49.080609\",\"lng\":\"3.961231\"},\"startDay\":\"2018-06-30\",\"endDay\":\"2018-10-31\"}","tot":"json"},{"t":"set","p":"payload.zoom","pt":"msg","to":"12","tot":"num"},{"t":"set","p":"payload.duration","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":80,"y":120,"wires":[["7c03f1cb.3d57"]]},{"id":"990bcb69.2ce578","type":"switch","z":"103af39c.1b0a4c","name":"switch topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"initLayers","vt":"str"},{"t":"eq","v":"loadLayers","vt":"str"},{"t":"eq","v":"loadAOIs","vt":"str"},{"t":"eq","v":"mapClick","vt":"str"},{"t":"eq","v":"mapMove","vt":"str"},{"t":"eq","v":"mapMoveend","vt":"str"},{"t":"eq","v":"mapZoomend","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":8,"x":110,"y":360,"wires":[["32d75c26.8ca244"],["b46e72b3.f4e2e"],["e1722337.719f3"],["c7842355.10658"],[],[],[],["fa53d23f.72a96"]]},{"id":"f4e42a21.dfef58","type":"debug","z":"103af39c.1b0a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":240,"wires":[]},{"id":"c7842355.10658","type":"change","z":"103af39c.1b0a4c","name":"setRefPointMarker","rules":[{"t":"set","p":"topic","pt":"msg","to":"setRefPointMarker","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":500,"wires":[["87bc9854.f5f638"]]},{"id":"6a0634b3.62424c","type":"link in","z":"103af39c.1b0a4c","name":"toFront","links":["87bc9854.f5f638"],"x":45,"y":180,"wires":[["7c03f1cb.3d57","f4e42a21.dfef58"]]},{"id":"87bc9854.f5f638","type":"link out","z":"103af39c.1b0a4c","name":"msg","links":["6a0634b3.62424c"],"x":955,"y":320,"wires":[]},{"id":"b46e72b3.f4e2e","type":"subflow:36b6cb51.94de54","z":"103af39c.1b0a4c","name":"","env":[],"x":480,"y":340,"wires":[["87bc9854.f5f638"],["cdfc0116.85c59"],["fa53d23f.72a96"]]},{"id":"1fc00459.062eec","type":"inject","z":"103af39c.1b0a4c","name":"initLayers","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"layers\":[\"16100\",\"16200\",\"16700\",\"49250\",\"49310\",\"49257\",\"49313\",\"49311\",\"49432\",\"49433\",\"49441\",\"49454\",\"50450\"]}","payloadType":"json","x":100,"y":60,"wires":[["f73a72b9.31689"]]},{"id":"f73a72b9.31689","type":"change","z":"103af39c.1b0a4c","name":"","rules":[{"t":"set","p":"layers","pt":"flow","to":"payload.layers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[[]]},{"id":"d732827f.b9cf3","type":"subflow:ae09cdac.fc71","z":"103af39c.1b0a4c","name":"","env":[],"x":480,"y":280,"wires":[["87bc9854.f5f638"],["cdfc0116.85c59"],["fa53d23f.72a96"]]},{"id":"32d75c26.8ca244","type":"change","z":"103af39c.1b0a4c","name":"set Layers","rules":[{"t":"set","p":"payload.layers","pt":"msg","to":"layers","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":280,"wires":[["d732827f.b9cf3"]]},{"id":"fa53d23f.72a96","type":"change","z":"103af39c.1b0a4c","name":"Set pairsError","rules":[{"t":"set","p":"pairsError","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["87bc9854.f5f638"]]},{"id":"3aeecbe5.995434","type":"switch","z":"103af39c.1b0a4c","name":"","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"ready for content","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["79cd6190.ebc5a","40355d01.d013b4"],[]]},{"id":"40355d01.d013b4","type":"change","z":"103af39c.1b0a4c","name":"","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"},{"t":"delete","p":"from","pt":"msg"},{"t":"delete","p":"cacheControl","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["79cd6190.ebc5a","87bc9854.f5f638"]]},{"id":"e1722337.719f3","type":"subflow:ec30a594.93ed18","z":"103af39c.1b0a4c","name":"Get AOIs","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/ws/queryaois/repository/search?name=","type":"str"},{"name":"urlSuffix","value":"%5C%5F","type":"str"}],"x":440,"y":400,"wires":[["87bc9854.f5f638"],["cdfc0116.85c59"],["fa53d23f.72a96"]]},{"id":"6716ad8d.3bef94","type":"subflow:ec30a594.93ed18","z":"291be7d6.2ebbf8","name":"Get AOIs","env":[{"name":"method","value":"GET","type":"str"},{"name":"url","value":"https://pairs.res.ibm.com/ws/queryaois/repository/search?name=","type":"str"},{"name":"urlSuffix","value":"%5C%5F","type":"str"}],"x":340,"y":680,"wires":[["69c9b194.640a8"],["428c06cf.3b63d8"],["b69232b0.bebb2"]]},{"id":"5bdbf7bc.229858","type":"inject","z":"291be7d6.2ebbf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FRA","payloadType":"str","x":120,"y":680,"wires":[["6716ad8d.3bef94"]]},{"id":"10889259.7b239e","type":"inject","z":"291be7d6.2ebbf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"county","payloadType":"str","x":110,"y":720,"wires":[["6716ad8d.3bef94"]]},{"id":"9d0cedad.224ed","type":"debug","z":"103af39c.1b0a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]}]